BACKFILL_2_Loom_to_Notion.json
{
  "name": "BACKFILL 2 - Loom Videos Sheet \u2192 Update Notion Contacts (One-Time)",
  "nodes": [
    {
      "parameters": {},
      "id": "bf2-node-1",
      "name": "Run Backfill",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "notes": "Click 'Execute Workflow' to backfill Loom Sent data from your existing Loom Videos Google Sheet into Notion. No manual export needed \u2014 reads directly from your existing sheet."
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fe-WP2VK2JD_e6CZw34k5lc5m9T3lYuJEwbkqQz0yKw",
          "mode": "list",
          "cachedResultName": "Master Social Media Automation - Content & Posting -v1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fe-WP2VK2JD_e6CZw34k5lc5m9T3lYuJEwbkqQz0yKw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 126409621,
          "mode": "list",
          "cachedResultName": "Loom Videos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fe-WP2VK2JD_e6CZw34k5lc5m9T3lYuJEwbkqQz0yKw/edit#gid=126409621"
        },
        "options": {}
      },
      "id": "bf2-node-2",
      "name": "Read Loom Videos Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        470,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wi6bAEK3LwBuXnNr",
          "name": "VV Google Sheets account"
        }
      },
      "notes": "Reads all rows from the existing Loom Videos sheet. Uses the same sheet/credential as WF0."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json['Done?'] || $json['Done'] || '' }}",
              "rightValue": "Done",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json['LI Profile'] || $json['LinkedIn URL'] || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "bf2-node-3",
      "name": "Filter: Done + Has LI Profile",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        690,
        300
      ],
      "notes": "Only processes rows where Loom script was completed (Done? = 'Done') AND has a LinkedIn Profile URL for matching."
    },
    {
      "parameters": {
        "options": {
          "reset": false
        },
        "batchSize": 1
      },
      "id": "bf2-node-4",
      "name": "Loop (1 at a time)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        910,
        300
      ],
      "notes": "Processes one contact at a time for Notion rate limiting."
    },
    {
      "id": "bf2-node-5",
      "name": "Find Notion Contact",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1130,
        300
      ],
      "credentials": {
        "notionApi": {
          "id": "YOUR_NOTION_CRED_ID",
          "name": "Notion account"
        }
      },
      "notes": "Finds the contact in Notion by LinkedIn Profile URL or Name.",
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "YOUR_NOTION_CONTACTS_DB_ID",
          "mode": "id"
        },
        "returnAll": true,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "LinkedIn Profile|url",
              "condition": "string:equals",
              "urlValue": "={{ $json['LI Profile'] || $json['LinkedIn URL'] || '' }}"
            },
            {
              "key": "Name|title",
              "condition": "string:equals",
              "titleValue": "={{ $json['Name'] || '' }}"
            }
          ],
          "combinator": "or"
        },
        "options": {
          "simple": false
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.id || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "bf2-node-6",
      "name": "Contact Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1350,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Check if we should advance to 'Loom Sent' status\n// Only advance if current status is Connection Sent or Connection Accepted\nconst STATUS_PRIORITY = {\n  'Connection Sent': 1,\n  'Connection Accepted': 2,\n  'Loom Sent': 3,\n  'Follow-Up Sequence': 4,\n  'Responded': 5,\n  'Pending Approval': 6,\n  'Meeting Booked': 7,\n  'Meeting Held': 8,\n  'Proposal Sent': 9,\n  'Contract Sent': 10,\n  'Project Started': 11,\n  'Declined': 0\n};\n\nconst contact = $('Find Notion Contact').first().json;\nconst currentStatus = contact?.properties?.Status?.select?.name || '';\nconst currentPriority = STATUS_PRIORITY[currentStatus] || 0;\nconst loomSentPriority = STATUS_PRIORITY['Loom Sent'];\n\n// Only update status if it would advance forward\nconst shouldUpdateStatus = loomSentPriority > currentPriority;\n\n// Get score data from sheet if available\nconst loopItem = $('Loop (1 at a time)').first().json;\n\nreturn [{\n  json: {\n    notion_page_id: contact.id,\n    current_status: currentStatus,\n    should_update_status: shouldUpdateStatus,\n    contact_name: contact?.properties?.Name?.title?.[0]?.text?.content || 'Unknown',\n    score: loopItem['Score'] || '',\n    tier: loopItem['Tier'] || '',\n    company: loopItem['Company'] || ''\n  }\n}];"
      },
      "id": "bf2-node-7",
      "name": "Status Priority Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1570,
        240
      ],
      "notes": "Only advances to 'Loom Sent' if current status is lower priority (Connection Sent or Connection Accepted). Never downgrades."
    },
    {
      "id": "bf2-node-8",
      "name": "Update Notion (Loom Sent)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1790,
        240
      ],
      "credentials": {
        "notionApi": {
          "id": "YOUR_NOTION_CRED_ID",
          "name": "Notion account"
        }
      },
      "notes": "Sets Loom Sent checkbox = true. Only updates Status to 'Loom Sent' if it would advance the contact forward.",
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": "={{ $json.notion_page_id }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Loom Sent|checkbox",
              "checkboxValue": true
            },
            {
              "key": "Status|select",
              "selectValue": "={{ $json.should_update_status ? 'Loom Sent' : $json.current_status }}"
            },
            {
              "key": "Last Contact Date|date",
              "dateValue": "={{ $now.toISO() }}",
              "includeTime": true
            }
          ]
        },
        "options": {}
      }
    },
    {
      "parameters": {
        "amount": 0.4
      },
      "id": "bf2-node-9",
      "name": "Rate Limit Delay",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2010,
        300
      ],
      "webhookId": "bf2-rate-limit",
      "notes": "400ms delay between updates for Notion rate limiting."
    }
  ],
  "pinData": {},
  "connections": {
    "Run Backfill": {
      "main": [
        [
          {
            "node": "Read Loom Videos Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Loom Videos Sheet": {
      "main": [
        [
          {
            "node": "Filter: Done + Has LI Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Done + Has LI Profile": {
      "main": [
        [
          {
            "node": "Loop (1 at a time)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop (1 at a time)": {
      "main": [
        [],
        [
          {
            "node": "Find Notion Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Notion Contact": {
      "main": [
        [
          {
            "node": "Contact Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Found?": {
      "main": [
        [
          {
            "node": "Status Priority Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rate Limit Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Priority Check": {
      "main": [
        [
          {
            "node": "Update Notion (Loom Sent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Notion (Loom Sent)": {
      "main": [
        [
          {
            "node": "Rate Limit Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Delay": {
      "main": [
        [
          {
            "node": "Loop (1 at a time)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "bf2-v1-0",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "",
  "tags": [
    {
      "name": "Backfill"
    }
  ]
}