WF0_Lead_Scoring.json
{
  "name": "WF0 - Lead Scoring & Tiering (LinkedIn → Apollo → Score → Google Sheet)",
  "nodes": [
    {
      "parameters": {},
      "id": "wf0-node-1",
      "name": "Score Leads Now",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "notes": "Click 'Test workflow' or 'Execute' to run lead scoring on-demand. Processes only unscored rows so you can run it multiple times as you add new leads."
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "mode": "id", "value": "YOUR_GOOGLE_SHEET_ID" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Sheet1" },
        "options": {}
      },
      "id": "wf0-node-2",
      "name": "Read Lead Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [470, 300],
      "notes": "Replace YOUR_GOOGLE_SHEET_ID with your Google Sheet ID. Expected columns: Name, LinkedIn URL, Loom Script, Company (optional), Title (optional), Score (empty = unscored), Tier (empty = untiered). The workflow fills in Score, Tier, Employee Count, Revenue Est, and Industry."
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.Score }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "wf0-node-3",
      "name": "Filter Unscored",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [690, 300],
      "notes": "Only processes leads that don't have a Score yet. This makes the workflow incremental — run it again after adding new leads and it skips already-scored rows."
    },
    {
      "parameters": {
        "jsCode": "// Extract company slug and person info from LinkedIn URL\n// Expected LinkedIn URL formats:\n//   https://www.linkedin.com/in/john-doe-123abc/\n//   https://linkedin.com/in/john-doe/\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const row = item.json;\n  const linkedinUrl = (row['LinkedIn URL'] || row['LinkedIn url'] || row['linkedin_url'] || '').trim();\n  const name = (row['Name'] || row['name'] || '').trim();\n  const company = (row['Company'] || row['company'] || '').trim();\n  const title = (row['Title'] || row['title'] || '').trim();\n  const loomScript = (row['Loom Script'] || row['loom_script'] || row['Script'] || '').trim();\n\n  // Extract LinkedIn slug\n  let linkedinSlug = '';\n  const slugMatch = linkedinUrl.match(/linkedin\\.com\\/in\\/([^/?]+)/);\n  if (slugMatch) {\n    linkedinSlug = slugMatch[1].replace(/\\/$/, '');\n  }\n\n  // Parse first/last name\n  const nameParts = name.split(/\\s+/);\n  const firstName = nameParts[0] || '';\n  const lastName = nameParts.slice(1).join(' ') || '';\n\n  // Row number for writing back (Google Sheets is 1-indexed, +1 for header)\n  // n8n returns rows with a __rowIndex or we track position\n  const rowIndex = item.json['__rowIndex'] || item.json['row_number'] || 0;\n\n  results.push({\n    json: {\n      original_row: row,\n      row_index: rowIndex,\n      name: name,\n      first_name: firstName,\n      last_name: lastName,\n      linkedin_url: linkedinUrl,\n      linkedin_slug: linkedinSlug,\n      company: company,\n      title: title,\n      loom_script: loomScript\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "wf0-node-4",
      "name": "Parse Lead Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300],
      "notes": "Extracts LinkedIn slug, first/last name, and preserves row index for writing scores back. Handles common column name variations."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/v1/people/match",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"first_name\": \"{{ $json.first_name }}\",\n  \"last_name\": \"{{ $json.last_name }}\",\n  \"linkedin_url\": \"{{ $json.linkedin_url }}\",\n  \"reveal_personal_emails\": false,\n  \"reveal_phone_number\": false\n}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": { "response": { "responseFormat": "json" } },
          "timeout": 10000
        }
      },
      "id": "wf0-node-5",
      "name": "Apollo Enrichment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 300],
      "notes": "Apollo.io People Match API (free tier: 10,000 records/month for enrichment). Set up HTTP Header Auth credential: Header Name = 'x-api-key', Header Value = YOUR_APOLLO_API_KEY. Sign up at app.apollo.io — the free plan includes enrichment credits. If you hit rate limits, add a Wait node before this (1-2 sec delay).",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Merge Apollo enrichment data with lead data and compute score\n// IMPORTANT: Use $('Loop Over Leads') not $('Parse Lead Data') to get current batch item\nconst lead = $('Loop Over Leads').first().json;\nconst apollo = $input.first().json;\n\n// Detect Apollo failure — if response has no 'person' key, it's likely an error\nconst person = apollo.person || {};\nconst apolloFailed = !apollo.person;\nconst org = person.organization || {};\n\nconst employeeCount = org.estimated_num_employees || org.employee_count || 0;\n// Parse revenue robustly — Apollo may return string, number, or null\nlet revenue = 0;\nconst rawRevenue = org.annual_revenue || org.estimated_annual_revenue || 0;\nif (typeof rawRevenue === 'string') {\n  revenue = parseInt(rawRevenue.replace(/[^0-9]/g, ''), 10) || 0;\n} else {\n  revenue = Number(rawRevenue) || 0;\n}\nconst revenueStr = org.annual_revenue_printed || '';\nconst industry = org.industry || '';\nconst companyName = org.name || lead.company || '';\nconst personTitle = person.title || lead.title || '';\nconst city = person.city || '';\nconst state = person.state || '';\nconst country = person.country || '';\nconst companyWebsite = org.website_url || org.primary_domain || '';\nconst foundedYear = org.founded_year || 0;\nconst seniority = person.seniority || '';\n\n// ============ SCORING ALGORITHM (max 20 pts) ============\n// Tuned for ICP-qualified leads (all are veteran biz owners, 10-200 employees)\nlet score = 0;\nlet scoreBreakdown = [];\n\nif (apolloFailed) {\n  scoreBreakdown.push('Apollo enrichment failed');\n}\n\n// 1. Employee Count (max 5 pts) — compressed ICP range for better spread\nif (employeeCount >= 50 && employeeCount <= 200) {\n  score += 5;\n  scoreBreakdown.push('Employees 50-200: +5');\n} else if (employeeCount >= 20 && employeeCount < 50) {\n  score += 4;\n  scoreBreakdown.push('Employees 20-49: +4');\n} else if (employeeCount >= 10 && employeeCount < 20) {\n  score += 3;\n  scoreBreakdown.push('Employees 10-19: +3');\n} else if (employeeCount > 200) {\n  score += 3;\n  scoreBreakdown.push('Employees 200+: +3');\n} else if (employeeCount > 0) {\n  score += 1;\n  scoreBreakdown.push('Employees <10: +1');\n} else {\n  scoreBreakdown.push('Employees unknown: +0');\n}\n\n// 2. Revenue (max 5 pts) — with baseline for ICP-range companies with unknown revenue\nif (revenue >= 10000000) {\n  score += 5;\n  scoreBreakdown.push('Revenue $10M+: +5');\n} else if (revenue >= 5000000) {\n  score += 4;\n  scoreBreakdown.push('Revenue $5-10M: +4');\n} else if (revenue >= 1000000) {\n  score += 3;\n  scoreBreakdown.push('Revenue $1-5M: +3');\n} else if (revenue > 0) {\n  score += 1;\n  scoreBreakdown.push('Revenue <$1M: +1');\n} else if (employeeCount >= 10) {\n  // Revenue unknown but employee count confirms ICP range — don't penalize\n  score += 2;\n  scoreBreakdown.push('Revenue unknown (ICP baseline): +2');\n} else {\n  scoreBreakdown.push('Revenue unknown: +0');\n}\n\n// 3. Title / Seniority (max 3 pts) — decision-maker signal\nconst titleLower = personTitle.toLowerCase();\nconst seniorityLower = seniority.toLowerCase();\nif (titleLower.includes('ceo') || titleLower.includes('founder') || titleLower.includes('owner') || seniorityLower === 'founder') {\n  score += 3;\n  scoreBreakdown.push('CEO/Founder/Owner: +3');\n} else if (titleLower.includes('coo') || titleLower.includes('president') || titleLower.includes('vp') || titleLower.includes('vice president') || seniorityLower === 'c_suite') {\n  score += 2;\n  scoreBreakdown.push('COO/President/VP: +2');\n} else if (titleLower.includes('director') || titleLower.includes('head of') || seniorityLower === 'director') {\n  score += 1;\n  scoreBreakdown.push('Director/Head: +1');\n} else if (personTitle) {\n  scoreBreakdown.push('Other title: +0');\n} else {\n  scoreBreakdown.push('Title unknown: +0');\n}\n\n// 4. Industry fit (max 3 pts) — services/ops-heavy = more automation need\nconst industryLower = industry.toLowerCase();\nconst highFitIndustries = ['construction', 'logistics', 'transportation', 'real estate', 'insurance', 'financial services', 'consulting', 'staffing', 'recruiting', 'healthcare', 'home services', 'property management', 'facilities', 'legal', 'accounting', 'marketing', 'government', 'defense', 'security', 'protective services', 'cleaning', 'janitorial'];\nconst medFitIndustries = ['manufacturing', 'retail', 'e-commerce', 'education', 'technology', 'software', 'information technology', 'telecommunications', 'food', 'restaurant', 'fitness', 'wellness'];\n\nif (highFitIndustries.some(i => industryLower.includes(i))) {\n  score += 3;\n  scoreBreakdown.push('High-fit industry: +3');\n} else if (medFitIndustries.some(i => industryLower.includes(i))) {\n  score += 2;\n  scoreBreakdown.push('Medium-fit industry: +2');\n} else if (industry) {\n  score += 1;\n  scoreBreakdown.push('Other industry: +1');\n} else {\n  scoreBreakdown.push('Industry unknown: +0');\n}\n\n// 5. Company maturity (max 2 pts) — both growth-stage and mature are valuable\nconst currentYear = new Date().getFullYear();\nconst companyAge = foundedYear ? currentYear - foundedYear : 0;\nif (companyAge >= 2 && companyAge <= 10) {\n  score += 2;\n  scoreBreakdown.push('Company age 2-10yr (scaling): +2');\n} else if (companyAge > 10 && companyAge <= 25) {\n  score += 2;\n  scoreBreakdown.push('Company age 11-25yr (automation debt): +2');\n} else if (companyAge > 25 && companyAge <= 40) {\n  score += 1;\n  scoreBreakdown.push('Company age 26-40yr: +1');\n} else if (foundedYear) {\n  scoreBreakdown.push('Company <2yr or >40yr: +0');\n} else {\n  score += 1;\n  scoreBreakdown.push('Founded year unknown: +1');\n}\n\n// 6. Loom Script prepared (max 2 pts) — existing human research signal\nif (lead.loom_script && lead.loom_script.length > 20) {\n  score += 2;\n  scoreBreakdown.push('Loom script ready: +2');\n} else if (lead.loom_script && lead.loom_script.length > 0) {\n  score += 1;\n  scoreBreakdown.push('Loom script partial: +1');\n} else {\n  scoreBreakdown.push('No Loom script: +0');\n}\n\n// ============ TIER ASSIGNMENT ============\n// Max possible: 5 + 5 + 3 + 3 + 2 + 2 = 20\n// Thresholds raised for ICP-qualified leads to create real spread\nlet tier = '';\nlet outreachType = '';\nif (score >= 15) {\n  tier = 'Tier 1';\n  outreachType = 'Loom Video (Priority)';\n} else if (score >= 11) {\n  tier = 'Tier 2';\n  outreachType = 'Loom Video';\n} else if (score >= 7) {\n  tier = 'Tier 3';\n  outreachType = 'Personalized Text';\n} else {\n  tier = 'Tier 4';\n  outreachType = 'Template Outreach';\n}\n\nreturn [{\n  json: {\n    // Original data\n    name: lead.name,\n    first_name: lead.first_name,\n    last_name: lead.last_name,\n    linkedin_url: lead.linkedin_url,\n    row_index: lead.row_index,\n    // Enrichment\n    company_name: companyName,\n    person_title: personTitle,\n    employee_count: employeeCount,\n    annual_revenue: revenue,\n    revenue_display: revenueStr || (revenue ? '$' + (revenue / 1000000).toFixed(1) + 'M' : 'Unknown'),\n    industry: industry,\n    company_website: companyWebsite,\n    founded_year: foundedYear,\n    location: [city, state, country].filter(Boolean).join(', '),\n    seniority: seniority,\n    // Scoring\n    score: score,\n    max_score: 20,\n    tier: tier,\n    outreach_type: outreachType,\n    score_breakdown: scoreBreakdown.join(' | '),\n    apollo_failed: apolloFailed\n  }\n}];"
      },
      "id": "wf0-node-6",
      "name": "Score & Tier Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 300],
      "notes": "Scoring algorithm (max 20 pts) — tuned for ICP-qualified leads:\n• Employee count (0-5 pts) — compressed ICP range: 50-200=5, 20-49=4, 10-19=3, 200+=3\n• Revenue (0-5 pts) — ICP baseline of 2 pts when unknown but employees confirm fit\n• Title/seniority (0-3 pts) — CEO/Founder highest\n• Industry fit (0-3 pts) — includes veteran-heavy verticals (govt, security, transportation)\n• Company maturity (0-2 pts) — both growth-stage and mature score well\n• Loom Script ready (0-2 pts) — rewards existing human research\n\nTiers (raised thresholds for ICP spread):\n• Tier 1 (15+): Loom Video Priority — top prospects\n• Tier 2 (11-14): Loom Video\n• Tier 3 (7-10): Personalized Text\n• Tier 4 (<7): Template Outreach"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "mode": "id", "value": "YOUR_GOOGLE_SHEET_ID" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Sheet1" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.name }}",
            "Score": "={{ $json.score }}",
            "Tier": "={{ $json.tier }}",
            "Outreach Type": "={{ $json.outreach_type }}",
            "Employee Count": "={{ $json.employee_count }}",
            "Revenue Est": "={{ $json.revenue_display }}",
            "Industry": "={{ $json.industry }}",
            "Company": "={{ $json.company_name }}",
            "Title": "={{ $json.person_title }}",
            "Location": "={{ $json.location }}",
            "Score Breakdown": "={{ $json.score_breakdown }}"
          },
          "matchingColumns": ["Name"]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "wf0-node-7",
      "name": "Write Scores to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1570, 300],
      "notes": "Writes enrichment data and scores back to the Google Sheet. Add these columns to your sheet header row: Score, Tier, Outreach Type, Employee Count, Revenue Est, Industry, Company, Title, Location, Score Breakdown. The workflow matches rows by the 'Name' column."
    },
    {
      "parameters": {
        "jsCode": "// Build scoring summary from accumulated results\n// NOTE: This relies on executionOrder v1 where $('NodeName').all() accumulates\n// across splitInBatches iterations. If this breaks, switch to reading the\n// updated Google Sheet directly instead.\nconst allScored = $('Score & Tier Lead').all();\n\nlet tier1 = 0;\nlet tier2 = 0;\nlet tier3 = 0;\nlet tier4 = 0;\nlet unscored = 0;\nlet totalScore = 0;\nlet topLeads = [];\n\nfor (const item of allScored) {\n  const lead = item.json;\n  totalScore += lead.score;\n  topLeads.push({ name: lead.name, score: lead.score, tier: lead.tier, company: lead.company_name || '?', employees: lead.employee_count || '?' });\n  \n  switch(lead.tier) {\n    case 'Tier 1': tier1++; break;\n    case 'Tier 2': tier2++; break;\n    case 'Tier 3': tier3++; break;\n    case 'Tier 4': tier4++; break;\n    default: unscored++; break;\n  }\n}\n\nconst total = allScored.length;\nconst avgScore = total > 0 ? (totalScore / total).toFixed(1) : 0;\n\n// Top 10 by score — use first name + last initial for Slack privacy\ntopLeads.sort((a, b) => b.score - a.score);\nconst top10 = topLeads.slice(0, 10)\n  .map((l, i) => {\n    const parts = l.name.split(' ');\n    const display = parts[0] + (parts[1] ? ' ' + parts[1][0] + '.' : '');\n    return `${i + 1}. ${display} — *${l.score}/20* (${l.tier}) — ${l.employees} employees`;\n  })\n  .join('\\n');\n\nconst loomCount = tier1 + tier2;\nconst loomMinutes = loomCount * 3;\nconst loomHours = (loomMinutes / 60).toFixed(1);\n\nconst summary = `:bar_chart: *Lead Scoring Complete*\\n\\n` +\n  `*${total} leads scored* | Avg score: ${avgScore}/20\\n\\n` +\n  `:fire: *Tier 1 — Loom Priority* (15+): ${tier1} leads\\n` +\n  `:movie_camera: *Tier 2 — Loom Video* (11-14): ${tier2} leads\\n` +\n  `:memo: *Tier 3 — Personalized Text* (7-10): ${tier3} leads\\n` +\n  `:envelope: *Tier 4 — Template* (<7): ${tier4} leads\\n` +\n  (unscored > 0 ? `:warning: *Unscored (Apollo failed):* ${unscored} leads — review in sheet\\n` : '') +\n  `\\n:clock3: *Estimated Loom time:* ${loomCount} videos × 3 min = *${loomHours} hours*\\n\\n` +\n  `---\\n:trophy: *Top 10:*\\n${top10}\\n\\n_Full details in the Google Sheet._`;\n\nreturn [{ json: { summary, total, tier1_count: tier1, tier2_count: tier2, tier3_count: tier3, tier4_count: tier4, unscored_count: unscored, loom_count: loomCount, loom_hours: loomHours } }];"
      },
      "id": "wf0-node-8",
      "name": "Build Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1790, 300],
      "notes": "Aggregates scoring results into a summary with tier breakdown, time estimates for Loom videos, and top 10 leads by score."
    },
    {
      "parameters": {
        "channel": "#onboarding-alerts",
        "text": "={{ $json.summary }}",
        "otherOptions": {}
      },
      "id": "wf0-node-9",
      "name": "Post Scoring Summary",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [2010, 300],
      "notes": "Posts the scoring summary to #onboarding-alerts so Anthony knows which leads to prioritize for Loom videos."
    },
    {
      "parameters": {
        "jsCode": "// Handle Apollo API errors gracefully\n// Routes here when Apollo returns HTTP error (rate limit, no match, network error)\n// Uses $('Loop Over Leads') to get current batch item — NOT $('Parse Lead Data')\nconst lead = $('Loop Over Leads').first().json;\n\nlet score = 0;\nlet scoreBreakdown = ['Apollo enrichment failed — scoring from sheet data only'];\n\n// Score what we can from the sheet\nconst titleLower = (lead.title || '').toLowerCase();\nif (titleLower.includes('ceo') || titleLower.includes('founder') || titleLower.includes('owner')) {\n  score += 3;\n  scoreBreakdown.push('CEO/Founder/Owner (from sheet): +3');\n} else if (titleLower.includes('coo') || titleLower.includes('president') || titleLower.includes('vp')) {\n  score += 2;\n  scoreBreakdown.push('COO/President/VP (from sheet): +2');\n}\n\n// If company is in the sheet, +1\nif (lead.company) {\n  score += 1;\n  scoreBreakdown.push('Company name present: +1');\n}\n\n// Loom script present — human research signal\nif (lead.loom_script && lead.loom_script.length > 20) {\n  score += 2;\n  scoreBreakdown.push('Loom script ready: +2');\n} else if (lead.loom_script && lead.loom_script.length > 0) {\n  score += 1;\n  scoreBreakdown.push('Loom script partial: +1');\n}\n\n// Use the SAME tier thresholds as main algorithm (max 20)\nlet tier = 'Unscored';\nlet outreachType = 'Needs Manual Review';\n\nreturn [{\n  json: {\n    name: lead.name,\n    first_name: lead.first_name,\n    last_name: lead.last_name,\n    linkedin_url: lead.linkedin_url,\n    row_index: lead.row_index,\n    company_name: lead.company || '',\n    person_title: lead.title || '',\n    employee_count: 0,\n    annual_revenue: 0,\n    revenue_display: 'Unknown',\n    industry: '',\n    company_website: '',\n    founded_year: 0,\n    location: '',\n    seniority: '',\n    score: score,\n    max_score: 20,\n    tier: tier,\n    outreach_type: outreachType,\n    score_breakdown: scoreBreakdown.join(' | '),\n    apollo_failed: true\n  }\n}];"
      },
      "id": "wf0-node-10",
      "name": "Fallback Score (No Apollo)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 500],
      "notes": "If Apollo enrichment fails (rate limit, no match, API error), this fallback scores the lead using only data from the Google Sheet. These leads get flagged for manual review."
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      },
      "id": "wf0-node-11",
      "name": "Loop Over Leads",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1010, 300],
      "notes": "Processes leads one at a time to respect Apollo API rate limits (free tier). If you have a paid Apollo plan, increase batchSize for faster processing."
    },
    {
      "parameters": {
        "jsCode": "// Inline delay to respect Apollo rate limits without breaking splitInBatches loop state\n// The Wait node (n8n-nodes-base.wait) suspends execution to a 'waiting' state which\n// breaks loop context. This Code node delays inline within the same execution.\nconst delay = ms => new Promise(resolve => setTimeout(resolve, ms));\nawait delay(1500);\nreturn $input.all();"
      },
      "id": "wf0-node-12",
      "name": "Rate Limit Delay",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1790, 500],
      "notes": "1.5 second inline delay between Apollo API calls. Uses a Code node instead of a Wait node because the Wait node suspends execution state which breaks the splitInBatches loop. Remove or reduce delay if you have a paid Apollo plan."
    }
  ],
  "connections": {
    "Score Leads Now": {
      "main": [[{ "node": "Read Lead Sheet", "type": "main", "index": 0 }]]
    },
    "Read Lead Sheet": {
      "main": [[{ "node": "Filter Unscored", "type": "main", "index": 0 }]]
    },
    "Filter Unscored": {
      "main": [[{ "node": "Parse Lead Data", "type": "main", "index": 0 }]]
    },
    "Parse Lead Data": {
      "main": [[{ "node": "Loop Over Leads", "type": "main", "index": 0 }]]
    },
    "Loop Over Leads": {
      "main": [
        [{ "node": "Build Summary", "type": "main", "index": 0 }],
        [{ "node": "Apollo Enrichment", "type": "main", "index": 0 }]
      ]
    },
    "Apollo Enrichment": {
      "main": [
        [{ "node": "Score & Tier Lead", "type": "main", "index": 0 }],
        [{ "node": "Fallback Score (No Apollo)", "type": "main", "index": 0 }]
      ]
    },
    "Score & Tier Lead": {
      "main": [[{ "node": "Write Scores to Sheet", "type": "main", "index": 0 }]]
    },
    "Write Scores to Sheet": {
      "main": [[{ "node": "Rate Limit Delay", "type": "main", "index": 0 }]]
    },
    "Rate Limit Delay": {
      "main": [[{ "node": "Loop Over Leads", "type": "main", "index": 0 }]]
    },
    "Fallback Score (No Apollo)": {
      "main": [[{ "node": "Write Scores to Sheet", "type": "main", "index": 0 }]]
    },
    "Build Summary": {
      "main": [[{ "node": "Post Scoring Summary", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "Veteran Vectors Pipeline" }]
}
