WF0_Lead_Scoring.json
{
  "name": "Lead Gen WF0 \u2014 Lead Score & Loom Script Generator",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "id": "wf0-node-1",
      "name": "Score & Script Leads"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fe-WP2VK2JD_e6CZw34k5lc5m9T3lYuJEwbkqQz0yKw",
          "mode": "list",
          "cachedResultName": "Master Social Media Automation - Content & Posting -v1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fe-WP2VK2JD_e6CZw34k5lc5m9T3lYuJEwbkqQz0yKw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 126409621,
          "mode": "list",
          "cachedResultName": "Loom Videos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fe-WP2VK2JD_e6CZw34k5lc5m9T3lYuJEwbkqQz0yKw/edit#gid=126409621"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Run",
              "lookupValue": "Yes"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.0,
      "position": [
        470,
        300
      ],
      "id": "wf0-node-2",
      "name": "Read Loom Videos Sheet",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wi6bAEK3LwBuXnNr",
          "name": "VV Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        690,
        300
      ],
      "id": "wf0-node-3",
      "name": "Wait",
      "webhookId": "76e94d6b-879f-4a73-99f7-70bacd3e6501"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fe-WP2VK2JD_e6CZw34k5lc5m9T3lYuJEwbkqQz0yKw",
          "mode": "list",
          "cachedResultName": "Master Social Media Automation - Content & Posting -v1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fe-WP2VK2JD_e6CZw34k5lc5m9T3lYuJEwbkqQz0yKw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1821875734,
          "mode": "list",
          "cachedResultName": "Prompts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fe-WP2VK2JD_e6CZw34k5lc5m9T3lYuJEwbkqQz0yKw/edit#gid=1821875734"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "N:N"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.0,
      "position": [
        910,
        300
      ],
      "id": "wf0-node-4",
      "name": "Read Prompts",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wi6bAEK3LwBuXnNr",
          "name": "VV Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1fe-WP2VK2JD_e6CZw34k5lc5m9T3lYuJEwbkqQz0yKw",
          "mode": "list",
          "cachedResultName": "Master Social Media Automation - Content & Posting -v1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fe-WP2VK2JD_e6CZw34k5lc5m9T3lYuJEwbkqQz0yKw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 126409621,
          "mode": "list",
          "cachedResultName": "Loom Videos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fe-WP2VK2JD_e6CZw34k5lc5m9T3lYuJEwbkqQz0yKw/edit#gid=126409621"
        },
        "event": "rowUpdate",
        "options": {
          "columnsToWatch": [
            "Run"
          ]
        }
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        250,
        520
      ],
      "id": "wf0-node-5",
      "name": "Google Sheets Trigger",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "uIBJOZhW3WjUilpV",
          "name": "VV Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-run-yes",
              "leftValue": "={{ $json.Run }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "cond-name-exists",
              "leftValue": "={{ $json.Name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        470,
        520
      ],
      "id": "wf0-node-6",
      "name": "If Run=Yes"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        690,
        520
      ],
      "id": "wf0-node-7",
      "name": "Wait1",
      "webhookId": "cd7a819d-0930-4be1-b65f-690896d7cd44"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fe-WP2VK2JD_e6CZw34k5lc5m9T3lYuJEwbkqQz0yKw",
          "mode": "list",
          "cachedResultName": "Master Social Media Automation - Content & Posting -v1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fe-WP2VK2JD_e6CZw34k5lc5m9T3lYuJEwbkqQz0yKw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1821875734,
          "mode": "list",
          "cachedResultName": "Prompts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fe-WP2VK2JD_e6CZw34k5lc5m9T3lYuJEwbkqQz0yKw/edit#gid=1821875734"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "N:N"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.0,
      "position": [
        910,
        520
      ],
      "id": "wf0-node-8",
      "name": "Read Prompts (Trigger)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wi6bAEK3LwBuXnNr",
          "name": "VV Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let results = [];\n\n// Manual branch\ntry {\n  const prompts = $('Read Prompts').all();\n  const liDeets = $('Read Loom Videos Sheet').all();\n  results = prompts.map((prompt, i) => {\n    return { json: { ...liDeets[i]?.json, ...prompt.json } };\n  });\n} catch(e) {}\n\n// Google Sheets Trigger branch\ntry {\n  const prompts1 = $('Read Prompts (Trigger)').all();\n  const if1Data = $('If Run=Yes').all();\n  const gsResults = prompts1.map((prompt, i) => {\n    return { json: { ...if1Data[i]?.json, ...prompt.json } };\n  });\n  results = results.concat(gsResults);\n} catch(e) {}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1130,
        400
      ],
      "id": "wf0-node-9",
      "name": "Merge Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-not-done",
              "leftValue": "={{ $json['Done?'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1350,
        400
      ],
      "id": "wf0-node-10",
      "name": "Filter Not Done"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1570,
        400
      ],
      "id": "wf0-node-11",
      "name": "Loop Over Items",
      "notes": "Processes leads one at a time. Apify and Claude each need time per lead."
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "2SyF0bVxmgGr8IVCZ",
          "mode": "list",
          "cachedResultName": "\u2728Mass Linkedin Profile Scraper with Email \ud83d\udce7 (No Cookies) (dev_fusion/Linkedin-Profile-Scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/2SyF0bVxmgGr8IVCZ/input"
        },
        "customBody": "={\n    \"profileUrls\": [\n        \"{{ $json['LI Profile'] }}\"\n    ]\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        1790,
        400
      ],
      "id": "wf0-node-12",
      "name": "Apify LinkedIn Scrape",
      "credentials": {
        "apifyApi": {
          "id": "8HrOAzWZHeGNrHbZ",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-5-20250929",
          "mode": "list",
          "cachedResultName": "claude-sonnet-4-5-20250929"
        },
        "messages": {
          "values": [
            {
              "content": "=Estimate the annual revenue for this company. Use your knowledge of the industry, company size, and comparable companies.\n\nCompany: {{ $json.experiences?.[0]?.companyName ?? 'Unknown' }}\nEmployee Count (from LinkedIn): {{ $json.experiences?.[0]?.companyEmployees ?? $json.experiences?.[0]?.companySize ?? $json.experiences?.[0]?.companyStaffCountRange ?? $json.experiences?.[0]?.companyEmployeeCount ?? $json.companySize ?? $json.employeesCount ?? 'Unknown' }}\nTitle of Contact: {{ $json.experiences?.[0]?.title ?? 'Unknown' }}\nCompany Description: {{ $json.experiences?.[0]?.jobDescription ?? 'No description available' }}\nHeadline: {{ $json.headline }}\n\nRespond with ONLY a JSON object, no other text:\n{\n  \"revenue_estimate\": <number in USD, integer, no commas>,\n  \"confidence\": \"<low|medium|high>\",\n  \"reasoning\": \"<one sentence>\"\n}"
            }
          ]
        },
        "options": {
          "maxTokensToSample": 200,
          "temperature": 0.1,
          "systemMessage": "You are a revenue estimation assistant. Given a company name, employee count, industry, and description, estimate annual revenue in USD. Use these heuristics:\n- Revenue per employee varies by industry: SaaS ~$200-300K, services ~$100-200K, manufacturing ~$150-250K, retail ~$150-200K.\n- Apply maturity adjustments: startups (<5yr) skew lower, established companies skew higher.\n- If employee count is unknown, estimate from the company description and title seniority.\n- Never return 0 \u2014 always provide your best estimate.\n- Return ONLY valid JSON. No markdown, no explanation outside the JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        2010,
        400
      ],
      "id": "wf0-node-17",
      "name": "Estimate Revenue",
      "credentials": {
        "anthropicApi": {
          "id": "au1c518sMzUt89ul",
          "name": "VV Claude"
        }
      },
      "notes": "Lightweight Claude call to estimate company revenue from Apify profile data. Uses industry heuristics and revenue-per-employee benchmarks. Returns JSON with revenue_estimate, confidence, and reasoning. Max 200 tokens \u2014 fast and cheap."
    },
    {
      "parameters": {
        "jsCode": "// Score lead from Apify data + Claude revenue estimate\n// Scoring: employee count (0-5) + revenue (0-5) + title (0-3) = max 13 pts\nconst revenueResponse = $input.first().json;\nconst apify = $('Apify LinkedIn Scrape').first().json;\nconst lead = $('Loop Over Items').first().json;\n\n// === PARSE CLAUDE REVENUE ESTIMATE ===\nlet revenue = 0;\nlet revenueConfidence = 'none';\nlet revenueReasoning = '';\ntry {\n  const responseText = revenueResponse.content?.[0]?.text || revenueResponse.text || '';\n  // Strip markdown code fences if present\n  const cleaned = responseText.replace(/```json\\n?|```\\n?/g, '').trim();\n  const parsed = JSON.parse(cleaned);\n  revenue = Number(parsed.revenue_estimate) || 0;\n  revenueConfidence = parsed.confidence || 'unknown';\n  revenueReasoning = parsed.reasoning || '';\n} catch(e) {\n  revenueReasoning = 'Failed to parse revenue estimate';\n}\n\n// === EXTRACT DATA FROM APIFY SCRAPE ===\nconst personTitle = apify.experiences?.[0]?.title || apify.headline || '';\nconst companyName = apify.experiences?.[0]?.companyName || '';\nconst fullName = apify.fullName || lead.Name || '';\n\n// Parse employee count from Apify\nlet employeeCount = 0;\nconst empSources = [\n  apify.experiences?.[0]?.companyEmployees,\n  apify.experiences?.[0]?.companySize,\n  apify.experiences?.[0]?.companyStaffCountRange,\n  apify.experiences?.[0]?.companyEmployeeCount,\n  apify.companySize,\n  apify.employeesCount\n];\nfor (const empRaw of empSources) {\n  if (empRaw == null) continue;\n  if (typeof empRaw === 'number' && empRaw > 0) {\n    employeeCount = empRaw;\n    break;\n  }\n  if (typeof empRaw === 'string') {\n    const rangeMatch = empRaw.match(/(\\d[\\d,]*)\\s*[-\u2013]\\s*(\\d[\\d,]*)/);\n    if (rangeMatch) {\n      const low = parseInt(rangeMatch[1].replace(/,/g, ''));\n      const high = parseInt(rangeMatch[2].replace(/,/g, ''));\n      employeeCount = Math.round((low + high) / 2);\n      break;\n    }\n    const numMatch = empRaw.match(/(\\d[\\d,]*)/);\n    if (numMatch) {\n      employeeCount = parseInt(numMatch[1].replace(/,/g, ''));\n      break;\n    }\n  }\n}\n\n// ============ SCORING ALGORITHM (max 13 pts) ============\nlet score = 0;\nlet scoreBreakdown = [];\n\n// 1. Employee Count (max 5 pts)\nif (employeeCount >= 50 && employeeCount <= 200) {\n  score += 5; scoreBreakdown.push('Employees 50-200: +5');\n} else if (employeeCount >= 20 && employeeCount < 50) {\n  score += 4; scoreBreakdown.push('Employees 20-49: +4');\n} else if (employeeCount >= 10 && employeeCount < 20) {\n  score += 3; scoreBreakdown.push('Employees 10-19: +3');\n} else if (employeeCount > 200) {\n  score += 3; scoreBreakdown.push('Employees 200+: +3');\n} else if (employeeCount >= 5 && employeeCount < 10) {\n  score += 2; scoreBreakdown.push('Employees 5-9 (below ICP): +2');\n} else if (employeeCount > 0) {\n  score += 1; scoreBreakdown.push('Employees <5: +1');\n} else {\n  scoreBreakdown.push('Employees unknown: +0');\n}\n\n// 2. Revenue (max 5 pts) \u2014 from Claude estimate\nif (revenue >= 10000000) {\n  score += 5; scoreBreakdown.push('Revenue $10M+ (est ' + revenueConfidence + '): +5');\n} else if (revenue >= 5000000) {\n  score += 4; scoreBreakdown.push('Revenue $5-10M (est ' + revenueConfidence + '): +4');\n} else if (revenue >= 1000000) {\n  score += 3; scoreBreakdown.push('Revenue $1-5M (est ' + revenueConfidence + '): +3');\n} else if (revenue > 0) {\n  score += 1; scoreBreakdown.push('Revenue <$1M (est ' + revenueConfidence + '): +1');\n} else {\n  scoreBreakdown.push('Revenue unknown: +0');\n}\n\n// 3. Title (max 3 pts)\nconst titleLower = personTitle.toLowerCase();\nif (/\\b(ceo|founder|co-founder|owner)\\b/.test(titleLower)) {\n  score += 3; scoreBreakdown.push('CEO/Founder/Owner: +3');\n} else if (/\\b(coo|president|vp|vice president|chief)\\b/.test(titleLower)) {\n  score += 2; scoreBreakdown.push('COO/President/VP/Chief: +2');\n} else if (/\\b(director|head of)\\b/.test(titleLower)) {\n  score += 1; scoreBreakdown.push('Director/Head: +1');\n} else if (personTitle) {\n  scoreBreakdown.push('Other title: +0');\n} else {\n  scoreBreakdown.push('Title unknown: +0');\n}\n\n// ============ FLAGS ============\nconst flags = [];\nif (employeeCount > 0 && employeeCount < 10) {\n  flags.push('BELOW ICP: ' + employeeCount + ' employees');\n}\n\n// ============ TIER ASSIGNMENT ============\nlet tier, outreachType;\nif (score >= 10) {\n  tier = 'Tier 1'; outreachType = 'Loom Video (Priority)';\n} else if (score >= 7) {\n  tier = 'Tier 2'; outreachType = 'Loom Video';\n} else if (score >= 4) {\n  tier = 'Tier 3'; outreachType = 'Personalized Text';\n} else {\n  tier = 'Tier 4'; outreachType = 'Template Outreach';\n}\n\nconst revenueDisplay = revenue > 0\n  ? '$' + (revenue / 1000000).toFixed(1) + 'M (' + revenueConfidence + ')'\n  : 'Unknown';\n\n// Pass through ALL Apify data (so Claude Research Script prompt still works)\nreturn [{\n  json: {\n    ...apify,\n    _score: score,\n    _tier: tier,\n    _outreach_type: outreachType,\n    _employee_count: employeeCount,\n    _revenue: revenue,\n    _revenue_display: revenueDisplay,\n    _revenue_reasoning: revenueReasoning,\n    _company_name: companyName,\n    _person_title: personTitle,\n    _score_breakdown: scoreBreakdown.join(' | '),\n    _flags: flags.join(' | '),\n    _full_name: fullName\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2230,
        400
      ],
      "id": "wf0-node-13",
      "name": "Score Lead",
      "notes": "Scores from Apify profile data + Claude revenue estimate.\n\nScoring (max 13 pts):\n\u2022 Employee count (0-5): 50-200=5, 20-49=4, 10-19=3, 200+=3, 5-9=2 (below ICP), <5=1\n\u2022 Revenue (0-5): $10M+=5, $5-10M=4, $1-5M=3, <$1M=1 \u2014 estimated by Claude\n\u2022 Title (0-3): CEO/Founder/Owner=3, COO/VP/President=2, Director=1\n\nTiers: T1 (10-13) Loom Priority | T2 (7-9) Loom | T3 (4-6) Text | T4 (0-3) Template"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-5-20250929",
          "mode": "list",
          "cachedResultName": "claude-sonnet-4-5-20250929"
        },
        "messages": {
          "values": [
            {
              "content": "=INPUTS:\n\nName: {{ $json.fullName }}\nCompany: {{ $json.experiences?.[0]?.companyName ?? 'Unknown' }}\nCompany Title: {{ $json.experiences?.[0]?.title ?? 'Unknown' }}\nCompany Description: {{ $json.experiences?.[0]?.jobDescription ?? 'No description available' }}\nLI Profile Headline: {{ $json.headline }}\n\n{{ $('Loop Over Items').item.json['Loom Video Research Prompt'] }}"
            }
          ]
        },
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        2450,
        400
      ],
      "id": "wf0-node-14",
      "name": "Claude Research Script",
      "credentials": {
        "anthropicApi": {
          "id": "au1c518sMzUt89ul",
          "name": "VV Claude"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1fe-WP2VK2JD_e6CZw34k5lc5m9T3lYuJEwbkqQz0yKw",
          "mode": "list",
          "cachedResultName": "Master Social Media Automation - Content & Posting -v1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fe-WP2VK2JD_e6CZw34k5lc5m9T3lYuJEwbkqQz0yKw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 126409621,
          "mode": "list",
          "cachedResultName": "Loom Videos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fe-WP2VK2JD_e6CZw34k5lc5m9T3lYuJEwbkqQz0yKw/edit#gid=126409621"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Loop Over Items').item.json.Name }}",
            "LI Profile": "={{ $('Loop Over Items').item.json['LI Profile'] }}",
            "Script": "={{ $json.content[0].text }}",
            "Score": "={{ $('Score Lead').first().json._score }}",
            "Tier": "={{ $('Score Lead').first().json._tier }}",
            "Outreach Type": "={{ $('Score Lead').first().json._outreach_type }}",
            "Employee Count": "={{ $('Score Lead').first().json._employee_count }}",
            "Company": "={{ $('Score Lead').first().json._company_name }}",
            "Title": "={{ $('Score Lead').first().json._person_title }}",
            "Score Breakdown": "={{ $('Score Lead').first().json._score_breakdown }}",
            "Flags": "={{ $('Score Lead').first().json._flags }}",
            "Revenue Est": "={{ $('Score Lead').first().json._revenue_display }}",
            "Done?": "Done",
            "Run": "Done"
          },
          "matchingColumns": [
            "LI Profile"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LI Profile",
              "displayName": "LI Profile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Script",
              "displayName": "Script",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tier",
              "displayName": "Tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Outreach Type",
              "displayName": "Outreach Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Employee Count",
              "displayName": "Employee Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Score Breakdown",
              "displayName": "Score Breakdown",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Flags",
              "displayName": "Flags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Revenue Est",
              "displayName": "Revenue Est",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Done?",
              "displayName": "Done?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Run",
              "displayName": "Run",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.0,
      "position": [
        2670,
        400
      ],
      "id": "wf0-node-15",
      "name": "Write Scores & Script to Sheet",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wi6bAEK3LwBuXnNr",
          "name": "VV Google Sheets account"
        }
      },
      "notes": "Writes scores AND Loom script back to the Loom Videos sheet. Matches rows by LI Profile (unique per lead). Add these columns to your sheet header: Score, Tier, Outreach Type, Employee Count, Revenue Est, Company, Title, Score Breakdown, Flags."
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2890,
        400
      ],
      "id": "wf0-node-16",
      "name": "Wait Between Items",
      "webhookId": "5437d6e2-2773-418f-b4ef-8a29e76de946"
    }
  ],
  "connections": {
    "Score & Script Leads": {
      "main": [
        [
          {
            "node": "Read Loom Videos Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Loom Videos Sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Read Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Prompts": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "If Run=Yes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Run=Yes": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Read Prompts (Trigger)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Prompts (Trigger)": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Filter Not Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Not Done": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Apify LinkedIn Scrape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify LinkedIn Scrape": {
      "main": [
        [
          {
            "node": "Estimate Revenue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estimate Revenue": {
      "main": [
        [
          {
            "node": "Score Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Lead": {
      "main": [
        [
          {
            "node": "Claude Research Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Research Script": {
      "main": [
        [
          {
            "node": "Write Scores & Script to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Scores & Script to Sheet": {
      "main": [
        [
          {
            "node": "Wait Between Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Between Items": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Los_Angeles",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    {
      "name": "Veteran Vectors Pipeline"
    }
  ]
}