WF0_Lead_Scoring.json
{
  "name": "WF0 - Lead Scoring & Tiering (LinkedIn → Apollo → Score)",
  "nodes": [
    {
      "parameters": {},
      "id": "wf0-node-1",
      "name": "Score Leads Now",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "notes": "Click 'Test workflow' or 'Execute' to run lead scoring on-demand. Processes only unscored rows so you can run it multiple times as you add new leads."
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "mode": "id", "value": "YOUR_GOOGLE_SHEET_ID" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Sheet1" },
        "options": {}
      },
      "id": "wf0-node-2",
      "name": "Read Lead Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [470, 300],
      "notes": "Replace YOUR_GOOGLE_SHEET_ID with your Google Sheet ID. Expected columns: Name, LinkedIn URL, Company (optional), Score (empty = unscored), Tier (empty = untiered). The workflow fills in Score, Tier, Outreach Type, Employee Count, Revenue Est, and Company."
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.Score }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "empty", "singleValue": true }
            }
          ]
        }
      },
      "id": "wf0-node-3",
      "name": "Filter Unscored",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [690, 300],
      "notes": "Only processes leads that don't have a Score yet. This makes the workflow incremental — run it again after adding new leads and it skips already-scored rows."
    },
    {
      "parameters": {
        "jsCode": "// Extract company slug and person info from LinkedIn URL\n// Expected LinkedIn URL formats:\n//   https://www.linkedin.com/in/john-doe-123abc/\n//   https://linkedin.com/in/john-doe/\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const row = item.json;\n  const linkedinUrl = (row['LinkedIn URL'] || row['LinkedIn url'] || row['linkedin_url'] || '').trim();\n  const name = (row['Name'] || row['name'] || '').trim();\n  const company = (row['Company'] || row['company'] || '').trim();\n  const title = (row['Title'] || row['title'] || '').trim();\n  // Extract LinkedIn slug\n  let linkedinSlug = '';\n  const slugMatch = linkedinUrl.match(/linkedin\\.com\\/in\\/([^/?]+)/);\n  if (slugMatch) {\n    linkedinSlug = slugMatch[1].replace(/\\/$/, '');\n  }\n\n  // Parse first/last name\n  const nameParts = name.split(/\\s+/);\n  const firstName = nameParts[0] || '';\n  const lastName = nameParts.slice(1).join(' ') || '';\n\n  // Row number for writing back (Google Sheets is 1-indexed, +1 for header)\n  // n8n returns rows with a __rowIndex or we track position\n  const rowIndex = item.json['__rowIndex'] || item.json['row_number'] || 0;\n\n  results.push({\n    json: {\n      original_row: row,\n      row_index: rowIndex,\n      name: name,\n      first_name: firstName,\n      last_name: lastName,\n      linkedin_url: linkedinUrl,\n      linkedin_slug: linkedinSlug,\n      company: company,\n      title: title\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "wf0-node-4",
      "name": "Parse Lead Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300],
      "notes": "Extracts LinkedIn slug, first/last name, and preserves row index for writing scores back. Handles common column name variations."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/v1/people/match",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"first_name\": \"{{ $json.first_name }}\",\n  \"last_name\": \"{{ $json.last_name }}\",\n  \"linkedin_url\": \"{{ $json.linkedin_url }}\",\n  \"reveal_personal_emails\": false,\n  \"reveal_phone_number\": false\n}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": { "response": { "responseFormat": "json" } },
          "timeout": 10000
        }
      },
      "id": "wf0-node-5",
      "name": "Apollo Enrichment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 300],
      "notes": "Apollo.io People Match API (free tier: 10,000 records/month for enrichment). Set up HTTP Header Auth credential: Header Name = 'x-api-key', Header Value = YOUR_APOLLO_API_KEY. Sign up at app.apollo.io — the free plan includes enrichment credits. If you hit rate limits, add a Wait node before this (1-2 sec delay).",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Score lead on employee count, revenue, and title (max 13 pts)\nconst lead = $('Loop Over Leads').first().json;\nconst apollo = $input.first().json;\n\nconst person = apollo.person || {};\nconst apolloFailed = !apollo.person;\nconst org = person.organization || {};\n\nconst employeeCount = org.estimated_num_employees ?? org.employee_count ?? 0;\nlet revenue = 0;\nconst rawRevenue = org.annual_revenue ?? org.estimated_annual_revenue ?? 0;\nif (typeof rawRevenue === 'string') {\n  revenue = parseInt(rawRevenue.replace(/[^0-9]/g, ''), 10) || 0;\n} else {\n  revenue = Number(rawRevenue) || 0;\n}\nconst revenueStr = org.annual_revenue_printed || '';\nconst companyName = org.name || lead.company || '';\nconst personTitle = person.title || lead.title || '';\nconst seniority = person.seniority || '';\n\n// ============ SCORING ALGORITHM (max 13 pts) ============\nlet score = 0;\nlet scoreBreakdown = [];\n\nif (apolloFailed) {\n  scoreBreakdown.push('Apollo enrichment failed');\n}\n\n// 1. Employee Count (max 5 pts)\nif (employeeCount >= 50 && employeeCount <= 200) {\n  score += 5;\n  scoreBreakdown.push('Employees 50-200: +5');\n} else if (employeeCount >= 20 && employeeCount < 50) {\n  score += 4;\n  scoreBreakdown.push('Employees 20-49: +4');\n} else if (employeeCount >= 10 && employeeCount < 20) {\n  score += 3;\n  scoreBreakdown.push('Employees 10-19: +3');\n} else if (employeeCount > 200) {\n  score += 3;\n  scoreBreakdown.push('Employees 200+: +3');\n} else if (employeeCount >= 5 && employeeCount < 10) {\n  score += 2;\n  scoreBreakdown.push('Employees 5-9 (below ICP): +2');\n} else if (employeeCount > 0) {\n  score += 1;\n  scoreBreakdown.push('Employees <5 (well below ICP): +1');\n} else {\n  scoreBreakdown.push('Employees unknown: +0');\n}\n\n// 2. Revenue (max 5 pts)\nif (revenue >= 10000000) {\n  score += 5;\n  scoreBreakdown.push('Revenue $10M+: +5');\n} else if (revenue >= 5000000) {\n  score += 4;\n  scoreBreakdown.push('Revenue $5-10M: +4');\n} else if (revenue >= 1000000) {\n  score += 3;\n  scoreBreakdown.push('Revenue $1-5M: +3');\n} else if (revenue > 0) {\n  score += 1;\n  scoreBreakdown.push('Revenue <$1M: +1');\n} else {\n  scoreBreakdown.push('Revenue unknown: +0');\n}\n\n// 3. Title / Seniority (max 3 pts)\nconst titleLower = personTitle.toLowerCase();\nconst seniorityLower = seniority.toLowerCase();\nif (titleLower.includes('ceo') || titleLower.includes('founder') || titleLower.includes('owner') || seniorityLower === 'founder') {\n  score += 3;\n  scoreBreakdown.push('CEO/Founder/Owner: +3');\n} else if (titleLower.includes('coo') || titleLower.includes('president') || titleLower.includes('vp') || titleLower.includes('vice president') || seniorityLower === 'c_suite') {\n  score += 2;\n  scoreBreakdown.push('COO/President/VP: +2');\n} else if (titleLower.includes('director') || titleLower.includes('head of') || seniorityLower === 'director') {\n  score += 1;\n  scoreBreakdown.push('Director/Head: +1');\n} else if (personTitle) {\n  scoreBreakdown.push('Other title: +0');\n} else {\n  scoreBreakdown.push('Title unknown: +0');\n}\n\n// ============ FLAGS ============\nconst flags = [];\nif (employeeCount > 0 && employeeCount < 10) {\n  flags.push('BELOW ICP: ' + employeeCount + ' employees');\n}\nif (apolloFailed) {\n  flags.push('APOLLO FAILED');\n}\n\n// ============ TIER ASSIGNMENT (max 13 pts) ============\nlet tier = '';\nlet outreachType = '';\nif (score >= 10) {\n  tier = 'Tier 1';\n  outreachType = 'Loom Video (Priority)';\n} else if (score >= 7) {\n  tier = 'Tier 2';\n  outreachType = 'Loom Video';\n} else if (score >= 4) {\n  tier = 'Tier 3';\n  outreachType = 'Personalized Text';\n} else {\n  tier = 'Tier 4';\n  outreachType = 'Template Outreach';\n}\n\nreturn [{\n  json: {\n    name: lead.name,\n    first_name: lead.first_name,\n    last_name: lead.last_name,\n    linkedin_url: lead.linkedin_url,\n    row_index: lead.row_index,\n    company_name: companyName,\n    person_title: personTitle,\n    employee_count: employeeCount,\n    annual_revenue: revenue,\n    revenue_display: revenueStr || (revenue ? '$' + (revenue / 1000000).toFixed(1) + 'M' : 'Unknown'),\n    score: score,\n    max_score: 13,\n    tier: tier,\n    outreach_type: outreachType,\n    score_breakdown: scoreBreakdown.join(' | '),\n    flags: flags.join(' | '),\n    apollo_failed: apolloFailed\n  }\n}];"
      },
      "id": "wf0-node-6",
      "name": "Score & Tier Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 300],
      "notes": "Scoring algorithm (max 13 pts) — employee count + revenue + title:\n• Employee count (0-5 pts): 50-200=5, 20-49=4, 10-19=3, 200+=3, 5-9=2 (below ICP), <5=1 (well below ICP)\n• Revenue (0-5 pts): $10M+=5, $5-10M=4, $1-5M=3, <$1M=1\n• Title/seniority (0-3 pts): CEO/Founder/Owner=3, COO/President/VP=2, Director=1\n\nFlags: Leads with <10 employees are flagged as BELOW ICP in the Flags column.\n\nTiers:\n• Tier 1 (10-13): Loom Video Priority\n• Tier 2 (7-9): Loom Video\n• Tier 3 (4-6): Personalized Text\n• Tier 4 (0-3): Template Outreach"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "mode": "id", "value": "YOUR_GOOGLE_SHEET_ID" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Sheet1" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.name }}",
            "Score": "={{ $json.score }}",
            "Tier": "={{ $json.tier }}",
            "Outreach Type": "={{ $json.outreach_type }}",
            "Employee Count": "={{ $json.employee_count }}",
            "Revenue Est": "={{ $json.revenue_display }}",
            "Company": "={{ $json.company_name }}",
            "Title": "={{ $json.person_title }}",
            "Score Breakdown": "={{ $json.score_breakdown }}",
            "Flags": "={{ $json.flags }}",
            "LinkedIn URL": "={{ $json.linkedin_url }}"
          },
          "matchingColumns": ["LinkedIn URL"]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "wf0-node-7",
      "name": "Write Scores to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1570, 300],
      "notes": "Writes scores back to the Google Sheet. Add these columns to your sheet header row: Score, Tier, Outreach Type, Employee Count, Revenue Est, Company, Title, Score Breakdown, Flags. The workflow matches rows by the 'LinkedIn URL' column (unique per lead). The Flags column highlights leads below ICP (<10 employees) or Apollo failures."
    },
    {
      "parameters": {
        "jsCode": "// Fallback when Apollo fails — score title from sheet data if available\nconst lead = $('Loop Over Leads').first().json;\n\nlet score = 0;\nlet scoreBreakdown = ['Apollo enrichment failed — scoring title from sheet only'];\n\nconst titleLower = (lead.title || '').toLowerCase();\nif (titleLower.includes('ceo') || titleLower.includes('founder') || titleLower.includes('owner')) {\n  score += 3;\n  scoreBreakdown.push('CEO/Founder/Owner (from sheet): +3');\n} else if (titleLower.includes('coo') || titleLower.includes('president') || titleLower.includes('vp')) {\n  score += 2;\n  scoreBreakdown.push('COO/President/VP (from sheet): +2');\n} else if (titleLower.includes('director') || titleLower.includes('head of')) {\n  score += 1;\n  scoreBreakdown.push('Director/Head (from sheet): +1');\n}\n\n// Tier assignment uses same thresholds as main path\nlet tier = '';\nlet outreachType = '';\nif (score >= 4) {\n  tier = 'Tier 3';\n  outreachType = 'Personalized Text';\n} else if (score > 0) {\n  tier = 'Tier 4';\n  outreachType = 'Template Outreach — Needs Manual Review';\n} else {\n  tier = 'Tier 4';\n  outreachType = 'Needs Manual Review';\n}\n\nreturn [{\n  json: {\n    name: lead.name,\n    first_name: lead.first_name,\n    last_name: lead.last_name,\n    linkedin_url: lead.linkedin_url,\n    row_index: lead.row_index,\n    company_name: lead.company || '',\n    person_title: lead.title || '',\n    employee_count: 0,\n    annual_revenue: 0,\n    revenue_display: 'Unknown',\n    score: score,\n    max_score: 13,\n    tier: tier,\n    outreach_type: outreachType,\n    score_breakdown: scoreBreakdown.join(' | '),\n    flags: 'APOLLO FAILED',\n    apollo_failed: true\n  }\n}];"
      },
      "id": "wf0-node-10",
      "name": "Fallback Score (No Apollo)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 500],
      "notes": "If Apollo enrichment fails (rate limit, no match, API error), this fallback scores the lead using only data from the Google Sheet. These leads get flagged for manual review."
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": true
        }
      },
      "id": "wf0-node-11",
      "name": "Loop Over Leads",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1010, 300],
      "notes": "Processes leads one at a time to respect Apollo API rate limits (free tier). If you have a paid Apollo plan, increase batchSize for faster processing."
    },
    {
      "parameters": {
        "jsCode": "// Inline delay to respect Apollo rate limits without breaking splitInBatches loop state\n// The Wait node (n8n-nodes-base.wait) suspends execution to a 'waiting' state which\n// breaks loop context. This Code node delays inline within the same execution.\nconst delay = ms => new Promise(resolve => setTimeout(resolve, ms));\nawait delay(1500);\nreturn $input.all();"
      },
      "id": "wf0-node-12",
      "name": "Rate Limit Delay",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1790, 500],
      "notes": "1.5 second inline delay between Apollo API calls. Uses a Code node instead of a Wait node because the Wait node suspends execution state which breaks the splitInBatches loop. Remove or reduce delay if you have a paid Apollo plan."
    }
  ],
  "connections": {
    "Score Leads Now": {
      "main": [[{ "node": "Read Lead Sheet", "type": "main", "index": 0 }]]
    },
    "Read Lead Sheet": {
      "main": [[{ "node": "Filter Unscored", "type": "main", "index": 0 }]]
    },
    "Filter Unscored": {
      "main": [[{ "node": "Parse Lead Data", "type": "main", "index": 0 }]]
    },
    "Parse Lead Data": {
      "main": [[{ "node": "Loop Over Leads", "type": "main", "index": 0 }]]
    },
    "Loop Over Leads": {
      "main": [
        [],
        [{ "node": "Apollo Enrichment", "type": "main", "index": 0 }]
      ]
    },
    "Apollo Enrichment": {
      "main": [
        [{ "node": "Score & Tier Lead", "type": "main", "index": 0 }],
        [{ "node": "Fallback Score (No Apollo)", "type": "main", "index": 0 }]
      ]
    },
    "Score & Tier Lead": {
      "main": [[{ "node": "Write Scores to Sheet", "type": "main", "index": 0 }]]
    },
    "Write Scores to Sheet": {
      "main": [[{ "node": "Rate Limit Delay", "type": "main", "index": 0 }]]
    },
    "Rate Limit Delay": {
      "main": [[{ "node": "Loop Over Leads", "type": "main", "index": 0 }]]
    },
    "Fallback Score (No Apollo)": {
      "main": [[{ "node": "Write Scores to Sheet", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "Veteran Vectors Pipeline" }]
}
