WF2_BlueDot_Proposal.json
{
  "name": "WF2 - Audit Call Complete → Folder + Proposal + Pre-filled Form",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bluedot-transcript",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "wf2-node-1",
      "name": "BlueDot Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "bluedot-transcript",
      "notes": "Set this URL in BlueDot → Automation → Integrations → Webhook. Subscribe to transcript and summary events."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "combinator": "or",
          "conditions": [
            {
              "leftValue": "={{ $json.title || $json.meeting_title || $json.name || '' }}",
              "rightValue": "audit",
              "operator": { "type": "string", "operation": "contains" }
            },
            {
              "leftValue": "={{ $json.title || $json.meeting_title || $json.name || '' }}",
              "rightValue": "RAPID",
              "operator": { "type": "string", "operation": "contains" }
            },
            {
              "leftValue": "={{ $json.title || $json.meeting_title || $json.name || '' }}",
              "rightValue": "discovery",
              "operator": { "type": "string", "operation": "contains" }
            },
            {
              "leftValue": "={{ $json.title || $json.meeting_title || $json.name || '' }}",
              "rightValue": "veteran vectors",
              "operator": { "type": "string", "operation": "contains" }
            }
          ]
        }
      },
      "id": "wf2-node-2",
      "name": "Filter Audit Calls Only",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [470, 300],
      "notes": "Processes recordings with 'audit', 'RAPID', 'discovery', or 'veteran vectors' in the title."
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_SPREADSHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Prospects"
        },
        "options": {}
      },
      "id": "wf2-node-3",
      "name": "Read Prospects Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [690, 300]
    },
    {
      "parameters": {
        "jsCode": "// Match BlueDot recording to Prospects sheet row\n// FIX: Removed dangerous fallback that silently picked the wrong prospect\nconst bluedot = $('BlueDot Webhook').first().json;\nconst prospects = $('Read Prospects Sheet').all();\n\nconst transcript = bluedot.transcript || bluedot.content || '';\nconst attendees = bluedot.attendees || bluedot.participants || [];\n\nlet match = null;\nlet matchIndex = -1;\n\nfor (let i = 0; i < prospects.length; i++) {\n  const row = prospects[i].json;\n  const name = row.Full_Name || '';\n  const email = (row.Email || '').toLowerCase();\n  \n  // Match by name in transcript or attendee list\n  const nameMatch = name && (\n    transcript.toLowerCase().includes(name.toLowerCase()) ||\n    attendees.some(a => (a.name || a.email || '').toLowerCase().includes(name.toLowerCase()))\n  );\n  // Match by email in attendee list\n  const emailMatch = email && attendees.some(a => (a.email || '').toLowerCase() === email);\n  \n  if (nameMatch || emailMatch) {\n    match = row;\n    matchIndex = i + 2;\n    break;\n  }\n}\n\n// FIX: If no match found, throw an error instead of silently using wrong prospect\nif (!match) {\n  throw new Error('Could not match BlueDot transcript to any prospect. Attendees: ' + \n    JSON.stringify(attendees.map(a => a.name || a.email)) + \n    '. Manual review needed.');\n}\n\n// FIX: Idempotency check - skip if proposal already generated\nif (match.Drive_Folder_ID && (match.Status === 'Proposal Draft' || match.Status === 'Proposal Sent' || match.Status === 'Proposal Reviewed')) {\n  throw new Error('Proposal already generated for ' + match.Full_Name + ' (status: ' + match.Status + '). Skipping duplicate BlueDot webhook.');\n}\n\nreturn [{\n  json: {\n    transcript: transcript,\n    summary: bluedot.summary || bluedot.notes || '',\n    prospect: match,\n    sheet_row: matchIndex,\n    matched: true\n  }\n}];"
      },
      "id": "wf2-node-4",
      "name": "Match to Prospect",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "name": "={{ $json.prospect.Company_Name || 'Unknown' }} - Client Folder",
        "driveId": { "__rl": true, "mode": "list", "value": "MY_DRIVE" },
        "folderId": { "__rl": true, "mode": "list", "value": "YOUR_CLIENTS_FOLDER_ID" },
        "options": {}
      },
      "id": "wf2-node-5",
      "name": "Create Client Drive Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1130, 300],
      "notes": "Replace YOUR_CLIENTS_FOLDER_ID with your root Clients folder in Google Drive."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "anthropic-version", "value": "2023-06-01" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4096,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are a proposal writer for Veteran Vectors, an AI automation consulting company that helps SMBs eliminate manual processes. Extract structured proposal content from this audit call transcript. Be specific about the client's actual problems discussed and the concrete solutions recommended. Always include real numbers for ROI when discussed.\\n\\nReturn ONLY valid JSON with these exact keys:\\n{\\n  \\\"client_pain_points\\\": \\\"2-3 paragraph summary of their current problems and manual processes\\\",\\n  \\\"recommended_solution\\\": \\\"Detailed description of the automation solution proposed\\\",\\n  \\\"tech_stack\\\": \\\"List of specific tools and platforms (e.g., n8n, Google Workspace, Stripe, etc.)\\\",\\n  \\\"project_scope\\\": \\\"Concise scope statement suitable for a SOW\\\",\\n  \\\"project_name\\\": \\\"Short project name\\\",\\n  \\\"milestones\\\": \\\"Phase 1: Discovery, Phase 2: Design, Phase 3: Build, Phase 4: Test, Phase 5: Deploy - with brief descriptions of each\\\",\\n  \\\"timeline_weeks\\\": \\\"Estimated number of weeks\\\",\\n  \\\"estimated_project_cost\\\": \\\"Dollar amount if discussed, otherwise empty string\\\",\\n  \\\"estimated_retainer\\\": \\\"Monthly retainer amount if discussed, otherwise empty string\\\",\\n  \\\"roi_hours_saved_monthly\\\": \\\"Estimated hours saved per month\\\",\\n  \\\"roi_annual_value\\\": \\\"Estimated annual dollar value of time saved\\\",\\n  \\\"retainer_description\\\": \\\"What the retainer covers\\\",\\n  \\\"compliances\\\": \\\"Any compliance requirements mentioned (SOC2, ITAR, CMMC, etc.) or empty string\\\",\\n  \\\"proposal_text\\\": \\\"Full proposal narrative (500-800 words) covering: Executive Summary, Current State & Challenges, Proposed Solution, Tech Stack & Architecture, Timeline, Investment & ROI. Write in direct, professional tone. Include specific metrics.\\\"\\n}\\n\\nHere is the audit call transcript:\\n\\n{{ $('Match to Prospect').first().json.transcript }}\\n\\nAnd the AI summary:\\n\\n{{ $('Match to Prospect').first().json.summary }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "wf2-node-6",
      "name": "Claude Extract Proposal Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 300],
      "notes": "Uses Anthropic Claude API. Set up HTTP Header Auth credential with: Name=x-api-key, Value=YOUR_ANTHROPIC_API_KEY."
    },
    {
      "parameters": {
        "jsCode": "// Parse Claude API response and merge with prospect data\nconst aiResponse = $('Claude Extract Proposal Content').first().json;\nconst matchData = $('Match to Prospect').first().json;\nconst folderId = $('Create Client Drive Folder').first().json.id;\n\nlet extracted;\ntry {\n  const content = aiResponse.content[0].text;\n  // Strip markdown code fences if Claude wraps the JSON\n  const cleaned = content.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/i, '').trim();\n  extracted = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error('Failed to parse Claude response: ' + e.message + '. Raw: ' + JSON.stringify(aiResponse).substring(0, 500));\n}\n\nreturn [{\n  json: {\n    ...extracted,\n    prospect: matchData.prospect,\n    sheet_row: matchData.sheet_row,\n    drive_folder_id: folderId\n  }\n}];"
      },
      "id": "wf2-node-7",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1570, 300]
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": { "__rl": true, "mode": "id", "value": "YOUR_PROPOSAL_TEMPLATE_DOC_ID" },
        "driveId": { "__rl": true, "mode": "list", "value": "MY_DRIVE" },
        "folderId": { "__rl": true, "mode": "id", "value": "={{ $json.drive_folder_id }}" },
        "name": "=Proposal - {{ $json.prospect.Company_Name || 'Client' }}",
        "options": {}
      },
      "id": "wf2-node-8",
      "name": "Copy Proposal Template",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1790, 300],
      "notes": "Replace YOUR_PROPOSAL_TEMPLATE_DOC_ID with the Google Doc ID of your proposal template. Template should contain placeholders like {{CLIENT_NAME}}, {{PAIN_POINTS}}, etc."
    },
    {
      "parameters": {
        "jsCode": "// Populate the Google Docs proposal template with Claude-extracted content\nconst extracted = $('Parse AI Response').first().json;\nconst docId = $('Copy Proposal Template').first().json.id;\nconst prospect = extracted.prospect || {};\n\n// Build the batchUpdate requests to replace template placeholders\nconst replacements = {\n  '{{CLIENT_NAME}}': prospect.Full_Name || prospect.Company_Name || 'Valued Client',\n  '{{COMPANY_NAME}}': prospect.Company_Name || '',\n  '{{DATE}}': new Date().toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }),\n  '{{PROJECT_NAME}}': extracted.project_name || '',\n  '{{PAIN_POINTS}}': extracted.client_pain_points || '',\n  '{{RECOMMENDED_SOLUTION}}': extracted.recommended_solution || '',\n  '{{TECH_STACK}}': extracted.tech_stack || '',\n  '{{PROJECT_SCOPE}}': extracted.project_scope || '',\n  '{{MILESTONES}}': extracted.milestones || '',\n  '{{TIMELINE}}': extracted.timeline_weeks ? extracted.timeline_weeks + ' weeks' : 'TBD',\n  '{{PROJECT_COST}}': extracted.estimated_project_cost || 'TBD',\n  '{{MONTHLY_RETAINER}}': extracted.estimated_retainer || 'N/A',\n  '{{RETAINER_DESCRIPTION}}': extracted.retainer_description || '',\n  '{{ROI_HOURS_SAVED}}': extracted.roi_hours_saved_monthly || '',\n  '{{ROI_ANNUAL_VALUE}}': extracted.roi_annual_value || '',\n  '{{COMPLIANCES}}': extracted.compliances || 'N/A',\n  '{{PROPOSAL_BODY}}': extracted.proposal_text || ''\n};\n\nconst requests = Object.entries(replacements).map(([placeholder, value]) => ({\n  replaceAllText: {\n    containsText: { text: placeholder, matchCase: true },\n    replaceText: String(value)\n  }\n}));\n\nreturn [{\n  json: {\n    doc_id: docId,\n    requests: requests,\n    drive_folder_id: extracted.drive_folder_id,\n    prospect: prospect,\n    extracted: extracted\n  }\n}];"
      },
      "id": "wf2-node-9",
      "name": "Build Template Replacements",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2010, 300],
      "notes": "Builds Google Docs batchUpdate requests to replace all template placeholders with Claude-extracted proposal content."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://docs.googleapis.com/v1/documents/{{ $json.doc_id }}:batchUpdate",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"requests\": {{ JSON.stringify($json.requests) }} }",
        "options": {}
      },
      "id": "wf2-node-10",
      "name": "Populate Proposal Template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2230, 300],
      "notes": "Uses Google OAuth2 credential to replace placeholders in the copied proposal doc. Requires Google Docs API scope: https://www.googleapis.com/auth/documents."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $('Build Template Replacements').first().json.doc_id }}/export?mimeType=application/pdf",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {
          "response": { "response": { "responseFormat": "file" } }
        }
      },
      "id": "wf2-node-11",
      "name": "Export Proposal as PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2450, 300],
      "notes": "Exports the populated Google Doc as a PDF. Uses the same Google OAuth2 credential."
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "=Proposal - {{ $('Parse AI Response').first().json.prospect.Company_Name || 'Client' }}.pdf",
        "driveId": { "__rl": true, "mode": "list", "value": "MY_DRIVE" },
        "folderId": { "__rl": true, "mode": "id", "value": "={{ $('Parse AI Response').first().json.drive_folder_id }}" },
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "wf2-node-12",
      "name": "Upload Proposal PDF to Client Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [2670, 300]
    },
    {
      "parameters": {
        "jsCode": "// Build pre-filled form URL\nconst extracted = $('Parse AI Response').first().json;\nconst prospect = extracted.prospect || {};\nconst docId = $('Build Template Replacements').first().json.doc_id;\nconst proposalDocUrl = `https://docs.google.com/document/d/${docId}/edit`;\n\nconst params = new URLSearchParams();\n\n// From Calendly (prospect data)\nif (prospect.First_Name) params.set('First_Name', prospect.First_Name);\nif (prospect.Last_Name) params.set('Last_Name', prospect.Last_Name);\nif (prospect.Full_Name) params.set('Full_Client_Name', prospect.Full_Name);\nif (prospect.Email) params.set('Client_Email', prospect.Email);\nif (prospect.Client_Title) params.set('Client_Title', prospect.Client_Title);\nif (prospect.Company_Name) params.set('Company_Name', prospect.Company_Name);\nif (prospect.Company_Address) params.set('Company_Address', prospect.Company_Address);\nif (prospect.Company_State) params.set('Company_State', prospect.Company_State);\n\n// From AI extraction\nif (extracted.project_name) params.set('Project_Name', extracted.project_name);\nif (extracted.project_scope) params.set('Project_Scope', extracted.project_scope);\nif (extracted.milestones) params.set('Milestones', extracted.milestones);\nif (extracted.retainer_description) params.set('Retainer_description', extracted.retainer_description);\nif (extracted.estimated_project_cost) params.set('Project_Cost', extracted.estimated_project_cost);\nif (extracted.estimated_retainer) params.set('Monthly_Retainer', extracted.estimated_retainer);\nif (extracted.compliances) params.set('Compliances', extracted.compliances);\n\nconst formBaseUrl = 'https://veteranvectors.app.n8n.cloud/form/YOUR_FORM_ID';\nconst prefilledUrl = `${formBaseUrl}?${params.toString()}`;\n\nreturn [{\n  json: {\n    prefilled_form_url: prefilledUrl,\n    proposal_doc_url: proposalDocUrl,\n    client_name: prospect.Full_Name || prospect.Company_Name || 'Unknown Client',\n    company_name: prospect.Company_Name || '',\n    project_name: extracted.project_name || '',\n    drive_folder_id: extracted.drive_folder_id\n  }\n}];"
      },
      "id": "wf2-node-14",
      "name": "Build Pre-filled Form URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2890, 300],
      "notes": "Replace YOUR_FORM_ID with your actual n8n form ID from Workflow 3."
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "mode": "list", "value": "YOUR_SPREADSHEET_ID" },
        "sheetName": { "__rl": true, "mode": "list", "value": "Prospects" },
        "lookupColumn": "Email",
        "lookupValue": "={{ $('Match to Prospect').first().json.prospect.Email }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Proposal Draft",
            "Proposal_Link": "={{ $('Build Pre-filled Form URL').first().json.proposal_doc_url }}",
            "Form_Link": "={{ $json.prefilled_form_url }}",
            "Drive_Folder_ID": "={{ $('Parse AI Response').first().json.drive_folder_id }}"
          }
        },
        "options": { "cellFormat": "USER_ENTERED" }
      },
      "id": "wf2-node-13",
      "name": "Update Prospects Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [3110, 300],
      "notes": "FIX: Now uses Email lookup instead of row_number. Runs AFTER form URL is built to ensure all data is ready."
    },
    {
      "parameters": {
        "channel": "#onboarding-alerts",
        "text": "=:memo: *DRAFT Proposal Ready for Review: {{ $('Build Pre-filled Form URL').first().json.client_name }}*\n\nProject: {{ $('Build Pre-filled Form URL').first().json.project_name }}\nCompany: {{ $('Build Pre-filled Form URL').first().json.company_name }}\n\n:warning: *Status: PROPOSAL DRAFT — not sent to client yet*\n\n:file_folder: Client folder created in Google Drive\n:page_facing_up: Proposal PDF saved to client folder\n\n*Step 1 — Review and edit the proposal:*\n{{ $('Build Pre-filled Form URL').first().json.proposal_doc_url }}\n\n*Step 2 — ONLY after review, submit the onboarding form to send the contract:*\n{{ $('Build Pre-filled Form URL').first().json.prefilled_form_url }}\n\n_The client has NOT received anything yet. Review the Google Doc, make edits, then use the form link to trigger the contract._",
        "otherOptions": {}
      },
      "id": "wf2-node-15",
      "name": "Slack Notify Anthony",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [3330, 300],
      "notes": "Update the channel name to your preferred notification channel."
    }
  ],
  "connections": {
    "BlueDot Webhook": {
      "main": [
        [{ "node": "Filter Audit Calls Only", "type": "main", "index": 0 }]
      ]
    },
    "Filter Audit Calls Only": {
      "main": [
        [{ "node": "Read Prospects Sheet", "type": "main", "index": 0 }]
      ]
    },
    "Read Prospects Sheet": {
      "main": [
        [{ "node": "Match to Prospect", "type": "main", "index": 0 }]
      ]
    },
    "Match to Prospect": {
      "main": [
        [{ "node": "Create Client Drive Folder", "type": "main", "index": 0 }]
      ]
    },
    "Create Client Drive Folder": {
      "main": [
        [{ "node": "Claude Extract Proposal Content", "type": "main", "index": 0 }]
      ]
    },
    "Claude Extract Proposal Content": {
      "main": [
        [{ "node": "Parse AI Response", "type": "main", "index": 0 }]
      ]
    },
    "Parse AI Response": {
      "main": [
        [{ "node": "Copy Proposal Template", "type": "main", "index": 0 }]
      ]
    },
    "Copy Proposal Template": {
      "main": [
        [{ "node": "Build Template Replacements", "type": "main", "index": 0 }]
      ]
    },
    "Build Template Replacements": {
      "main": [
        [{ "node": "Populate Proposal Template", "type": "main", "index": 0 }]
      ]
    },
    "Populate Proposal Template": {
      "main": [
        [{ "node": "Export Proposal as PDF", "type": "main", "index": 0 }]
      ]
    },
    "Export Proposal as PDF": {
      "main": [
        [{ "node": "Upload Proposal PDF to Client Folder", "type": "main", "index": 0 }]
      ]
    },
    "Upload Proposal PDF to Client Folder": {
      "main": [
        [{ "node": "Build Pre-filled Form URL", "type": "main", "index": 0 }]
      ]
    },
    "Build Pre-filled Form URL": {
      "main": [
        [{ "node": "Update Prospects Sheet", "type": "main", "index": 0 }]
      ]
    },
    "Update Prospects Sheet": {
      "main": [
        [{ "node": "Slack Notify Anthony", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [{ "name": "Veteran Vectors Onboarding" }]
}
