WF_STEP4B_Audit_Call_Processing.json
{
  "name": "Onboarding WF4B \u2014 Audit Call Processing (Form \u2192 AI \u2192 Update GitHub + Notion)",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Audit Call Transcript Processing",
        "formDescription": "Paste the BlueDot transcript after an audit call. Claude will refine the proposal and implementation guide, update the existing GitHub repo, and log the audit in Notion.",
        "formFields": {
          "values": [
            { "fieldLabel": "Attendee Name", "fieldType": "text", "requiredField": true, "placeholder": "Client's full name" },
            { "fieldLabel": "Attendee Email", "fieldType": "text", "requiredField": true, "placeholder": "client@company.com" },
            { "fieldLabel": "Meeting Title", "fieldType": "text", "requiredField": false, "placeholder": "Audit Call - Company Name" },
            { "fieldLabel": "Meeting Date", "fieldType": "date", "requiredField": false },
            { "fieldLabel": "GitHub Repo Name", "fieldType": "text", "requiredField": true, "placeholder": "john-doe-acme-corp (from STEP4 output)" },
            { "fieldLabel": "Transcript", "fieldType": "textarea", "requiredField": true, "placeholder": "Paste the full BlueDot transcript here..." },
            { "fieldLabel": "BlueDot Summary", "fieldType": "textarea", "requiredField": false, "placeholder": "Optional: Paste BlueDot's own summary if available" }
          ]
        },
        "options": {}
      },
      "id": "step4b-node-1",
      "name": "Audit Call Transcript Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "audit-call-transcript-form",
      "notes": "Localhost form trigger for audit call transcripts. For production: replace with n8n Webhook node for BlueDot Svix webhooks."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "ab-name", "name": "attendee_name", "value": "={{ $json['Attendee Name'] || '' }}", "type": "string" },
            { "id": "ab-email", "name": "attendee_email", "value": "={{ $json['Attendee Email'] || '' }}", "type": "string" },
            { "id": "ab-title", "name": "meeting_title", "value": "={{ $json['Meeting Title'] || 'Audit Call' }}", "type": "string" },
            { "id": "ab-date", "name": "meeting_date", "value": "={{ $json['Meeting Date'] || $now.toISO() }}", "type": "string" },
            { "id": "ab-repo", "name": "github_repo_name", "value": "={{ $json['GitHub Repo Name'] || '' }}", "type": "string" },
            { "id": "ab-transcript", "name": "transcript", "value": "={{ ($json['Transcript'] || '').substring(0, 15000) }}", "type": "string" },
            { "id": "ab-summary", "name": "bluedot_summary", "value": "={{ $json['BlueDot Summary'] || '' }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "step4b-node-2",
      "name": "Extract Form Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [470, 300]
    },
    {
      "id": "step4b-node-3",
      "name": "Find Notion Contact",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [690, 300],
      "credentials": { "notionApi": { "id": "YOUR_NOTION_CRED_ID", "name": "Notion account" } },
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": { "__rl": true, "value": "YOUR_NOTION_CONTACTS_DB_ID", "mode": "id" },
        "returnAll": true,
        "filterType": "manual",
        "filters": {
          "conditions": [
            { "key": "Email|email", "condition": "string:equals", "emailValue": "={{ $json.attendee_email || '' }}" }
          ]
        },
        "options": { "simple": false }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            { "leftValue": "={{ $json.id || '' }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty", "singleValue": true } }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "step4b-node-4",
      "name": "Contact Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "jsCode": "const contact = $('Find Notion Contact').first().json;\nconst props = contact.properties;\nconst contactName = props['Name']?.title?.[0]?.text?.content || 'Unknown';\nconst companyName = props['Company']?.rich_text?.[0]?.text?.content || 'Unknown-Company';\nconst existingFolderId = props['Drive Folder ID']?.rich_text?.[0]?.text?.content || '';\n// Use the GitHub repo name from the form (set during STEP4)\nconst repoName = $('Extract Form Data').item.json.github_repo_name;\nreturn [{ json: {\n  notion_page_id: contact.id,\n  contact_name: contactName,\n  company_name: companyName,\n  contact_email: props['Email']?.email || '',\n  existing_folder_id: existingFolderId,\n  github_repo_name: repoName\n}}];"
      },
      "id": "step4b-node-5",
      "name": "Extract Contact Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 240]
    },
    {
      "parameters": {
        "name": "=audit-call-{{ $('Extract Form Data').item.json.meeting_date.substring(0, 10) || $now.toISODate() }}.txt",
        "driveId": { "__rl": true, "mode": "list", "value": "My Drive" },
        "folderId": { "__rl": true, "value": "={{ $json.existing_folder_id || 'YOUR_CLIENTS_FOLDER_ID' }}", "mode": "id" },
        "content": "={{ $('Extract Form Data').item.json.transcript }}",
        "options": {}
      },
      "id": "step4b-node-6",
      "name": "Upload Transcript to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1350, 120],
      "credentials": { "googleSheetsOAuth2Api": { "id": "wi6bAEK3LwBuXnNr", "name": "VV Google Sheets account" } },
      "notes": "Uploads the audit call transcript to the client's existing Google Drive folder (created during STEP4 discovery call)."
    },
    {
      "parameters": {
        "owner": "YOUR_GITHUB_USERNAME",
        "repository": "={{ $json.github_repo_name }}",
        "filePath": "=transcripts/audit-call-{{ $('Extract Form Data').item.json.meeting_date.substring(0, 10) || $now.toISODate() }}.md",
        "commitMessage": "=Add audit call transcript - {{ $('Extract Form Data').item.json.meeting_date.substring(0, 10) || $now.toISODate() }}",
        "fileContent": "=# Audit Call Transcript\n\n**Date:** {{ $('Extract Form Data').item.json.meeting_date.substring(0, 10) || $now.toISODate() }}\n**Attendee:** {{ $('Extract Form Data').item.json.attendee_name }}\n**Email:** {{ $('Extract Form Data').item.json.attendee_email }}\n\n---\n\n{{ $('Extract Form Data').item.json.transcript }}",
        "additionalParameters": {}
      },
      "id": "step4b-node-7",
      "name": "GitHub: Upload Audit Transcript",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [1350, 300],
      "credentials": { "githubApi": { "id": "YOUR_GITHUB_CRED_ID", "name": "GitHub account" } },
      "notes": "Uploads the audit call transcript as a new file in the client's existing GitHub repo."
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-5-20250929",
          "mode": "list",
          "cachedResultName": "claude-sonnet-4-5-20250929"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a business consultant for Veteran Vectors, an automation consulting firm that helps small businesses (2-20 employees) automate their operations using n8n, Notion, and AI tools.\n\nThis is an AUDIT CALL \u2014 a follow-up to a previous discovery call. The client has already seen an initial proposal and is now doing a deeper dive into their systems and requirements. Your job is to REFINE and IMPROVE the existing proposal and implementation guide based on the new information.\n\nProduce FOUR clearly separated sections using the exact markers below.\n\n===MEETING_NOTES===\n1. AUDIT CALL SUMMARY (2-3 paragraphs covering what was audited, key findings, and assessment)\n2. SYSTEMS AUDITED (bulleted list of specific systems, processes, or workflows reviewed)\n3. NEW REQUIREMENTS or CHANGES (anything that differs from the original discovery call)\n4. TECHNICAL FINDINGS (specific pain points, bottlenecks, integration challenges discovered)\n5. NEXT STEPS (what was agreed upon)\n\n===PROPOSAL===\nWrite a REFINED proposal that incorporates audit findings:\n- Executive Summary (updated with audit insights)\n- Refined Automations/Solutions (updated based on what was actually seen in the audit)\n- Updated ROI & Hours Saved (more accurate estimates based on audit data)\n- Revised Timeline (adjusted based on complexity discovered in audit)\n- Final Investment/Pricing (refined pricing based on actual scope)\n- Implementation Priority Order (which automations to build first based on impact)\n\n===IMPLEMENTATION_GUIDE===\nWrite a REFINED step-by-step implementation guide:\n- Phase 1: Foundation (data model, core integrations based on audit findings)\n- Phase 2: High-Impact Automations (build highest-ROI automations first)\n- Phase 3: Secondary Automations (remaining automations)\n- Phase 4: Testing, Training & Handoff\n- Technical Requirements (specific tools, APIs, credentials needed)\n- Risk Mitigation (potential issues identified during audit and how to address them)\n\n===ACTION_ITEMS===\nReturn a JSON array of action items. Each item must have exactly these fields:\n[{\"task\": \"description\", \"owner\": \"Anthony\" or \"Client\", \"priority\": \"high\" or \"medium\" or \"low\"}]\nInclude 5-10 action items. Focus on what's needed to move from proposal to Statement of Work.\n\nAUDIT CALL TRANSCRIPT:\n{{ $('Extract Form Data').item.json.transcript.substring(0, 12000) }}"
            }
          ]
        },
        "options": {
          "maxTokens": 6000,
          "temperature": 0.2
        }
      },
      "id": "step4b-node-8",
      "name": "Claude: Audit Analysis + Refined Proposal",
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [1570, 300],
      "credentials": {
        "anthropicApi": { "id": "au1c518sMzUt89ul", "name": "VV Claude" }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.content?.[0]?.text || $json.message?.content?.[0]?.text || $json.text || '';\n\nfunction getSection(text, marker) {\n  const start = text.indexOf(marker);\n  if (start === -1) return '';\n  const afterMarker = text.substring(start + marker.length);\n  const nextMarker = afterMarker.search(/===\\w+===/);\n  return nextMarker === -1 ? afterMarker.trim() : afterMarker.substring(0, nextMarker).trim();\n}\n\nconst meetingNotes = getSection(raw, '===MEETING_NOTES===');\nconst proposal = getSection(raw, '===PROPOSAL===');\nconst implementationGuide = getSection(raw, '===IMPLEMENTATION_GUIDE===');\nconst actionItemsRaw = getSection(raw, '===ACTION_ITEMS===');\n\nlet actionItems = [];\ntry {\n  const jsonMatch = actionItemsRaw.match(/\\[.*\\]/s);\n  if (jsonMatch) actionItems = JSON.parse(jsonMatch[0]);\n} catch(e) { /* fallback to empty */ }\n\nreturn [{ json: {\n  meeting_notes: meetingNotes,\n  proposal: proposal,\n  implementation_guide: implementationGuide,\n  action_items: actionItems,\n  action_items_text: actionItems.map(a => `[${a.priority}] ${a.owner}: ${a.task}`).join('\\n'),\n  full_response: raw\n}}];"
      },
      "id": "step4b-node-9",
      "name": "Parse AI Sections",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1790, 300]
    },
    {
      "id": "step4b-node-10",
      "name": "Update Notion (Audit Complete)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [2010, 180],
      "credentials": { "notionApi": { "id": "YOUR_NOTION_CRED_ID", "name": "Notion account" } },
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": "={{ $('Extract Contact Info').item.json.notion_page_id }}",
        "propertiesUi": {
          "propertyValues": [
            { "key": "Notes|rich_text", "richTextValue": "={{ 'AUDIT CALL NOTES:\\n' + $json.meeting_notes.substring(0, 1500) + '\\n\\nAction Items:\\n' + $json.action_items_text.substring(0, 500) }}" },
            { "key": "Last Contact Date|date", "dateValue": "={{ $('Extract Form Data').item.json.meeting_date || $now.toISO() }}", "includeTime": true }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "step4b-node-11",
      "name": "Create Notion Meeting Record (Audit)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [2010, 360],
      "credentials": { "notionApi": { "id": "YOUR_NOTION_CRED_ID", "name": "Notion account" } },
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": { "__rl": true, "value": "YOUR_NOTION_MEETINGS_DB_ID", "mode": "id" },
        "title": "={{ $('Extract Form Data').item.json.meeting_title || 'Audit Call' }}",
        "propertiesUi": {
          "propertyValues": [
            { "key": "Date|date", "dateValue": "={{ $('Extract Form Data').item.json.meeting_date || $now.toISO() }}", "includeTime": false },
            { "key": "Meeting Type|select", "selectValue": "Completed" },
            { "key": "Meeting Category|select", "selectValue": "Audit" },
            { "key": "Contact|relation", "relationValue": ["={{ $('Extract Contact Info').item.json.notion_page_id }}"] },
            { "key": "Attendee Email|email", "emailValue": "={{ $('Extract Form Data').item.json.attendee_email || '' }}" },
            { "key": "BlueDot Notes|rich_text", "richTextValue": "={{ $json.meeting_notes.substring(0, 2000) }}" }
          ]
        },
        "options": {}
      }
    },
    {
      "parameters": {
        "owner": "YOUR_GITHUB_USERNAME",
        "repository": "={{ $('Extract Contact Info').item.json.github_repo_name }}",
        "operation": "edit",
        "filePath": "proposals/proposal-draft.md",
        "commitMessage": "Refine proposal based on audit call findings",
        "fileContent": "=# Proposal (Revised After Audit) \u2014 {{ $('Extract Contact Info').item.json.company_name }}\n\n**Last Updated:** {{ $now.toISODate() }}\n**Client:** {{ $('Extract Contact Info').item.json.contact_name }}\n**Company:** {{ $('Extract Contact Info').item.json.company_name }}\n\n---\n\n{{ $json.proposal }}",
        "additionalParameters": {}
      },
      "id": "step4b-node-12",
      "name": "GitHub: Update Proposal",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [2230, 180],
      "credentials": { "githubApi": { "id": "YOUR_GITHUB_CRED_ID", "name": "GitHub account" } },
      "notes": "Overwrites the existing proposal-draft.md with the refined version from the audit call. Uses GitHub File > Edit operation."
    },
    {
      "parameters": {
        "owner": "YOUR_GITHUB_USERNAME",
        "repository": "={{ $('Extract Contact Info').item.json.github_repo_name }}",
        "operation": "edit",
        "filePath": "docs/implementation-guide.md",
        "commitMessage": "Refine implementation guide based on audit call findings",
        "fileContent": "=# Implementation Guide (Revised After Audit) \u2014 {{ $('Extract Contact Info').item.json.company_name }}\n\n**Last Updated:** {{ $now.toISODate() }}\n**Client:** {{ $('Extract Contact Info').item.json.contact_name }}\n\n---\n\n{{ $json.implementation_guide }}",
        "additionalParameters": {}
      },
      "id": "step4b-node-13",
      "name": "GitHub: Update Implementation Guide",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [2230, 360],
      "credentials": { "githubApi": { "id": "YOUR_GITHUB_CRED_ID", "name": "GitHub account" } },
      "notes": "Overwrites the existing implementation-guide.md with the refined version from the audit call. Uses GitHub File > Edit operation."
    }
  ],
  "pinData": {},
  "connections": {
    "Audit Call Transcript Form": {
      "main": [[{ "node": "Extract Form Data", "type": "main", "index": 0 }]]
    },
    "Extract Form Data": {
      "main": [[{ "node": "Find Notion Contact", "type": "main", "index": 0 }]]
    },
    "Find Notion Contact": {
      "main": [[{ "node": "Contact Found?", "type": "main", "index": 0 }]]
    },
    "Contact Found?": {
      "main": [[{ "node": "Extract Contact Info", "type": "main", "index": 0 }]]
    },
    "Extract Contact Info": {
      "main": [
        [
          { "node": "Upload Transcript to Drive", "type": "main", "index": 0 },
          { "node": "GitHub: Upload Audit Transcript", "type": "main", "index": 0 },
          { "node": "Claude: Audit Analysis + Refined Proposal", "type": "main", "index": 0 }
        ]
      ]
    },
    "Claude: Audit Analysis + Refined Proposal": {
      "main": [[{ "node": "Parse AI Sections", "type": "main", "index": 0 }]]
    },
    "Parse AI Sections": {
      "main": [
        [
          { "node": "Update Notion (Audit Complete)", "type": "main", "index": 0 },
          { "node": "Create Notion Meeting Record (Audit)", "type": "main", "index": 0 },
          { "node": "GitHub: Update Proposal", "type": "main", "index": 0 },
          { "node": "GitHub: Update Implementation Guide", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "step4b-v1-audit",
  "meta": { "templateCredsSetupCompleted": false },
  "id": "",
  "tags": []
}