WF_STEP3C_Calendly_Screening.json
{
  "name": "Lead Gen WF3C — Calendly Discovery Call Screening",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "calendly-discovery-screening",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "step3c-node-1",
      "name": "Calendly Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        500
      ],
      "webhookId": "calendly-discovery-screening",
      "notes": "Receives Calendly invitee.created webhooks for 'Veteran Vectors - Discovery Call' events. Responds immediately with 200."
    },
    {
      "parameters": {
        "jsCode": "const payload = $json.body || $json;\nconst eventPayload = payload.payload || {};\nconst event = eventPayload.event || {};\nconst invitee = eventPayload.invitee || {};\n\nconst eventUri = event.uri || eventPayload.event || '';\nconst eventUuid = eventUri ? eventUri.split('/').pop() : '';\nconst eventName = event.name || eventPayload.event_type?.name || 'Discovery Call';\nconst startTime = event.start_time || '';\n\nconst inviteeName = invitee.name || '';\nconst inviteeEmail = invitee.email || '';\n\nconst qAndA = invitee.questions_and_answers || [];\n\nlet q1_decision_maker = '';\nlet q2_budget = '';\nlet q3_employees = '';\nlet q4_processes = '';\nlet q5_current_tools = '';\nlet q6_phone = '';\n\nfor (const qa of qAndA) {\n  const q = (qa.question || '').toLowerCase();\n  const a = qa.answer || '';\n\n  if (q.includes('business owner') || q.includes('decision maker')) {\n    q1_decision_maker = a;\n  } else if (q.includes('$2,000') || q.includes('2,000') || q.includes('budget')) {\n    q2_budget = a;\n  } else if (q.includes('how many employees')) {\n    q3_employees = a;\n  } else if (q.includes('processes are you looking to automate') || q.includes('specific processes')) {\n    q4_processes = a;\n  } else if (q.includes('currently handling') || q.includes('tools, processes')) {\n    q5_current_tools = a;\n  } else if (q.includes('phone number')) {\n    q6_phone = a;\n  }\n}\n\nreturn [{\n  json: {\n    event_uri: eventUri,\n    event_uuid: eventUuid,\n    event_name: eventName,\n    start_time: startTime,\n    invitee_name: inviteeName,\n    invitee_email: inviteeEmail,\n    q1_decision_maker,\n    q2_budget,\n    q3_employees,\n    q4_processes,\n    q5_current_tools,\n    q6_phone\n  }\n}];"
      },
      "id": "step3c-node-2",
      "name": "Extract Event + Invitee Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\nconst q1Fail = (d.q1_decision_maker || '').toLowerCase() === 'no';\nconst q2Fail = (d.q2_budget || '').toLowerCase().includes('not quite yet');\nconst q3Fail = ['1-5', '6-10'].includes(d.q3_employees || '');\nconst isPotentialDecline = q1Fail && q2Fail && q3Fail;\nreturn [{ json: { ...d, is_potential_decline: isPotentialDecline, q1_fail: q1Fail, q2_fail: q2Fail, q3_fail: q3Fail } }];"
      },
      "id": "step3c-node-3",
      "name": "Check Decline Criteria",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "condition-decline",
              "leftValue": "={{ $json.is_potential_decline }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "step3c-node-4",
      "name": "Potential Decline?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1000,
        500
      ]
    },
    {
      "parameters": {
        "sendTo": "anthony@veteranvectors.io",
        "subject": "=⚠️ Discovery Call Screening: {{ $json.invitee_name }} — Potential Decline",
        "emailType": "html",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px;\">\n<h2 style=\"color: #d35400;\">⚠️ Discovery Call Screening — Potential Decline</h2>\n<hr>\n<table style=\"width:100%; border-collapse:collapse;\">\n<tr><td style=\"padding:6px 12px; font-weight:bold;\">Name:</td><td style=\"padding:6px 12px;\">{{ $json.invitee_name }}</td></tr>\n<tr><td style=\"padding:6px 12px; font-weight:bold;\">Email:</td><td style=\"padding:6px 12px;\">{{ $json.invitee_email }}</td></tr>\n<tr><td style=\"padding:6px 12px; font-weight:bold;\">Event:</td><td style=\"padding:6px 12px;\">{{ $json.event_name }}</td></tr>\n<tr><td style=\"padding:6px 12px; font-weight:bold;\">Scheduled:</td><td style=\"padding:6px 12px;\">{{ $json.start_time }}</td></tr>\n</table>\n<h3 style=\"margin-top:20px;\">Screening Answers</h3>\n<table style=\"width:100%; border-collapse:collapse; border:1px solid #ddd;\">\n<tr style=\"background:#f8f8f8;\"><td style=\"padding:8px; font-weight:bold; border:1px solid #ddd;\">Q1: Business Owner / Decision Maker?</td><td style=\"padding:8px; border:1px solid #ddd; color:{{ $json.q1_fail ? '#c0392b' : '#27ae60' }};\">{{ $json.q1_decision_maker || 'No answer' }} {{ $json.q1_fail ? '❌' : '✅' }}</td></tr>\n<tr><td style=\"padding:8px; font-weight:bold; border:1px solid #ddd;\">Q2: Budget ($2,000+ OK)?</td><td style=\"padding:8px; border:1px solid #ddd; color:{{ $json.q2_fail ? '#c0392b' : '#27ae60' }};\">{{ $json.q2_budget || 'No answer' }} {{ $json.q2_fail ? '❌' : '✅' }}</td></tr>\n<tr style=\"background:#f8f8f8;\"><td style=\"padding:8px; font-weight:bold; border:1px solid #ddd;\">Q3: Employees</td><td style=\"padding:8px; border:1px solid #ddd; color:{{ $json.q3_fail ? '#c0392b' : '#27ae60' }};\">{{ $json.q3_employees || 'No answer' }} {{ $json.q3_fail ? '❌' : '✅' }}</td></tr>\n<tr><td style=\"padding:8px; font-weight:bold; border:1px solid #ddd;\">Q4: Processes to Automate</td><td style=\"padding:8px; border:1px solid #ddd;\">{{ $json.q4_processes || 'No answer' }}</td></tr>\n<tr style=\"background:#f8f8f8;\"><td style=\"padding:8px; font-weight:bold; border:1px solid #ddd;\">Q5: Current Tools/Processes</td><td style=\"padding:8px; border:1px solid #ddd;\">{{ $json.q5_current_tools || 'No answer' }}</td></tr>\n<tr><td style=\"padding:8px; font-weight:bold; border:1px solid #ddd;\">Q6: Phone Number</td><td style=\"padding:8px; border:1px solid #ddd;\">{{ $json.q6_phone || 'No answer' }}</td></tr>\n</table>\n<p style=\"margin-top:20px; color:#c0392b; font-weight:bold;\">All 3 decline criteria met. Action required:</p>\n<div style=\"margin-top:16px; text-align:center;\">\n<a href=\"{{ $execution.resumeUrl }}?action=approve&event_uuid={{ $json.event_uuid }}&invitee_email={{ encodeURIComponent($json.invitee_email) }}\" style=\"display:inline-block; padding:12px 32px; background:#27ae60; color:#fff; text-decoration:none; border-radius:6px; font-size:16px; margin-right:12px;\">✅ Approve — Keep Call</a>\n<a href=\"{{ $execution.resumeUrl }}?action=disapprove&event_uuid={{ $json.event_uuid }}&invitee_email={{ encodeURIComponent($json.invitee_email) }}\" style=\"display:inline-block; padding:12px 32px; background:#c0392b; color:#fff; text-decoration:none; border-radius:6px; font-size:16px;\">❌ Disapprove — Cancel Call</a>\n</div>\n</div>",
        "options": {}
      },
      "id": "step3c-node-5",
      "name": "Email Anthony for Approval",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        1280,
        350
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "r13jnGsjwNOqcBvt",
          "name": "VV Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "id": "step3c-node-6",
      "name": "Wait for Anthony's Decision",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1530,
        350
      ],
      "webhookId": "calendly-screening-decision"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "condition-approved",
              "leftValue": "={{ $json.query.action }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "step3c-node-7",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1780,
        350
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Check Decline Criteria').item.json.invitee_email }}",
        "subject": "Thank you for your interest — A gift from Veteran Vectors",
        "emailType": "html",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; line-height: 1.6;\">\n<p>Hi {{ $('Check Decline Criteria').item.json.invitee_name.split(' ')[0] || 'there' }},</p>\n<p>Thank you so much for taking the time to book a discovery call with Veteran Vectors. We truly appreciate your interest in exploring how automation can transform your business.</p>\n<p>After reviewing the details, it looks like the timing may not be the perfect fit right now — and that's completely okay. We want to make sure that when we work together, we can deliver the maximum value for where your business is at.</p>\n<p>In the meantime, we'd love to share something with you that can help right away:</p>\n<p style=\"text-align:center; margin: 24px 0;\">\n<a href=\"YOUR_LEAD_MAGNET_URL\" style=\"display:inline-block; padding:14px 36px; background:#2c3e50; color:#fff; text-decoration:none; border-radius:6px; font-size:16px;\">Download Your Free Automation Guide</a>\n</p>\n<p>This guide covers practical automation strategies you can start implementing today, no matter the size of your team.</p>\n<p>When the time is right, we'd love to reconnect. Don't hesitate to reach out — we're always here to help.</p>\n<p>Wishing you continued success,</p>\n<p><strong>The Veteran Vectors Team</strong><br>anthony@veteranvectors.io</p>\n</div>",
        "options": {}
      },
      "id": "step3c-node-8",
      "name": "Send Apology Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        2060,
        450
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "r13jnGsjwNOqcBvt",
          "name": "VV Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.calendly.com/scheduled_events/{{ $('Check Decline Criteria').item.json.event_uuid }}/cancellation",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"reason\": \"After reviewing your screening responses, we determined this isn't the best fit at the moment. We wish you the best and hope to connect in the future.\" }",
        "options": {}
      },
      "id": "step3c-node-9",
      "name": "Cancel Calendly Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2310,
        450
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "uFXaP32GB3oPzqwu",
          "name": "VV - Calendly"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge data from the decline path (after Anthony approves) or the non-decline path\n// We need to get the original screening data from Check Decline Criteria\nconst d = $('Check Decline Criteria').first().json;\nreturn [{ json: {\n  invitee_name: d.invitee_name,\n  invitee_email: d.invitee_email,\n  event_name: d.event_name,\n  event_uuid: d.event_uuid,\n  start_time: d.start_time,\n  q1_decision_maker: d.q1_decision_maker,\n  q2_budget: d.q2_budget,\n  q3_employees: d.q3_employees,\n  q4_processes: d.q4_processes,\n  q5_current_tools: d.q5_current_tools,\n  q6_phone: d.q6_phone\n} }];"
      },
      "id": "step3c-node-10",
      "name": "Consolidate Screening Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        750
      ]
    },
    {
      "id": "step3c-node-11",
      "name": "Find Notion Contact",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1530,
        750
      ],
      "credentials": {
        "notionApi": {
          "id": "YOUR_NOTION_CRED_ID",
          "name": "Notion account"
        }
      },
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "30371d52651c80b1b5f2d93203b3836b",
          "mode": "id"
        },
        "returnAll": false,
        "limit": 1,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Email|email",
              "condition": "string:equals",
              "emailValue": "={{ $json.invitee_email }}"
            }
          ]
        },
        "options": {
          "simple": false
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "condition-contact-exists",
              "leftValue": "={{ $json.id || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "step3c-node-12",
      "name": "Contact Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1780,
        750
      ]
    },
    {
      "id": "step3c-node-13",
      "name": "Create Contact if New",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2060,
        900
      ],
      "credentials": {
        "notionApi": {
          "id": "YOUR_NOTION_CRED_ID",
          "name": "Notion account"
        }
      },
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "value": "30371d52651c80b1b5f2d93203b3836b",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "textValue": "={{ $('Consolidate Screening Data').item.json.invitee_name }}"
            },
            {
              "key": "Email|email",
              "emailValue": "={{ $('Consolidate Screening Data').item.json.invitee_email }}"
            },
            {
              "key": "Phone|phone_number",
              "phoneValue": "={{ $('Consolidate Screening Data').item.json.q6_phone }}"
            },
            {
              "key": "Status|select",
              "selectValue": "Meeting Scheduled"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "parameters": {
        "jsCode": "// Get contact page ID from either the found contact or the newly created one\nlet contactId = '';\ntry {\n  const found = $('Contact Exists?').first().json;\n  if (found && found.id) {\n    contactId = found.id;\n  }\n} catch(e) {}\n\nif (!contactId) {\n  try {\n    const created = $('Create Contact if New').first().json;\n    if (created && created.id) {\n      contactId = created.id;\n    }\n  } catch(e) {}\n}\n\nconst d = $('Consolidate Screening Data').first().json;\nreturn [{ json: { ...d, notion_contact_id: contactId } }];"
      },
      "id": "step3c-node-14",
      "name": "Set Contact ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2310,
        750
      ]
    },
    {
      "id": "step3c-node-15",
      "name": "Update Notion (Meeting Scheduled)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2560,
        750
      ],
      "credentials": {
        "notionApi": {
          "id": "YOUR_NOTION_CRED_ID",
          "name": "Notion account"
        }
      },
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": "={{ $json.notion_contact_id }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Meeting Scheduled"
            },
            {
              "key": "Call Booked|checkbox",
              "checkboxValue": true
            },
            {
              "key": "Responded|checkbox",
              "checkboxValue": true
            },
            {
              "key": "Last Contact Date|date",
              "dateValue": "={{ $now.toISO() }}",
              "includeTime": true
            },
            {
              "key": "Phone|phone_number",
              "phoneValue": "={{ $json.q6_phone }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "step3c-node-16",
      "name": "Create Notion Meeting Record",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2810,
        750
      ],
      "credentials": {
        "notionApi": {
          "id": "YOUR_NOTION_CRED_ID",
          "name": "Notion account"
        }
      },
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "value": "30371d52651c80a9a9ffdfaf0b135480",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "textValue": "={{ $json.event_name }}"
            },
            {
              "key": "Date|date",
              "dateValue": "={{ $json.start_time }}",
              "includeTime": true
            },
            {
              "key": "Meeting Type|select",
              "selectValue": "Scheduled"
            },
            {
              "key": "Meeting Category|select",
              "selectValue": "Discovery"
            },
            {
              "key": "Contact|relation",
              "relationValue": "={{ $json.notion_contact_id }}"
            },
            {
              "key": "Attendee Email|email",
              "emailValue": "={{ $json.invitee_email }}"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Calendly Webhook": {
      "main": [
        [
          {
            "node": "Extract Event + Invitee Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Event + Invitee Data": {
      "main": [
        [
          {
            "node": "Check Decline Criteria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Decline Criteria": {
      "main": [
        [
          {
            "node": "Potential Decline?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Potential Decline?": {
      "main": [
        [
          {
            "node": "Email Anthony for Approval",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Consolidate Screening Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Anthony for Approval": {
      "main": [
        [
          {
            "node": "Wait for Anthony's Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Anthony's Decision": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "Consolidate Screening Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Apology Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Apology Email": {
      "main": [
        [
          {
            "node": "Cancel Calendly Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidate Screening Data": {
      "main": [
        [
          {
            "node": "Find Notion Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Notion Contact": {
      "main": [
        [
          {
            "node": "Contact Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Exists?": {
      "main": [
        [
          {
            "node": "Set Contact ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Contact if New",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Contact if New": {
      "main": [
        [
          {
            "node": "Set Contact ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Contact ID": {
      "main": [
        [
          {
            "node": "Update Notion (Meeting Scheduled)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Notion (Meeting Scheduled)": {
      "main": [
        [
          {
            "node": "Create Notion Meeting Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "step3c-v3-webhook",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "",
  "tags": []
}