WF_STEP3A_No_Response_Followup.json
{
  "name": "Lead Gen WF3A \u2014 No Response Follow-Up (3-Day Timer)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hour": 9,
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "step5a-node-1",
      "name": "Daily 9 AM Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ],
      "notes": "Runs every day at 9 AM to check for contacts who were sent a Loom video 3+ days ago with no response."
    },
    {
      "id": "step5a-node-2",
      "name": "Query Notion: Loom Sent > 3 Days",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        470,
        300
      ],
      "credentials": {
        "notionApi": {
          "id": "YOUR_NOTION_CRED_ID",
          "name": "Notion account"
        }
      },
      "notes": "Finds all contacts where: Status = 'Loom Sent', Loom Sent = true, Responded = false, Last Contact Date >= 3 days ago.",
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "30371d52651c80b1b5f2d93203b3836b",
          "mode": "id"
        },
        "returnAll": true,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Status|select",
              "condition": "string:equals",
              "selectValue": "Loom Sent"
            },
            {
              "key": "Loom Sent|checkbox",
              "condition": "boolean:equals",
              "checkboxValue": true
            },
            {
              "key": "Responded|checkbox",
              "condition": "boolean:equals",
              "checkboxValue": false
            },
            {
              "key": "Last Contact Date|date",
              "condition": "dateTime:onOrBefore",
              "dateValue": "={{ $now.minus({days: 3}).toISODate() }}"
            }
          ]
        },
        "options": {
          "simple": false
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.id || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "step5a-node-3",
      "name": "Any Contacts Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        690,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract contact data from Notion query results\nconst results = $input.all().map(i => i.json).filter(p => p.id);\nreturn results.map(page => {\n  const props = page.properties;\n  return {\n    json: {\n      notion_page_id: page.id,\n      name: props['Name']?.title?.[0]?.text?.content || '',\n      email: props['Email']?.email || '',\n      linkedin_url: props['LinkedIn Profile']?.url || '',\n      company: props['Company']?.rich_text?.[0]?.text?.content || '',\n      last_contact: props['Last Contact Date']?.date?.start || '',\n      loom_sent_date: props['Last Contact Date']?.date?.start || ''\n    }\n  };\n});"
      },
      "id": "step5a-node-4",
      "name": "Extract Contact Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        910,
        240
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "step5a-node-5",
      "name": "Loop Over Contacts",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1130,
        240
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.prosp.ai/v1/prospects/search?linkedin_url={{ encodeURIComponent($json.linkedin_url) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 10000
        }
      },
      "id": "step5a-node-9",
      "name": "Check Prosp.ai for Replies",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1350,
        240
      ],
      "notes": "Checks Prosp.ai to see if the prospect has replied to any outreach. Uses the LinkedIn URL to look up the prospect.",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_PROSP_HEADER_AUTH_CRED_ID",
          "name": "Prosp.ai API Key"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const prospData = $json;\nconst contact = $('Loop Over Contacts').item.json;\nconst prospects = prospData.results || prospData.data || [prospData];\nconst prospect = prospects[0] || {};\nconst replyStatus = (prospect.reply_status || prospect.status || '').toLowerCase();\nconst hasReplied = prospect.replied || prospect.has_replied || false;\nconst replyText = (prospect.last_reply || prospect.reply_message || '').toLowerCase();\n\nlet action = 'follow_up'; // default: add to follow-up campaign\n\nif (hasReplied || replyStatus === 'replied') {\n  // Check if positive (meeting set) or negative (declined)\n  const positiveKeywords = ['yes', 'interested', 'schedule', 'meeting', 'call', 'book', 'available', 'let\\'s', 'sounds good'];\n  const negativeKeywords = ['no', 'not interested', 'unsubscribe', 'remove', 'stop', 'decline', 'pass'];\n\n  const isPositive = positiveKeywords.some(k => replyText.includes(k));\n  const isNegative = negativeKeywords.some(k => replyText.includes(k));\n\n  if (isPositive) {\n    action = 'meeting_set'; // Contact replied positively, don't follow up\n  } else if (isNegative) {\n    action = 'declined'; // Contact declined, mark as declined\n  }\n  // If replied but unclear, still follow up\n}\n\nreturn [{ json: { ...contact, prosp_action: action, prosp_reply_status: replyStatus, prosp_has_replied: hasReplied } }];"
      },
      "id": "step5a-node-10",
      "name": "Parse Prosp Reply Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1570,
        240
      ],
      "notes": "Parses the Prosp.ai response to determine if the prospect replied positively (meeting set), negatively (declined), or not at all (follow up)."
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.prosp_action }}",
                    "rightValue": "follow_up",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "follow_up"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.prosp_action }}",
                    "rightValue": "meeting_set",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "meeting_set"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.prosp_action }}",
                    "rightValue": "declined",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "declined"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "step5a-node-11",
      "name": "Route by Reply Status",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1790,
        240
      ],
      "notes": "Routes contacts based on Prosp.ai reply status: follow_up (no reply), meeting_set (positive reply), or declined (negative reply)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.prosp.ai/v1/campaigns/YOUR_FOLLOWUP_CAMPAIGN_ID/prospects",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"linkedin_url\": {{ JSON.stringify($json.linkedin_url || '') }},\n  \"name\": {{ JSON.stringify($json.name || '') }},\n  \"email\": {{ JSON.stringify($json.email || '') }},\n  \"tags\": [\"follow-up-loom\", \"3-day-no-response\"]\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "step5a-node-6",
      "name": "Add to Prosp.ai Follow-Up Campaign",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2060,
        100
      ],
      "notes": "Adds the contact to the Prosp.ai follow-up Loom video campaign (3-message sequence). Replace YOUR_FOLLOWUP_CAMPAIGN_ID with your Prosp.ai follow-up campaign ID. Set up HTTP Header Auth with your Prosp.ai API key.",
      "onError": "continueErrorOutput"
    },
    {
      "id": "step5a-node-7",
      "name": "Update Notion (Follow-Up Sequence)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        2280,
        100
      ],
      "credentials": {
        "notionApi": {
          "id": "YOUR_NOTION_CRED_ID",
          "name": "Notion account"
        }
      },
      "notes": "Updates Notion contact: Status = 'Follow-Up Sequence', sets Need to Follow Up Date.",
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": "={{ $('Loop Over Contacts').item.json.notion_page_id }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Follow-Up Sequence"
            },
            {
              "key": "Need to Follow Up Date|date",
              "dateValue": "={{ $now.toISO() }}",
              "includeTime": true
            },
            {
              "key": "Last Contact Date|date",
              "dateValue": "={{ $now.toISO() }}",
              "includeTime": true
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "step5a-node-12",
      "name": "Update Notion (Meeting Set)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        2060,
        300
      ],
      "credentials": {
        "notionApi": {
          "id": "YOUR_NOTION_CRED_ID",
          "name": "Notion account"
        }
      },
      "notes": "Updates Notion contact when Prosp.ai shows a positive reply: Status = 'Responded', Responded = true.",
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": "={{ $json.notion_page_id }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Responded"
            },
            {
              "key": "Responded|checkbox",
              "checkboxValue": true
            },
            {
              "key": "Last Contact Date|date",
              "dateValue": "={{ $now.toISO() }}",
              "includeTime": true
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "step5a-node-13",
      "name": "Update Notion (Declined)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        2060,
        500
      ],
      "credentials": {
        "notionApi": {
          "id": "YOUR_NOTION_CRED_ID",
          "name": "Notion account"
        }
      },
      "notes": "Updates Notion contact when Prosp.ai shows a negative reply: Status = 'Declined', Responded = true.",
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": "={{ $json.notion_page_id }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Declined"
            },
            {
              "key": "Responded|checkbox",
              "checkboxValue": true
            },
            {
              "key": "Last Contact Date|date",
              "dateValue": "={{ $now.toISO() }}",
              "includeTime": true
            }
          ]
        },
        "options": {}
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "step5a-node-8",
      "name": "Wait (Follow-Up)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2500,
        100
      ],
      "webhookId": "step5a-wait-followup"
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "step5a-node-14",
      "name": "Wait (Meeting Set)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2280,
        300
      ],
      "webhookId": "step5a-wait-meeting"
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "step5a-node-15",
      "name": "Wait (Declined)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2280,
        500
      ],
      "webhookId": "step5a-wait-declined"
    }
  ],
  "pinData": {},
  "connections": {
    "Daily 9 AM Check": {
      "main": [
        [
          {
            "node": "Query Notion: Loom Sent > 3 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Notion: Loom Sent > 3 Days": {
      "main": [
        [
          {
            "node": "Any Contacts Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Contacts Found?": {
      "main": [
        [
          {
            "node": "Extract Contact Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Contact Data": {
      "main": [
        [
          {
            "node": "Loop Over Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Contacts": {
      "main": [
        [],
        [
          {
            "node": "Check Prosp.ai for Replies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Prosp.ai for Replies": {
      "main": [
        [
          {
            "node": "Parse Prosp Reply Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Prosp Reply Status": {
      "main": [
        [
          {
            "node": "Route by Reply Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Reply Status": {
      "main": [
        [
          {
            "node": "Add to Prosp.ai Follow-Up Campaign",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Notion (Meeting Set)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Notion (Declined)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Prosp.ai Follow-Up Campaign": {
      "main": [
        [
          {
            "node": "Update Notion (Follow-Up Sequence)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Notion (Follow-Up Sequence)": {
      "main": [
        [
          {
            "node": "Wait (Follow-Up)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Notion (Meeting Set)": {
      "main": [
        [
          {
            "node": "Wait (Meeting Set)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Notion (Declined)": {
      "main": [
        [
          {
            "node": "Wait (Declined)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait (Follow-Up)": {
      "main": [
        [
          {
            "node": "Loop Over Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait (Meeting Set)": {
      "main": [
        [
          {
            "node": "Loop Over Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait (Declined)": {
      "main": [
        [
          {
            "node": "Loop Over Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "step5a-v1-0",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "",
  "tags": []
}