WF_STEP6_Contract_Reminders.json
{
  "name": "WF STEP6 - Contract Reminders (Every Other Day)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hour": 9,
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "step8-node-1",
      "name": "Every Other Day 9 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ],
      "notes": "Runs daily at 9 AM. The workflow checks internally if today is a reminder day (every other day) to avoid over-contacting."
    },
    {
      "parameters": {
        "jsCode": "// Check if today is an 'every other day' \u2014 use even/odd day of year\n// $now is a Luxon DateTime in n8n, use .ordinal for day-of-year\nconst dayOfYear = $now.ordinal;\nconst isReminderDay = dayOfYear % 2 === 0;\nreturn [{ json: { isReminderDay, dayOfYear, today: $now.toISODate() } }];"
      },
      "id": "step8-node-1b",
      "name": "Check If Reminder Day",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        470,
        300
      ],
      "notes": "Ensures reminders only fire every other day (even days of the year)."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.isReminderDay }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "step8-node-2",
      "name": "Is Reminder Day?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        690,
        300
      ]
    },
    {
      "id": "step8-node-3",
      "name": "Query Notion: Unsigned Contracts",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        910,
        240
      ],
      "credentials": {
        "notionApi": {
          "id": "YOUR_NOTION_CRED_ID",
          "name": "Notion account"
        }
      },
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "YOUR_NOTION_CONTACTS_DB_ID",
          "mode": "id"
        },
        "returnAll": true,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Status|select",
              "condition": "string:equals",
              "selectValue": "Contract Sent"
            },
            {
              "key": "Last Contact Date|date",
              "condition": "dateTime:onOrBefore",
              "dateValue": "={{ $now.minus({days: 1}).toISODate() }}"
            }
          ],
          "combinator": "and"
        },
        "options": {
          "simple": false
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.id || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "step8-node-4",
      "name": "Any Unsigned?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1130,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const results = $input.all().map(i => i.json).filter(p => p.id);\nconst now = new Date();\n\nreturn results.map(page => {\n  const props = page.properties;\n  const name = props['Name']?.title?.[0]?.text?.content || '';\n  const email = props['Email']?.email || '';\n  const company = props['Company']?.rich_text?.[0]?.text?.content || '';\n  const lastContact = props['Last Contact Date']?.date?.start || '';\n  const daysSinceSent = lastContact ? Math.floor((now - new Date(lastContact)) / 86400000) : 0;\n\n  let reminderType = 'gentle';\n  if (daysSinceSent >= 30) reminderType = 'expire';\n  else if (daysSinceSent >= 14) reminderType = 'escalation';\n\n  return {\n    json: {\n      notion_page_id: page.id,\n      name, email, company,\n      first_name: name.split(' ')[0],\n      days_since_sent: daysSinceSent,\n      reminder_type: reminderType,\n      last_contact: lastContact\n    }\n  };\n});"
      },
      "id": "step8-node-5",
      "name": "Calculate Days & Tier",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1350,
        240
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "step8-node-6",
      "name": "Loop Over Contacts",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1570,
        240
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.reminder_type }}",
                    "rightValue": "gentle",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputLabel": "Gentle Reminder"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.reminder_type }}",
                    "rightValue": "escalation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputLabel": "Escalation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.reminder_type }}",
                    "rightValue": "expire",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputLabel": "Auto-Expire"
            }
          ]
        },
        "options": {}
      },
      "id": "step8-node-7",
      "name": "Route by Reminder Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1790,
        240
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Quick follow-up on your Veteran Vectors proposal, {{ $json.first_name }}",
        "message": "=<p>Hey {{ $json.first_name }},</p><p>Just wanted to follow up on the Statement of Work we sent over. Let me know if you have any questions or want to hop on a quick call to discuss.</p><p>Looking forward to working together!</p><p>Cheers,<br>Anthony<br>Veteran Vectors</p>",
        "options": {
          "ccList": "anthony@veteranvectors.io"
        }
      },
      "id": "step8-node-8a",
      "name": "Send Gentle Reminder",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        2010,
        100
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "r13jnGsjwNOqcBvt",
          "name": "VV Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Checking in on your project - {{ $json.company }}",
        "message": "=<p>Hey {{ $json.first_name }},</p><p>I wanted to reach out again regarding our Statement of Work for {{ $json.company }}. It's been {{ $json.days_since_sent }} days since we sent it over.</p><p>I understand things get busy \u2014 if you need any changes to the scope, timeline, or pricing, I'm happy to adjust. Just let me know what works best for you.</p><p>If now isn't the right time, no worries at all. Just want to make sure we're on the same page.</p><p>Cheers,<br>Anthony<br>Veteran Vectors</p>",
        "options": {
          "ccList": "anthony@veteranvectors.io"
        }
      },
      "id": "step8-node-8b",
      "name": "Send Escalation Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        2010,
        260
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "r13jnGsjwNOqcBvt",
          "name": "VV Gmail account"
        }
      }
    },
    {
      "id": "step8-node-8c",
      "name": "Auto-Expire in Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        2010,
        420
      ],
      "credentials": {
        "notionApi": {
          "id": "YOUR_NOTION_CRED_ID",
          "name": "Notion account"
        }
      },
      "notes": "After 30 days with no signed contract, auto-expires the lead to 'Declined' in Notion.",
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": "={{ $json.notion_page_id }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Declined"
            },
            {
              "key": "Last Contact Date|date",
              "dateValue": "={{ $now.toISO() }}",
              "includeTime": true
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "step8-node-9",
      "name": "Log Reminder in Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        2230,
        180
      ],
      "credentials": {
        "notionApi": {
          "id": "YOUR_NOTION_CRED_ID",
          "name": "Notion account"
        }
      },
      "notes": "Updates Last Contact Date to track when reminders were sent (prevents duplicate reminders).",
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": "={{ $json.notion_page_id }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Last Contact Date|date",
              "dateValue": "={{ $now.toISO() }}",
              "includeTime": true
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Every Other Day 9 AM": {
      "main": [
        [
          {
            "node": "Check If Reminder Day",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Reminder Day": {
      "main": [
        [
          {
            "node": "Is Reminder Day?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Reminder Day?": {
      "main": [
        [
          {
            "node": "Query Notion: Unsigned Contracts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Notion: Unsigned Contracts": {
      "main": [
        [
          {
            "node": "Any Unsigned?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Unsigned?": {
      "main": [
        [
          {
            "node": "Calculate Days & Tier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Days & Tier": {
      "main": [
        [
          {
            "node": "Loop Over Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Contacts": {
      "main": [
        [],
        [
          {
            "node": "Route by Reminder Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Reminder Type": {
      "main": [
        [
          {
            "node": "Send Gentle Reminder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Escalation Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Auto-Expire in Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Gentle Reminder": {
      "main": [
        [
          {
            "node": "Log Reminder in Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Escalation Email": {
      "main": [
        [
          {
            "node": "Log Reminder in Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Reminder in Notion": {
      "main": [
        [
          {
            "node": "Loop Over Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-Expire in Notion": {
      "main": [
        [
          {
            "node": "Loop Over Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "step8-v2-0",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "",
  "tags": []
}