WF_STEP4_Meeting_Processing.json
{
  "name": "WF STEP4 - Post-Discovery Call Processing (BlueDot → Notion + Drive + Proposal)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bluedot-meeting-processed",
        "options": { "rawBody": true }
      },
      "id": "step6-node-1",
      "name": "BlueDot Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "bluedot-meeting-processed",
      "notes": "Receives BlueDot webhook when a meeting transcript is ready. Configure this URL in your BlueDot settings."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bd-title",
              "name": "meeting_title",
              "value": "={{ $json.body.title || $json.body.meeting_title || '' }}",
              "type": "string"
            },
            {
              "id": "bd-transcript",
              "name": "transcript",
              "value": "={{ ($json.body.transcript || $json.body.text || '').substring(0, 15000) }}",
              "type": "string"
            },
            {
              "id": "bd-attendees",
              "name": "attendee_email",
              "value": "={{ $json.body.attendees?.[0]?.email || $json.body.attendee_email || '' }}",
              "type": "string"
            },
            {
              "id": "bd-attendee-name",
              "name": "attendee_name",
              "value": "={{ $json.body.attendees?.[0]?.name || $json.body.attendee_name || '' }}",
              "type": "string"
            },
            {
              "id": "bd-date",
              "name": "meeting_date",
              "value": "={{ $json.body.date || $json.body.meeting_date || $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "bd-summary",
              "name": "bluedot_summary",
              "value": "={{ $json.body.summary || '' }}",
              "type": "string"
            },
            {
              "id": "bd-action-items",
              "name": "bluedot_action_items",
              "value": "={{ JSON.stringify($json.body.action_items || $json.body.actionItems || []) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "step6-node-2",
      "name": "Extract BlueDot Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/YOUR_NOTION_CONTACTS_DB_ID/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Notion-Version", "value": "2022-06-28" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\n    \"or\": [\n      {\n        \"property\": \"Email\",\n        \"email\": { \"equals\": {{ JSON.stringify($json.attendee_email || '') }} }\n      },\n      {\n        \"property\": \"Name\",\n        \"title\": { \"equals\": {{ JSON.stringify($json.attendee_name || '') }} }\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "step6-node-3",
      "name": "Find Notion Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "leftValue": "={{ $json.results?.length || 0 }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "step6-node-4",
      "name": "Contact Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [910, 300]
    },
    {
      "parameters": {
        "jsCode": "const contact = $('Find Notion Contact').first().json.results[0];\nconst props = contact.properties;\nconst companyName = props['Company']?.rich_text?.[0]?.text?.content || 'Unknown-Company';\nconst contactName = props['Name']?.title?.[0]?.text?.content || 'Unknown';\nconst existingFolderId = props['Drive Folder ID']?.rich_text?.[0]?.text?.content || '';\n\nreturn [{\n  json: {\n    notion_page_id: contact.id,\n    contact_name: contactName,\n    company_name: companyName,\n    contact_email: props['Email']?.email || '',\n    existing_folder_id: existingFolderId,\n    folder_name: companyName + '-' + contactName\n  }\n}];"
      },
      "id": "step6-node-5",
      "name": "Extract Contact Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 240]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "leftValue": "={{ $json.existing_folder_id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "empty", "singleValue": true }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "step6-node-6",
      "name": "Folder Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1350, 240]
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Extract Contact Info').item.json.folder_name }}",
        "driveId": { "__rl": true, "mode": "list", "value": "My Drive" },
        "folderId": { "__rl": true, "value": "YOUR_CLIENTS_FOLDER_ID", "mode": "id" },
        "options": {}
      },
      "id": "step6-node-7a",
      "name": "Create Google Drive Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1570, 160],
      "notes": "Creates a new client folder in Google Drive under the root Clients folder. Replace YOUR_CLIENTS_FOLDER_ID."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-folder-id",
              "name": "drive_folder_id",
              "value": "={{ $json.existing_folder_id || $('Create Google Drive Folder').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "step6-node-8",
      "name": "Set Folder ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1790, 240]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-5-20250929",
          "mode": "list",
          "cachedResultName": "claude-sonnet-4-5-20250929"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a business consultant for Veteran Vectors, an automation consulting firm. Analyze this discovery call transcript and produce:\n\n1. MEETING SUMMARY (2-3 paragraphs)\n2. KEY PAIN POINTS (bulleted list)\n3. ACTION ITEMS (numbered list with owner: Anthony or Client)\n4. BUDGET/TIMELINE mentioned\n5. NEXT STEPS\n6. PRELIMINARY PROPOSAL OUTLINE - Based on the pain points and needs discussed, outline a preliminary proposal with:\n   - Recommended automations/solutions\n   - Estimated scope\n   - Suggested timeline\n   - Approximate value/ROI\n\nTRANSCRIPT:\n{{ $('Extract BlueDot Data').item.json.transcript.substring(0, 12000) }}"
            }
          ]
        },
        "options": {
          "maxTokens": 4000,
          "temperature": 0.2
        }
      },
      "id": "step6-node-9",
      "name": "Claude: Extract Notes + Proposal Brief",
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [2010, 240],
      "credentials": {
        "anthropicApi": {
          "id": "au1c518sMzUt89ul",
          "name": "VV Claude"
        }
      },
      "notes": "Uses Claude Sonnet (native node with VV Claude credential) to extract meeting notes, action items, and generate a preliminary proposal outline. Standardized to match Loom Research Script pattern."
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $('Extract Contact Info').item.json.notion_page_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Notion-Version", "value": "2022-06-28" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"Status\": { \"select\": { \"name\": \"Meeting Held\" } },\n    \"Notes\": { \"rich_text\": [{ \"text\": { \"content\": {{ JSON.stringify(($json.content?.[0]?.text || $json.message?.content?.[0]?.text || $json.text || '').substring(0, 2000)) }} } }] },\n    \"Last Contact Date\": { \"date\": { \"start\": \"{{ $now.toISO() }}\" } }\n  }\n}",
        "options": {}
      },
      "id": "step6-node-10",
      "name": "Update Notion (Meeting Held)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2230, 180],
      "notes": "Updates contact status to 'Meeting Held', stores meeting notes and action items."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Notion-Version", "value": "2022-06-28" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"parent\": { \"database_id\": \"YOUR_NOTION_MEETINGS_DB_ID\" },\n  \"properties\": {\n    \"Meeting Title\": { \"title\": [{ \"text\": { \"content\": {{ JSON.stringify($('Extract BlueDot Data').item.json.meeting_title || '') }} } }] },\n    \"Date\": { \"date\": { \"start\": {{ JSON.stringify($('Extract BlueDot Data').item.json.meeting_date || $now.toISO()) }} } },\n    \"Meeting Type\": { \"select\": { \"name\": \"Discovery\" } },\n    \"Contact\": { \"relation\": [{ \"id\": \"{{ $('Extract Contact Info').item.json.notion_page_id }}\" }] },\n    \"BlueDot Notes\": { \"rich_text\": [{ \"text\": { \"content\": {{ JSON.stringify(($('Claude: Extract Notes + Proposal Brief').item.json.content?.[0]?.text || $('Claude: Extract Notes + Proposal Brief').item.json.message?.content?.[0]?.text || $('Claude: Extract Notes + Proposal Brief').item.json.text || '').substring(0, 2000)) }} } }] }\n  }\n}",
        "options": {}
      },
      "id": "step6-node-11",
      "name": "Create Notion Meeting Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2230, 340],
      "notes": "Creates a meeting record in the Notion Meetings database, linked to the contact."
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $('Extract Contact Info').item.json.notion_page_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Notion-Version", "value": "2022-06-28" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"Drive Folder ID\": { \"rich_text\": [{ \"text\": { \"content\": \"{{ $('Set Folder ID').item.json.drive_folder_id }}\" } }] }\n  }\n}",
        "options": {}
      },
      "id": "step6-node-12",
      "name": "Save Drive Folder ID to Notion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2450, 180],
      "notes": "Persists the Google Drive folder ID to the Notion contact to prevent duplicate folder creation. Fixes DATA-03 from audit."
    }
  ],
  "pinData": {},
  "connections": {
    "BlueDot Webhook": {
      "main": [[ { "node": "Extract BlueDot Data", "type": "main", "index": 0 } ]]
    },
    "Extract BlueDot Data": {
      "main": [[ { "node": "Find Notion Contact", "type": "main", "index": 0 } ]]
    },
    "Find Notion Contact": {
      "main": [[ { "node": "Contact Found?", "type": "main", "index": 0 } ]]
    },
    "Contact Found?": {
      "main": [[ { "node": "Extract Contact Info", "type": "main", "index": 0 } ]]
    },
    "Extract Contact Info": {
      "main": [[ { "node": "Folder Exists?", "type": "main", "index": 0 } ]]
    },
    "Folder Exists?": {
      "main": [
        [ { "node": "Create Google Drive Folder", "type": "main", "index": 0 } ],
        [ { "node": "Set Folder ID", "type": "main", "index": 0 } ]
      ]
    },
    "Create Google Drive Folder": {
      "main": [[ { "node": "Set Folder ID", "type": "main", "index": 0 } ]]
    },
    "Set Folder ID": {
      "main": [[ { "node": "Claude: Extract Notes + Proposal Brief", "type": "main", "index": 0 } ]]
    },
    "Claude: Extract Notes + Proposal Brief": {
      "main": [[
        { "node": "Update Notion (Meeting Held)", "type": "main", "index": 0 },
        { "node": "Create Notion Meeting Record", "type": "main", "index": 0 }
      ]]
    },
    "Update Notion (Meeting Held)": {
      "main": [[ { "node": "Save Drive Folder ID to Notion", "type": "main", "index": 0 } ]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "step6-v2-0",
  "meta": { "templateCredsSetupCompleted": false },
  "id": "",
  "tags": []
}
