WF_STEP3_Loom_Research.json
{
  "name": "WF STEP3 - Loom Research Script (Enrichment + AI Brief + Notion)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "loom-research-trigger",
        "options": {}
      },
      "id": "step3-node-1a",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "loom-research-trigger",
      "notes": "Triggered by WF_STEP1 when a LinkedIn connection is accepted. Receives: notion_page_id, full_name, linkedin_url, company, title."
    },
    {
      "parameters": {},
      "id": "step3-node-1b",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 500],
      "notes": "Manual trigger for batch processing. Uses Notion query to pull contacts with Status = 'Connection Accepted' that haven't been researched yet."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/YOUR_NOTION_CONTACTS_DB_ID/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Notion-Version", "value": "2022-06-28" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\n    \"and\": [\n      {\n        \"property\": \"Status\",\n        \"select\": { \"equals\": \"Connection Accepted\" }\n      },\n      {\n        \"property\": \"LI Connection Accepted\",\n        \"checkbox\": { \"equals\": true }\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "step3-node-2",
      "name": "Get Unresearched Contacts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 500],
      "notes": "For manual runs: pulls all contacts with 'Connection Accepted' status that need research."
    },
    {
      "parameters": {
        "jsCode": "// Merge webhook and manual trigger data into consistent format\nlet items = [];\n\ntry {\n  // From webhook trigger (single contact)\n  const webhookData = $('Webhook Trigger').first().json;\n  if (webhookData && webhookData.body) {\n    items.push({\n      json: {\n        notion_page_id: webhookData.body.notion_page_id,\n        full_name: webhookData.body.full_name,\n        linkedin_url: webhookData.body.linkedin_url,\n        company: webhookData.body.company || '',\n        title: webhookData.body.title || ''\n      }\n    });\n  }\n} catch(e) {}\n\ntry {\n  // From manual trigger (batch from Notion query)\n  const notionResults = $('Get Unresearched Contacts').first().json.results || [];\n  for (const page of notionResults) {\n    const props = page.properties;\n    const name = props['Name']?.title?.[0]?.text?.content || '';\n    const linkedinUrl = props['LinkedIn Profile']?.url || '';\n    const company = props['Company']?.rich_text?.[0]?.text?.content || '';\n    const title = props['Title']?.rich_text?.[0]?.text?.content || '';\n    items.push({\n      json: {\n        notion_page_id: page.id,\n        full_name: name,\n        linkedin_url: linkedinUrl,\n        company: company,\n        title: title\n      }\n    });\n  }\n} catch(e) {}\n\nreturn items;"
      },
      "id": "step3-node-3",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 400],
      "notes": "Merges webhook (single contact) and manual trigger (batch) inputs into a consistent array format."
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "step3-node-4",
      "name": "Loop Over Contacts",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [910, 400]
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "2SyF0bVxmgGr8IVCZ",
          "mode": "list",
          "cachedResultName": "Mass LinkedIn Profile Scraper (dev_fusion/Linkedin-Profile-Scraper)"
        },
        "customBody": "={\n    \"profileUrls\": [\n        \"{{ $json.linkedin_url }}\"\n    ]\n}"
      },
      "id": "step3-node-5",
      "name": "Apify LinkedIn Scraper",
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [1130, 400],
      "notes": "Scrapes LinkedIn profile for current experience, headline, company details. Uses existing Apify actor (same as Loom Research Script).",
      "credentials": {
        "apifyApi": {
          "id": "8HrOAzWZHeGNrHbZ",
          "name": "Apify account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/v1/people/match",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"first_name\": {{ JSON.stringify(($('Loop Over Contacts').item.json.full_name || '').split(' ')[0] || '') }},\n  \"last_name\": {{ JSON.stringify(($('Loop Over Contacts').item.json.full_name || '').split(' ').slice(1).join(' ') || '') }},\n  \"linkedin_url\": {{ JSON.stringify($('Loop Over Contacts').item.json.linkedin_url || '') }},\n  \"reveal_personal_emails\": false,\n  \"reveal_phone_number\": false\n}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 10000
        }
      },
      "id": "step3-node-6",
      "name": "Apollo Enrichment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 400],
      "notes": "Enriches lead with Apollo.io data: employee count, revenue, industry, company website, founded year. Set up HTTP Header Auth: x-api-key = YOUR_APOLLO_API_KEY",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Merge Apify + Apollo data and compute priority score\nconst lead = $('Loop Over Contacts').first().json;\n\n// Apify data\nlet apifyData = {};\ntry {\n  const raw = $('Apify LinkedIn Scraper').first().json;\n  apifyData = {\n    headline: raw.headline || '',\n    fullName: raw.fullName || lead.full_name,\n    companyName: raw.experiences?.[0]?.companyName || lead.company,\n    companyTitle: raw.experiences?.[0]?.title || lead.title,\n    jobDescription: raw.experiences?.[0]?.jobDescription || '',\n    profilePicture: raw.profilePicture || '',\n    location: raw.location || ''\n  };\n} catch(e) {\n  apifyData = { headline: '', fullName: lead.full_name, companyName: lead.company, companyTitle: lead.title };\n}\n\n// Apollo data\nlet apolloData = { employeeCount: 0, revenue: 0, revenueStr: '', industry: '', website: '', foundedYear: 0, seniority: '' };\ntry {\n  const apollo = $('Apollo Enrichment').first().json;\n  const person = apollo.person || {};\n  const org = person.organization || {};\n  apolloData.employeeCount = org.estimated_num_employees || org.employee_count || 0;\n  const rawRev = org.annual_revenue || org.estimated_annual_revenue || 0;\n  apolloData.revenue = typeof rawRev === 'string' ? parseInt(rawRev.replace(/[^0-9]/g, ''), 10) || 0 : Number(rawRev) || 0;\n  apolloData.revenueStr = org.annual_revenue_printed || (apolloData.revenue ? '$' + (apolloData.revenue / 1000000).toFixed(1) + 'M' : 'Unknown');\n  apolloData.industry = org.industry || '';\n  apolloData.website = org.website_url || org.primary_domain || '';\n  apolloData.foundedYear = org.founded_year || 0;\n  apolloData.seniority = person.seniority || '';\n} catch(e) {}\n\n// Priority Scoring (max 20) — aligned with WF0_Lead_Scoring\nlet score = 0;\nlet breakdown = [];\nconst apolloFailed = !apolloData.employeeCount && !apolloData.revenue && !apolloData.industry;\nif (apolloFailed) { breakdown.push('Apollo enrichment failed'); }\n\n// 1. Employee Count (0-5) — compressed ICP range\nif (apolloData.employeeCount >= 50 && apolloData.employeeCount <= 200) { score += 5; breakdown.push('Emp 50-200: +5'); }\nelse if (apolloData.employeeCount >= 20 && apolloData.employeeCount < 50) { score += 4; breakdown.push('Emp 20-49: +4'); }\nelse if (apolloData.employeeCount >= 10 && apolloData.employeeCount < 20) { score += 3; breakdown.push('Emp 10-19: +3'); }\nelse if (apolloData.employeeCount > 200) { score += 3; breakdown.push('Emp 200+: +3'); }\nelse if (apolloData.employeeCount > 0) { score += 1; breakdown.push('Emp <10: +1'); }\nelse { breakdown.push('Emp unknown: +0'); }\n\n// 2. Revenue (0-5) — ICP baseline for unknown\nif (apolloData.revenue >= 10000000) { score += 5; breakdown.push('Rev $10M+: +5'); }\nelse if (apolloData.revenue >= 5000000) { score += 4; breakdown.push('Rev $5-10M: +4'); }\nelse if (apolloData.revenue >= 1000000) { score += 3; breakdown.push('Rev $1-5M: +3'); }\nelse if (apolloData.revenue > 0) { score += 1; breakdown.push('Rev <$1M: +1'); }\nelse if (apolloData.employeeCount >= 10) { score += 2; breakdown.push('Rev unknown (ICP baseline): +2'); }\nelse { breakdown.push('Rev unknown: +0'); }\n\n// 3. Title / Seniority (0-3)\nconst t = (apifyData.companyTitle || '').toLowerCase();\nconst sen = (apolloData.seniority || '').toLowerCase();\nif (t.includes('ceo') || t.includes('founder') || t.includes('owner') || sen === 'founder') { score += 3; breakdown.push('CEO/Founder/Owner: +3'); }\nelse if (t.includes('coo') || t.includes('president') || t.includes('vp') || t.includes('vice president') || sen === 'c_suite') { score += 2; breakdown.push('COO/President/VP: +2'); }\nelse if (t.includes('director') || t.includes('head of') || sen === 'director') { score += 1; breakdown.push('Director/Head: +1'); }\nelse if (t) { breakdown.push('Other title: +0'); }\nelse { breakdown.push('Title unknown: +0'); }\n\n// 4. Industry fit (0-3) — services/ops-heavy = more automation need\nconst ind = apolloData.industry.toLowerCase();\nconst highFit = ['construction','logistics','transportation','real estate','insurance','financial services','consulting','staffing','recruiting','healthcare','home services','property management','facilities','legal','accounting','marketing','government','defense','security','protective services','cleaning','janitorial'];\nconst medFit = ['manufacturing','retail','e-commerce','education','technology','software','information technology','telecommunications','food','restaurant','fitness','wellness'];\nif (highFit.some(i => ind.includes(i))) { score += 3; breakdown.push('High-fit industry: +3'); }\nelse if (medFit.some(i => ind.includes(i))) { score += 2; breakdown.push('Med-fit industry: +2'); }\nelse if (apolloData.industry) { score += 1; breakdown.push('Other industry: +1'); }\nelse { breakdown.push('Industry unknown: +0'); }\n\n// 5. Company maturity (0-2)\nconst currentYear = new Date().getFullYear();\nconst age = apolloData.foundedYear ? currentYear - apolloData.foundedYear : 0;\nif (age >= 2 && age <= 10) { score += 2; breakdown.push('Age 2-10yr (scaling): +2'); }\nelse if (age > 10 && age <= 25) { score += 2; breakdown.push('Age 11-25yr (automation debt): +2'); }\nelse if (age > 25 && age <= 40) { score += 1; breakdown.push('Age 26-40yr: +1'); }\nelse if (apolloData.foundedYear) { breakdown.push('Age <2yr or >40yr: +0'); }\nelse { score += 1; breakdown.push('Founded year unknown: +1'); }\n\n// Tier (raised thresholds for ICP spread)\nlet tier = score >= 15 ? 'Tier 1' : score >= 11 ? 'Tier 2' : score >= 7 ? 'Tier 3' : 'Tier 4';\n\nreturn [{\n  json: {\n    notion_page_id: lead.notion_page_id,\n    full_name: apifyData.fullName || lead.full_name,\n    linkedin_url: lead.linkedin_url,\n    headline: apifyData.headline,\n    company_name: apifyData.companyName,\n    person_title: apifyData.companyTitle,\n    job_description: apifyData.jobDescription,\n    employee_count: apolloData.employeeCount,\n    revenue: apolloData.revenue,\n    revenue_display: apolloData.revenueStr,\n    industry: apolloData.industry,\n    company_website: apolloData.website,\n    founded_year: apolloData.foundedYear,\n    priority_score: score,\n    max_score: 20,\n    tier: tier,\n    score_breakdown: breakdown.join(' | ')\n  }\n}];"
      },
      "id": "step3-node-7",
      "name": "Score & Enrich Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1570, 400],
      "notes": "Merges Apify + Apollo data, computes priority score (max 20), assigns tier. Same scoring algorithm as WF0_Lead_Scoring but now integrated with Notion."
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-5-20250929",
          "mode": "list",
          "cachedResultName": "claude-sonnet-4-5-20250929"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a sales research assistant for Veteran Vectors, an automation consulting firm. Generate a concise Loom video research brief for this prospect.\n\nINPUTS:\nName: {{ $json.full_name }}\nTitle: {{ $json.person_title }}\nCompany: {{ $json.company_name }}\nHeadline: {{ $json.headline }}\nJob Description: {{ $json.job_description }}\nIndustry: {{ $json.industry }}\nEmployee Count: {{ $json.employee_count }}\nRevenue: {{ $json.revenue_display }}\nPriority Score: {{ $json.priority_score }}/{{ $json.max_score }} ({{ $json.tier }})\n\nGenerate:\n1. A 3-4 sentence personalized Loom video script intro (reference their specific role, company, or industry)\n2. 2-3 specific pain points this person likely faces that automation could solve\n3. 1-2 personalization hooks (recent company news, industry trends, etc.)\n4. Recommended talking points for the Loom video\n\nKeep the tone conversational, direct, and veteran-friendly. No corporate fluff."
            }
          ]
        },
        "options": {
          "temperature": 0.3
        }
      },
      "id": "step3-node-8",
      "name": "Claude: Generate Loom Brief",
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [1790, 400],
      "credentials": {
        "anthropicApi": {
          "id": "au1c518sMzUt89ul",
          "name": "VV Claude"
        }
      },
      "notes": "Generates personalized Loom video research brief using Claude Sonnet. Includes script intro, pain points, personalization hooks, and talking points."
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $('Loop Over Contacts').item.json.notion_page_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Notion-Version", "value": "2022-06-28" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"Status\": { \"select\": { \"name\": \"Research Complete\" } },\n    \"Company\": { \"rich_text\": [{ \"text\": { \"content\": {{ JSON.stringify($('Score & Enrich Lead').item.json.company_name || '') }} } }] },\n    \"Title\": { \"rich_text\": [{ \"text\": { \"content\": {{ JSON.stringify($('Score & Enrich Lead').item.json.person_title || '') }} } }] },\n    \"Notes\": { \"rich_text\": [{ \"text\": { \"content\": {{ JSON.stringify(($json.content?.[0]?.text || $json.message?.content?.[0]?.text || '').substring(0, 2000)) }} } }] },\n    \"Last Contact Date\": { \"date\": { \"start\": \"{{ $now.toISO() }}\" } }\n  }\n}",
        "options": {}
      },
      "id": "step3-node-9",
      "name": "Update Notion with Research",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2010, 400],
      "notes": "Updates Notion contact with enriched company data, priority score, and AI-generated Loom research brief. Status set to 'Research Complete'."
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "step3-node-10",
      "name": "Wait Between Contacts",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2230, 400],
      "webhookId": "step3-wait"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Unresearched Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unresearched Contacts": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Loop Over Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Contacts": {
      "main": [
        [],
        [
          {
            "node": "Apify LinkedIn Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify LinkedIn Scraper": {
      "main": [
        [
          {
            "node": "Apollo Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo Enrichment": {
      "main": [
        [
          {
            "node": "Score & Enrich Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score & Enrich Lead": {
      "main": [
        [
          {
            "node": "Claude: Generate Loom Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude: Generate Loom Brief": {
      "main": [
        [
          {
            "node": "Update Notion with Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Notion with Research": {
      "main": [
        [
          {
            "node": "Wait Between Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Between Contacts": {
      "main": [
        [
          {
            "node": "Loop Over Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "timezone": "America/Los_Angeles",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "step3-v2-0",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "",
  "tags": []
}
