WF_STEP10_Calendly_Notion_Sync.json
{
  "name": "WF STEP10 - Calendly → Notion CRM Sync (All Calls)",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "events": ["invitee.created", "invitee.canceled"]
      },
      "id": "step10-node-1",
      "name": "Calendly Trigger (All Events)",
      "type": "n8n-nodes-base.calendlyTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "step10-calendly-all-events",
      "credentials": {
        "calendlyOAuth2Api": {
          "id": "Htykkb3r14siqEFc",
          "name": "VV - Calendly account"
        }
      },
      "notes": "Captures ALL Calendly events (bookings, cancellations) to keep Notion CRM in sync. Covers discovery calls, audit calls, onboarding calls, and check-in calls."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cal-event-type",
              "name": "event_action",
              "value": "={{ $json.event || '' }}",
              "type": "string"
            },
            {
              "id": "cal-name",
              "name": "invitee_name",
              "value": "={{ $json.payload.name || $json.payload.invitee?.name || '' }}",
              "type": "string"
            },
            {
              "id": "cal-email",
              "name": "invitee_email",
              "value": "={{ $json.payload.email || $json.payload.invitee?.email || '' }}",
              "type": "string"
            },
            {
              "id": "cal-event-name",
              "name": "event_name",
              "value": "={{ $json.payload.event_type?.name || $json.payload.scheduled_event?.name || 'Meeting' }}",
              "type": "string"
            },
            {
              "id": "cal-start-time",
              "name": "start_time",
              "value": "={{ $json.payload.scheduled_event?.start_time || $json.payload.event?.start_time || '' }}",
              "type": "string"
            },
            {
              "id": "cal-end-time",
              "name": "end_time",
              "value": "={{ $json.payload.scheduled_event?.end_time || $json.payload.event?.end_time || '' }}",
              "type": "string"
            },
            {
              "id": "cal-event-url",
              "name": "event_url",
              "value": "={{ $json.payload.uri || $json.payload.scheduled_event?.uri || '' }}",
              "type": "string"
            },
            {
              "id": "cal-meeting-type",
              "name": "meeting_category",
              "value": "={{ (() => { const name = ($json.payload.event_type?.name || $json.payload.scheduled_event?.name || '').toLowerCase(); if (name.includes('discovery') || name.includes('intro')) return 'Discovery'; if (name.includes('audit') || name.includes('rapid')) return 'Audit'; if (name.includes('onboarding') || name.includes('kickoff')) return 'Onboarding'; if (name.includes('check-in') || name.includes('weekly')) return 'Check-In'; return 'Other'; })() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "step10-node-2",
      "name": "Parse Calendly Event",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [470, 300],
      "notes": "Extracts all meeting details and auto-categorizes by meeting type (Discovery, Audit, Onboarding, Check-In, Other)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/YOUR_NOTION_CONTACTS_DB_ID/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Notion-Version", "value": "2022-06-28" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\n    \"or\": [\n      {\n        \"property\": \"Email\",\n        \"email\": { \"equals\": {{ JSON.stringify($json.invitee_email || '') }} }\n      },\n      {\n        \"property\": \"Name\",\n        \"title\": { \"equals\": {{ JSON.stringify($json.invitee_name || '') }} }\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "step10-node-3",
      "name": "Find Notion Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "leftValue": "={{ $json.results?.length || 0 }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "step10-node-4",
      "name": "Contact Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [910, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Notion-Version", "value": "2022-06-28" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"parent\": { \"database_id\": \"YOUR_NOTION_MEETINGS_DB_ID\" },\n  \"properties\": {\n    \"Meeting Title\": { \"title\": [{ \"text\": { \"content\": {{ JSON.stringify(($('Parse Calendly Event').item.json.event_name || 'Meeting') + ' - ' + ($('Parse Calendly Event').item.json.invitee_name || '')) }} } }] },\n    \"Date\": { \"date\": { \"start\": {{ JSON.stringify($('Parse Calendly Event').item.json.start_time || '') }} } },\n    \"Meeting Category\": { \"select\": { \"name\": {{ JSON.stringify($('Parse Calendly Event').item.json.meeting_category || 'Other') }} } },\n    \"Meeting Type\": { \"select\": { \"name\": {{ JSON.stringify($('Parse Calendly Event').item.json.event_action === 'invitee.created' ? 'Scheduled' : 'Cancelled') }} } },\n    \"Attendee Email\": { \"email\": {{ JSON.stringify($('Parse Calendly Event').item.json.invitee_email || '') }} },\n    \"Contact\": { \"relation\": [{ \"id\": \"{{ $('Find Notion Contact').item.json.results[0].id }}\" }] }\n  }\n}",
        "options": {}
      },
      "id": "step10-node-5",
      "name": "Create Notion Meeting Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 240],
      "notes": "Creates a meeting record in Notion linked to the contact. Includes meeting category (Discovery/Audit/Onboarding/Check-In) and status."
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $('Find Notion Contact').item.json.results[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Notion-Version", "value": "2022-06-28" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"Last Contact Date\": { \"date\": { \"start\": \"{{ $('Parse Calendly Event').item.json.start_time || $now.toISO() }}\" } }\n  }\n}",
        "options": {}
      },
      "id": "step10-node-6",
      "name": "Update Contact Last Contact Date",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 400],
      "notes": "Updates the contact's Last Contact Date to the meeting date."
    }
  ],
  "pinData": {},
  "connections": {
    "Calendly Trigger (All Events)": {
      "main": [[ { "node": "Parse Calendly Event", "type": "main", "index": 0 } ]]
    },
    "Parse Calendly Event": {
      "main": [[ { "node": "Find Notion Contact", "type": "main", "index": 0 } ]]
    },
    "Find Notion Contact": {
      "main": [[ { "node": "Contact Found?", "type": "main", "index": 0 } ]]
    },
    "Contact Found?": {
      "main": [[
        { "node": "Create Notion Meeting Record", "type": "main", "index": 0 },
        { "node": "Update Contact Last Contact Date", "type": "main", "index": 0 }
      ]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "step10-v1-0",
  "meta": { "templateCredsSetupCompleted": false },
  "id": "",
  "tags": []
}
