WF_STEP5_SOW_Contract.json
{
  "name": "Onboarding WF5 — SOW/Contract Creation",
  "nodes": [
    {
      "parameters": {
        "formTitle": "New Client SOW / Contract Submission",
        "formDescription": "Fill out to generate Statement of Work and send for signing. Stripe billing is set up automatically. Invoice is sent after SOW is fully signed (WF6).",
        "formFields": {
          "values": [
            { "fieldLabel": "Proposal_Google_Drive_URL", "requiredField": true, "placeholder": "https://drive.google.com/file/d/.../view" },
            { "fieldLabel": "First_Name", "requiredField": true },
            { "fieldLabel": "Last_Name", "requiredField": true },
            { "fieldLabel": "Full_Client_Name", "requiredField": true },
            { "fieldLabel": "Client_Email", "requiredField": true },
            { "fieldLabel": "Client_Title", "requiredField": true },
            { "fieldLabel": "Company_Name", "requiredField": true },
            { "fieldLabel": "Project_Name", "requiredField": true },
            { "fieldLabel": "Project_Scope", "requiredField": true },
            { "fieldLabel": "Company_Address" },
            { "fieldLabel": "Company_City" },
            { "fieldLabel": "Company_State", "requiredField": true },
            { "fieldLabel": "Company_Zipcode" },
            { "fieldLabel": "Project_Start_Date", "requiredField": true },
            { "fieldLabel": "Project_End_Date", "requiredField": true },
            { "fieldLabel": "Total_Project_Cost", "requiredField": true },
            { "fieldLabel": "Initial_Payment", "requiredField": true },
            { "fieldLabel": "Final_Payment", "requiredField": true },
            { "fieldLabel": "Retainer_Cost", "placeholder": "$100/month", "requiredField": true },
            { "fieldLabel": "Has_Fixed_Cost", "placeholder": "Yes/No", "requiredField": true },
            { "fieldLabel": "Has_Retainer", "placeholder": "Yes/No", "requiredField": true },
            { "fieldLabel": "Retainer_Description" },
            { "fieldLabel": "Retainer_For_Invoice", "placeholder": "$200" },
            { "fieldLabel": "Compliance_Terms", "placeholder": "HIPAA, SOC2, etc." },
            { "fieldLabel": "Contract_Length", "placeholder": "6 months" },
            { "fieldLabel": "Notion_Contact_ID", "requiredField": true }
          ]
        },
        "options": { "buttonLabel": "Generate Contract" }
      },
      "id": "wf5-node-1",
      "name": "SOW Contract Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "sow-contract-form",
      "notes": "Form for Anthony to submit new client contract details. WF5 handles SOW creation and Stripe setup only. WF6 handles invoice sending after signing. WF7 handles welcome email after payment."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "calc-retainer-cents", "name": "retainer_cents", "value": "={{ Math.round(Number(String($json.Retainer_Cost || '0').replace(/[^0-9.]/g, '')) * 100) }}", "type": "string" },
            { "id": "calc-fixed-cents", "name": "fixed_cents", "value": "={{ Math.round(Number(String($json.Initial_Payment || '0').replace(/[^0-9.]/g, '')) * 100) }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "wf5-node-2",
      "name": "Calculate Amounts",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [470, 300]
    },
    {
      "parameters": {
        "jsCode": "const url = $('SOW Contract Form').first().json.Proposal_Google_Drive_URL || '';\nconst match = url.match(/\\/d\\/([a-zA-Z0-9_-]+)/);\nconst fileId = match ? match[1] : '';\nreturn [{ json: { proposal_file_id: fileId } }];"
      },
      "id": "wf5-node-3",
      "name": "Extract Proposal File ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": { "__rl": true, "value": "={{ $json.proposal_file_id }}", "mode": "id" },
        "options": {}
      },
      "id": "wf5-node-4",
      "name": "Download Proposal PDF",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [910, 300]
    },
    {
      "parameters": {
        "jsCode": "const binaryData = $input.first().binary?.data;\nlet proposalText = '';\nif (binaryData) {\n  proposalText = Buffer.from(binaryData.data, 'base64').toString('utf-8').substring(0, 10000);\n}\nreturn [{ json: { proposal_text: proposalText } }];"
      },
      "id": "wf5-node-5",
      "name": "Extract Proposal Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "modelId": { "__rl": true, "value": "claude-sonnet-4-20250514", "mode": "id" },
        "messages": {
          "values": [{
            "content": "=You are a business analyst. Extract key details from this proposal text. Confirm or supplement the following form data:\n\nProject Name: {{ $('SOW Contract Form').first().json.Project_Name }}\nProject Scope: {{ $('SOW Contract Form').first().json.Project_Scope }}\nTimeline: {{ $('SOW Contract Form').first().json.Project_Start_Date }} to {{ $('SOW Contract Form').first().json.Project_End_Date }}\nTotal Cost: {{ $('SOW Contract Form').first().json.Total_Project_Cost }}\n\nProposal text:\n{{ $json.proposal_text }}\n\nReturn a JSON object with these fields:\n- confirmed_scope: the project scope (confirmed or enhanced from proposal)\n- deliverables: array of key deliverables found in the proposal\n- timeline_notes: any timeline details from the proposal\n- pricing_notes: any pricing details or payment terms from the proposal\n- additional_notes: anything else relevant not captured above\n\nReturn ONLY valid JSON, no markdown fences."
          }]
        },
        "options": { "maxTokensToSample": 1024 }
      },
      "id": "wf5-node-6",
      "name": "Claude: Extract Proposal Details",
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [1350, 300],
      "credentials": { "anthropicApi": { "id": "au1c518sMzUt89ul", "name": "VV Claude" } }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('SOW Contract Form').item.json.Company_Name }}-{{ $('SOW Contract Form').item.json.Full_Client_Name }}",
        "driveId": { "__rl": true, "mode": "list", "value": "My Drive" },
        "folderId": { "__rl": true, "value": "YOUR_CLIENTS_FOLDER_ID", "mode": "id" },
        "options": {}
      },
      "id": "wf5-node-7",
      "name": "Create/Find Client Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1570, 200]
    },
    {
      "parameters": {
        "operation": "Fill a PDF Form",
        "url": "https://drive.google.com/file/d/YOUR_SOW_TEMPLATE_FILE_ID/view?usp=sharing",
        "fields": {
          "metadataValues": [
            { "fieldName": "Full_Client_Name", "text": "={{ $('SOW Contract Form').item.json.Full_Client_Name }}", "size": "12", "fontBold": true, "fontName": "Times New Roman" },
            { "fieldName": "Client_Title", "text": "={{ $('SOW Contract Form').item.json.Client_Title }}", "size": "12", "fontBold": true, "fontName": "Times New Roman" },
            { "fieldName": "{Company_Name}", "text": "={{ $('SOW Contract Form').item.json.Company_Name }}", "size": "12", "fontBold": true, "fontName": "Times New Roman" },
            { "fieldName": "Project_Name", "text": "={{ $('SOW Contract Form').item.json.Project_Name }}", "size": "12", "fontBold": true, "fontName": "Times New Roman" },
            { "fieldName": "Company_Address", "text": "={{ $('SOW Contract Form').item.json.Company_Address }}", "size": "12", "fontName": "Times New Roman" },
            { "fieldName": "Company_State", "text": "={{ $('SOW Contract Form').item.json.Company_State }}", "size": "12", "fontName": "Times New Roman" },
            { "fieldName": "Project_Start_Date", "text": "={{ $('SOW Contract Form').item.json.Project_Start_Date }}", "size": "12", "fontBold": true, "fontName": "Times New Roman" },
            { "fieldName": "Project_End_Date", "text": "={{ $('SOW Contract Form').item.json.Project_End_Date }}", "size": "12", "fontBold": true, "fontName": "Times New Roman" },
            { "fieldName": "Total_Project_Cost", "text": "={{ $('SOW Contract Form').item.json.Total_Project_Cost }}", "size": "12", "fontBold": true, "fontName": "Times New Roman" },
            { "fieldName": "Initial_Payment", "text": "={{ $('SOW Contract Form').item.json.Initial_Payment }}", "size": "12", "fontBold": true, "fontName": "Times New Roman" },
            { "fieldName": "Final_Payment", "text": "={{ $('SOW Contract Form').item.json.Final_Payment }}", "size": "12", "fontBold": true, "fontName": "Times New Roman" },
            { "fieldName": "Retainer_Cost", "text": "={{ $('SOW Contract Form').item.json.Retainer_Cost }}", "size": "12", "fontBold": true, "fontName": "Times New Roman" },
            { "fieldName": "Project_Scope", "text": "={{ $('SOW Contract Form').item.json.Project_Scope }}", "size": "12", "fontBold": true, "fontName": "Times New Roman" },
            { "fieldName": "Compliance_Terms", "text": "={{ $('SOW Contract Form').item.json.Compliance_Terms || 'N/A' }}", "size": "12", "fontName": "Times New Roman" },
            { "fieldName": "Contract_Length", "text": "={{ $('SOW Contract Form').item.json.Contract_Length || 'As specified' }}", "size": "12", "fontName": "Times New Roman" }
          ]
        },
        "advancedOptions": {}
      },
      "id": "wf5-node-8",
      "name": "PDFco: Fill SOW Template",
      "type": "n8n-nodes-pdfco.PDFco Api",
      "typeVersion": 1,
      "position": [1570, 400]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": { "response": { "response": { "responseFormat": "file" } } }
      },
      "id": "wf5-node-9",
      "name": "Download Filled PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1790, 400]
    },
    {
      "parameters": {
        "name": "=SoW-{{ $('SOW Contract Form').item.json.Project_Name }}-{{ $('SOW Contract Form').item.json.Company_Name }}-Unsigned",
        "driveId": { "__rl": true, "mode": "list", "value": "My Drive" },
        "folderId": { "__rl": true, "value": "={{ $('Create/Find Client Folder').item.json.id }}", "mode": "id" },
        "options": {}
      },
      "id": "wf5-node-10",
      "name": "Upload Contract to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [2010, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.signwell.com/api/v1/documents/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Api-Key", "value": "YOUR_SIGNWELL_API_KEY" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"test_mode\": false,\n  \"draft\": true,\n  \"text_tags\": true,\n  \"name\": \"Veteran Vectors SoW - {{ $('SOW Contract Form').item.json.Project_Name }} - {{ $('SOW Contract Form').item.json.Company_Name }}\",\n  \"files\": [{\n    \"name\": \"SoW-{{ $('SOW Contract Form').item.json.Project_Name }}-{{ $('SOW Contract Form').item.json.Company_Name }}.pdf\",\n    \"file_url\": {{ JSON.stringify($('Download Filled PDF').item.json.url || '') }}\n  }],\n  \"recipients\": [\n    { \"id\": 1, \"email\": \"anthony@veteranvectors.io\", \"name\": \"Anthony Pinto\" },\n    { \"id\": 2, \"email\": {{ JSON.stringify($('SOW Contract Form').item.json.Client_Email) }}, \"name\": {{ JSON.stringify($('SOW Contract Form').item.json.Full_Client_Name) }} }\n  ]\n}",
        "options": {}
      },
      "id": "wf5-node-11",
      "name": "Create SignWell Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [2230, 400]
    },
    {
      "parameters": { "amount": 15 },
      "id": "wf5-node-12",
      "name": "Wait for SignWell Processing",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2450, 400],
      "webhookId": "wf5-signwell-wait"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.signwell.com/api/v1/documents/{{ $('Create SignWell Document').item.json.id }}/send/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Api-Key", "value": "YOUR_SIGNWELL_API_KEY" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"test_mode\": false,\n  \"email_subject\": \"SoW - {{ $('SOW Contract Form').item.json.Project_Name }} - {{ $('SOW Contract Form').item.json.Company_Name }}\",\n  \"email_message\": \"Hi {{ $('SOW Contract Form').item.json.First_Name }},\\n\\nPlease review and sign this Statement of Work for \\\"{{ $('SOW Contract Form').item.json.Project_Name }}\\\".\\n\\nThanks,\\nAnthony\"\n}",
        "options": {}
      },
      "id": "wf5-node-13",
      "name": "Send Contract for Signing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [2670, 400]
    },
    {
      "parameters": {
        "resource": "customer",
        "operation": "create",
        "name": "={{ $('SOW Contract Form').item.json.Full_Client_Name }}",
        "additionalFields": {
          "email": "={{ $('SOW Contract Form').item.json.Client_Email }}",
          "description": "=Veteran Vectors - {{ $('SOW Contract Form').item.json.Project_Name }}",
          "metadata": { "metadataProperties": [{ "key": "Company", "value": "={{ $('SOW Contract Form').item.json.Company_Name }}" }] }
        }
      },
      "id": "wf5-node-14",
      "name": "Stripe: Create Customer",
      "type": "n8n-nodes-base.stripe",
      "typeVersion": 1,
      "position": [690, 700]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [{ "leftValue": "={{ $('SOW Contract Form').item.json.Has_Fixed_Cost }}", "rightValue": "Yes", "operator": { "type": "string", "operation": "equals" } }]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "wf5-node-15",
      "name": "Has Fixed Cost?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [910, 700]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.stripe.com/v1/invoiceitems",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "stripeApi",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "customer", "value": "={{ $('Stripe: Create Customer').item.json.id }}" },
            { "name": "amount", "value": "={{ $('Calculate Amounts').item.json.fixed_cents }}" },
            { "name": "currency", "value": "usd" },
            { "name": "description", "value": "={{ $('SOW Contract Form').item.json.Project_Name }} - Initial Payment" }
          ]
        },
        "options": {}
      },
      "id": "wf5-node-16",
      "name": "Stripe: Invoice Item",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1130, 650]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.stripe.com/v1/invoices",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "stripeApi",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "customer", "value": "={{ $json.customer }}" },
            { "name": "collection_method", "value": "send_invoice" },
            { "name": "days_until_due", "value": "7" },
            { "name": "auto_advance", "value": "false" },
            { "name": "pending_invoice_items_behavior", "value": "include" }
          ]
        },
        "options": {}
      },
      "id": "wf5-node-17",
      "name": "Stripe: Create Invoice (Draft)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1350, 650],
      "notes": "Creates invoice as DRAFT (auto_advance=false). Invoice is NOT sent until SOW is signed (handled by WF6)."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [{ "leftValue": "={{ Number($('Calculate Amounts').item.json.retainer_cents) }}", "rightValue": 0, "operator": { "type": "number", "operation": "gt" } }]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "wf5-node-18",
      "name": "Has Retainer?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1570, 700]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.stripe.com/v1/prices",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "stripeApi",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "product", "value": "prod_YOUR_RETAINER_PRODUCT_ID" },
            { "name": "unit_amount", "value": "={{ $('Calculate Amounts').item.json.retainer_cents }}" },
            { "name": "currency", "value": "usd" },
            { "name": "recurring[interval]", "value": "month" }
          ]
        },
        "options": {}
      },
      "id": "wf5-node-19",
      "name": "Stripe: Create Retainer Price",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1790, 650]
    },
    {
      "parameters": {
        "jsCode": "const endDateStr = $('SOW Contract Form').first().json.Project_End_Date;\nconst endDate = new Date(endDateStr);\nconst retainerStart = new Date(endDate.getFullYear(), endDate.getMonth() + 1, 1);\nconst billingAnchorTimestamp = Math.floor(retainerStart.getTime() / 1000);\nreturn [{ json: {\n  retainer_start_date: retainerStart.toISOString(),\n  billing_cycle_anchor: billingAnchorTimestamp,\n  price_id: $json.id\n}}];"
      },
      "id": "wf5-node-20",
      "name": "Calculate Retainer Start Date",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2010, 650]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.stripe.com/v1/subscriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "stripeApi",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "customer", "value": "={{ $('Stripe: Create Customer').item.json.id }}" },
            { "name": "items[0][price]", "value": "={{ $json.price_id }}" },
            { "name": "billing_cycle_anchor", "value": "={{ $json.billing_cycle_anchor }}" },
            { "name": "proration_behavior", "value": "none" },
            { "name": "collection_method", "value": "send_invoice" },
            { "name": "days_until_due", "value": "3" },
            { "name": "pause_collection[behavior]", "value": "void" }
          ]
        },
        "options": {}
      },
      "id": "wf5-node-21",
      "name": "Stripe: Create Subscription (Paused)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [2230, 650],
      "notes": "Creates retainer subscription PAUSED. Resumed by WF7 after invoice payment."
    },
    {
      "id": "wf5-node-22",
      "name": "Update Notion (Contract Sent)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [2890, 300],
      "credentials": { "notionApi": { "id": "YOUR_NOTION_CRED_ID", "name": "Notion account" } },
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": "={{ $('SOW Contract Form').item.json.Notion_Contact_ID }}",
        "propertiesUi": {
          "propertyValues": [
            { "key": "Status|select", "selectValue": "Contract Sent" },
            { "key": "Last Contact Date|date", "dateValue": "={{ $now.toISO() }}", "includeTime": true }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "wf5-node-23",
      "name": "Create Notion Project",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [3110, 300],
      "credentials": { "notionApi": { "id": "YOUR_NOTION_CRED_ID", "name": "Notion account" } },
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": { "__rl": true, "value": "YOUR_NOTION_PROJECTS_DB_ID", "mode": "id" },
        "title": "={{ $('SOW Contract Form').item.json.Project_Name }}",
        "propertiesUi": {
          "propertyValues": [
            { "key": "Client|relation", "relationValue": ["={{ $('SOW Contract Form').item.json.Notion_Contact_ID }}"] },
            { "key": "Project Status|select", "selectValue": "Contract Sent" },
            { "key": "Project Cost|number", "numberValue": "={{ Number(String($('SOW Contract Form').item.json.Total_Project_Cost || '0').replace(/[^0-9.]/g, '')) || 0 }}" },
            { "key": "Start Date|date", "dateValue": "={{ $('SOW Contract Form').item.json.Project_Start_Date }}", "includeTime": false },
            { "key": "Retainer|number", "numberValue": "={{ Number(String($('SOW Contract Form').item.json.Retainer_Cost || '0').replace(/[^0-9.]/g, '')) || 0 }}" }
          ]
        },
        "options": {}
      }
    },
    {
      "parameters": {
        "jsCode": "const customerId = $('Stripe: Create Customer').first()?.json?.id || '';\nlet invoiceId = '';\nlet subscriptionId = '';\ntry { invoiceId = $('Stripe: Create Invoice (Draft)').first()?.json?.id || ''; } catch(e) {}\ntry { subscriptionId = $('Stripe: Create Subscription (Paused)').first()?.json?.id || ''; } catch(e) {}\nreturn [{ json: { stripe_customer_id: customerId, stripe_invoice_id: invoiceId, stripe_subscription_id: subscriptionId } }];"
      },
      "id": "wf5-node-24",
      "name": "Collect Stripe IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2450, 700]
    },
    {
      "id": "wf5-node-25",
      "name": "Save Stripe IDs to Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [2670, 700],
      "credentials": { "notionApi": { "id": "YOUR_NOTION_CRED_ID", "name": "Notion account" } },
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": "={{ $('SOW Contract Form').item.json.Notion_Contact_ID }}",
        "propertiesUi": {
          "propertyValues": [
            { "key": "Stripe Customer ID|rich_text", "richTextValue": "={{ $json.stripe_customer_id || '' }}" },
            { "key": "Stripe Invoice ID|rich_text", "richTextValue": "={{ $json.stripe_invoice_id || '' }}" },
            { "key": "Stripe Subscription ID|rich_text", "richTextValue": "={{ $json.stripe_subscription_id || '' }}" }
          ]
        },
        "options": {}
      }
    }
  ],
  "pinData": {},
  "connections": {
    "SOW Contract Form": {
      "main": [[{ "node": "Calculate Amounts", "type": "main", "index": 0 }]]
    },
    "Calculate Amounts": {
      "main": [[
        { "node": "Extract Proposal File ID", "type": "main", "index": 0 },
        { "node": "Stripe: Create Customer", "type": "main", "index": 0 }
      ]]
    },
    "Extract Proposal File ID": {
      "main": [[{ "node": "Download Proposal PDF", "type": "main", "index": 0 }]]
    },
    "Download Proposal PDF": {
      "main": [[{ "node": "Extract Proposal Text", "type": "main", "index": 0 }]]
    },
    "Extract Proposal Text": {
      "main": [[{ "node": "Claude: Extract Proposal Details", "type": "main", "index": 0 }]]
    },
    "Claude: Extract Proposal Details": {
      "main": [[
        { "node": "Create/Find Client Folder", "type": "main", "index": 0 },
        { "node": "PDFco: Fill SOW Template", "type": "main", "index": 0 }
      ]]
    },
    "Create/Find Client Folder": { "main": [[]] },
    "PDFco: Fill SOW Template": {
      "main": [[{ "node": "Download Filled PDF", "type": "main", "index": 0 }]]
    },
    "Download Filled PDF": {
      "main": [[{ "node": "Upload Contract to Drive", "type": "main", "index": 0 }]]
    },
    "Upload Contract to Drive": {
      "main": [[{ "node": "Create SignWell Document", "type": "main", "index": 0 }]]
    },
    "Create SignWell Document": {
      "main": [[{ "node": "Wait for SignWell Processing", "type": "main", "index": 0 }]]
    },
    "Wait for SignWell Processing": {
      "main": [[{ "node": "Send Contract for Signing", "type": "main", "index": 0 }]]
    },
    "Send Contract for Signing": {
      "main": [[{ "node": "Update Notion (Contract Sent)", "type": "main", "index": 0 }]]
    },
    "Update Notion (Contract Sent)": {
      "main": [[{ "node": "Create Notion Project", "type": "main", "index": 0 }]]
    },
    "Stripe: Create Customer": {
      "main": [[{ "node": "Has Fixed Cost?", "type": "main", "index": 0 }]]
    },
    "Has Fixed Cost?": {
      "main": [
        [{ "node": "Stripe: Invoice Item", "type": "main", "index": 0 }],
        [{ "node": "Has Retainer?", "type": "main", "index": 0 }]
      ]
    },
    "Stripe: Invoice Item": {
      "main": [[{ "node": "Stripe: Create Invoice (Draft)", "type": "main", "index": 0 }]]
    },
    "Stripe: Create Invoice (Draft)": {
      "main": [[{ "node": "Has Retainer?", "type": "main", "index": 0 }]]
    },
    "Has Retainer?": {
      "main": [
        [{ "node": "Stripe: Create Retainer Price", "type": "main", "index": 0 }],
        [{ "node": "Collect Stripe IDs", "type": "main", "index": 0 }]
      ]
    },
    "Stripe: Create Retainer Price": {
      "main": [[{ "node": "Calculate Retainer Start Date", "type": "main", "index": 0 }]]
    },
    "Calculate Retainer Start Date": {
      "main": [[{ "node": "Stripe: Create Subscription (Paused)", "type": "main", "index": 0 }]]
    },
    "Stripe: Create Subscription (Paused)": {
      "main": [[{ "node": "Collect Stripe IDs", "type": "main", "index": 0 }]]
    },
    "Collect Stripe IDs": {
      "main": [[{ "node": "Save Stripe IDs to Notion", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "availableInMCP": true, "callerPolicy": "workflowsFromSameOwner" },
  "versionId": "wf5-v4-sow-only",
  "meta": { "templateCredsSetupCompleted": false },
  "id": "",
  "tags": []
}
