WF_STEP5A_No_Response_Followup.json
{
  "name": "WF STEP5A - No Response Follow-Up (3-Day Timer)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hour": 9,
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "step5a-node-1",
      "name": "Daily 9 AM Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [250, 300],
      "notes": "Runs every day at 9 AM to check for contacts who were sent a Loom video 3+ days ago with no response."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/YOUR_NOTION_CONTACTS_DB_ID/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Notion-Version", "value": "2022-06-28" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\n    \"and\": [\n      {\n        \"property\": \"Status\",\n        \"select\": { \"equals\": \"Loom Sent\" }\n      },\n      {\n        \"property\": \"Loom Sent\",\n        \"checkbox\": { \"equals\": true }\n      },\n      {\n        \"property\": \"Responded\",\n        \"checkbox\": { \"equals\": false }\n      },\n      {\n        \"property\": \"Last Contact Date\",\n        \"date\": {\n          \"on_or_before\": \"{{ $now.minus({days: 3}).toISODate() }}\"\n        }\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "step5a-node-2",
      "name": "Query Notion: Loom Sent > 3 Days",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300],
      "notes": "Finds all contacts where: Status = 'Loom Sent', Loom Sent = true, Responded = false, Last Contact Date >= 3 days ago."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "leftValue": "={{ $json.results?.length || 0 }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "step5a-node-3",
      "name": "Any Contacts Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [690, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract contact data from Notion query results\nconst results = $input.first().json.results || [];\nreturn results.map(page => {\n  const props = page.properties;\n  return {\n    json: {\n      notion_page_id: page.id,\n      name: props['Name']?.title?.[0]?.text?.content || '',\n      email: props['Email']?.email || '',\n      linkedin_url: props['LinkedIn Profile']?.url || '',\n      company: props['Company']?.rich_text?.[0]?.text?.content || '',\n      last_contact: props['Last Contact Date']?.date?.start || '',\n      loom_sent_date: props['Last Contact Date']?.date?.start || ''\n    }\n  };\n});"
      },
      "id": "step5a-node-4",
      "name": "Extract Contact Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 240]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "step5a-node-5",
      "name": "Loop Over Contacts",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1130, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.prosp.ai/v1/campaigns/YOUR_FOLLOWUP_CAMPAIGN_ID/prospects",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"linkedin_url\": {{ JSON.stringify($json.linkedin_url || '') }},\n  \"name\": {{ JSON.stringify($json.name || '') }},\n  \"email\": {{ JSON.stringify($json.email || '') }},\n  \"tags\": [\"follow-up-loom\", \"3-day-no-response\"]\n}",
        "options": { "timeout": 10000 }
      },
      "id": "step5a-node-6",
      "name": "Add to Prosp.ai Follow-Up Campaign",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 240],
      "notes": "Adds the contact to the Prosp.ai follow-up Loom video campaign (3-message sequence). Replace YOUR_FOLLOWUP_CAMPAIGN_ID with your Prosp.ai follow-up campaign ID. Set up HTTP Header Auth with your Prosp.ai API key.",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $('Loop Over Contacts').item.json.notion_page_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Notion-Version", "value": "2022-06-28" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"Status\": { \"select\": { \"name\": \"Follow-Up Sequence\" } },\n    \"Need to Follow Up Date\": { \"date\": { \"start\": \"{{ $now.toISO() }}\" } },\n    \"Last Contact Date\": { \"date\": { \"start\": \"{{ $now.toISO() }}\" } }\n  }\n}",
        "options": {}
      },
      "id": "step5a-node-7",
      "name": "Update Notion (Follow-Up Sequence)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1570, 240],
      "notes": "Updates Notion contact: Status = 'Follow-Up Sequence' (5 Bravo group), sets Need to Follow Up Date."
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "step5a-node-8",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1790, 240],
      "webhookId": "step5a-wait"
    }
  ],
  "pinData": {},
  "connections": {
    "Daily 9 AM Check": {
      "main": [
        [
          { "node": "Query Notion: Loom Sent > 3 Days", "type": "main", "index": 0 }
        ]
      ]
    },
    "Query Notion: Loom Sent > 3 Days": {
      "main": [
        [
          { "node": "Any Contacts Found?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Any Contacts Found?": {
      "main": [
        [
          { "node": "Extract Contact Data", "type": "main", "index": 0 }
        ]
      ]
    },
    "Extract Contact Data": {
      "main": [
        [
          { "node": "Loop Over Contacts", "type": "main", "index": 0 }
        ]
      ]
    },
    "Loop Over Contacts": {
      "main": [
        [],
        [
          { "node": "Add to Prosp.ai Follow-Up Campaign", "type": "main", "index": 0 }
        ]
      ]
    },
    "Add to Prosp.ai Follow-Up Campaign": {
      "main": [
        [
          { "node": "Update Notion (Follow-Up Sequence)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Update Notion (Follow-Up Sequence)": {
      "main": [
        [
          { "node": "Wait", "type": "main", "index": 0 }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          { "node": "Loop Over Contacts", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "step5a-v1-0",
  "meta": { "templateCredsSetupCompleted": false },
  "id": "",
  "tags": []
}
