WF_STEP7_Post_Signing.json
{
  "name": "Onboarding WF7 — Welcome Email (After SOW Signed + Invoice Paid)",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "minutes", "minutesInterval": 15 }] }
      },
      "id": "wf7-node-1",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "notes": "Polls for contacts with 'Contract Signed' status. Checks Stripe to confirm invoice is paid. Only then sends the welcome email and completes onboarding."
    },
    {
      "id": "wf7-node-2",
      "name": "Query Notion: Contract Signed",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [470, 300],
      "credentials": { "notionApi": { "id": "YOUR_NOTION_CRED_ID", "name": "Notion account" } },
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": { "__rl": true, "value": "30371d52651c80b1b5f2d93203b3836b", "mode": "id" },
        "returnAll": true,
        "filterType": "manual",
        "filters": {
          "conditions": [{ "key": "Status|select", "condition": "string:equals", "selectValue": "Contract Signed" }]
        },
        "options": { "simple": false }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [{ "leftValue": "={{ $json.id || '' }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty", "singleValue": true } }]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "wf7-node-3",
      "name": "Has Pending Contacts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": { "options": { "reset": false }, "batchSize": 1 },
      "id": "wf7-node-4",
      "name": "Loop Contacts",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [910, 300]
    },
    {
      "parameters": {
        "jsCode": "const contact = $json;\nconst props = contact.properties;\nreturn [{ json: {\n  notion_page_id: contact.id,\n  contact_name: props['Name']?.title?.[0]?.text?.content || 'Unknown',\n  first_name: (props['Name']?.title?.[0]?.text?.content || 'there').split(' ')[0],\n  contact_email: props['Email']?.email || '',\n  company_name: props['Company']?.rich_text?.[0]?.text?.content || '',\n  stripe_invoice_id: props['Stripe Invoice ID']?.rich_text?.[0]?.text?.content || '',\n  stripe_subscription_id: props['Stripe Subscription ID']?.rich_text?.[0]?.text?.content || ''\n}}];"
      },
      "id": "wf7-node-5",
      "name": "Extract Contact Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [{ "leftValue": "={{ $json.stripe_invoice_id }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty", "singleValue": true } }]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "wf7-node-6",
      "name": "Has Stripe Invoice?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.stripe.com/v1/invoices/{{ $('Extract Contact Info').item.json.stripe_invoice_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "stripeApi",
        "options": {}
      },
      "id": "wf7-node-7",
      "name": "Stripe: Check Invoice Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1570, 260]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [{ "leftValue": "={{ $json.status }}", "rightValue": "paid", "operator": { "type": "string", "operation": "equals" } }]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "wf7-node-8",
      "name": "Invoice Paid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1790, 260]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Extract Contact Info').item.json.contact_email }}",
        "subject": "=Welcome to Veteran Vectors, {{ $('Extract Contact Info').item.json.first_name }}!",
        "emailType": "html",
        "message": "=<h2>Welcome to Veteran Vectors!</h2>\n<p>Hi {{ $('Extract Contact Info').item.json.first_name }},</p>\n<p>Your contract has been signed and your payment has been received — we're officially ready to kick things off!</p>\n<h3>Next Steps</h3>\n<ol>\n<li><strong>Kickoff Call:</strong> <a href='YOUR_ONBOARDING_CALENDLY_LINK'>Book your onboarding call here</a></li>\n<li><strong>Access &amp; Onboarding:</strong> We'll send over any access requests or onboarding materials within the next 24-48 hours.</li>\n<li><strong>Communication:</strong> You can reach us anytime by replying to this email or via our project channel.</li>\n</ol>\n<p>We're excited to build something great together. Welcome aboard!</p>\n<p>— Anthony, Veteran Vectors</p>",
        "options": {}
      },
      "id": "wf7-node-9",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [2010, 200],
      "credentials": { "gmailOAuth2": { "id": "r13jnGsjwNOqcBvt", "name": "VV Gmail account" } },
      "notes": "Only fires after BOTH contract is signed (WF6) AND invoice is paid."
    },
    {
      "id": "wf7-node-10",
      "name": "Update Notion (Project Started)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [2230, 200],
      "credentials": { "notionApi": { "id": "YOUR_NOTION_CRED_ID", "name": "Notion account" } },
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": "={{ $('Extract Contact Info').item.json.notion_page_id }}",
        "propertiesUi": {
          "propertyValues": [
            { "key": "Status|select", "selectValue": "Project Started" },
            { "key": "Invoice Paid|checkbox", "checkboxValue": true },
            { "key": "Last Contact Date|date", "dateValue": "={{ $now.toISO() }}", "includeTime": true }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "wf7-node-11",
      "name": "Find Notion Project",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [2450, 200],
      "credentials": { "notionApi": { "id": "YOUR_NOTION_CRED_ID", "name": "Notion account" } },
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": { "__rl": true, "value": "30371d52651c801d99dcddc8774d8f79", "mode": "id" },
        "returnAll": true,
        "filterType": "manual",
        "filters": {
          "conditions": [{ "key": "Client|relation", "condition": "string:contains", "relationValue": "={{ $('Extract Contact Info').item.json.notion_page_id }}" }]
        },
        "options": { "simple": false }
      },
      "alwaysOutputData": true
    },
    {
      "id": "wf7-node-12",
      "name": "Update Project (Active)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [2670, 200],
      "credentials": { "notionApi": { "id": "YOUR_NOTION_CRED_ID", "name": "Notion account" } },
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": "={{ $json.id }}",
        "propertiesUi": {
          "propertyValues": [{ "key": "Project Status|select", "selectValue": "Active" }]
        },
        "options": {}
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [{ "leftValue": "={{ $('Extract Contact Info').item.json.stripe_subscription_id }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty", "singleValue": true } }]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "wf7-node-13",
      "name": "Has Subscription?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2890, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.stripe.com/v1/subscriptions/{{ $('Extract Contact Info').item.json.stripe_subscription_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "stripeApi",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": { "parameters": [{ "name": "pause_collection", "value": "" }] },
        "options": {}
      },
      "id": "wf7-node-14",
      "name": "Stripe: Resume Subscription",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3110, 140]
    },
    {
      "parameters": { "amount": 1 },
      "id": "wf7-node-delay",
      "name": "Rate Limit Delay",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [3330, 300],
      "webhookId": "wf7-rate-limit"
    }
  ],
  "pinData": {},
  "connections": {
    "Every 15 Minutes": {
      "main": [[{ "node": "Query Notion: Contract Signed", "type": "main", "index": 0 }]]
    },
    "Query Notion: Contract Signed": {
      "main": [[{ "node": "Has Pending Contacts?", "type": "main", "index": 0 }]]
    },
    "Has Pending Contacts?": {
      "main": [[{ "node": "Loop Contacts", "type": "main", "index": 0 }]]
    },
    "Loop Contacts": {
      "main": [[], [{ "node": "Extract Contact Info", "type": "main", "index": 0 }]]
    },
    "Extract Contact Info": {
      "main": [[{ "node": "Has Stripe Invoice?", "type": "main", "index": 0 }]]
    },
    "Has Stripe Invoice?": {
      "main": [
        [{ "node": "Stripe: Check Invoice Status", "type": "main", "index": 0 }],
        [{ "node": "Rate Limit Delay", "type": "main", "index": 0 }]
      ]
    },
    "Stripe: Check Invoice Status": {
      "main": [[{ "node": "Invoice Paid?", "type": "main", "index": 0 }]]
    },
    "Invoice Paid?": {
      "main": [
        [{ "node": "Send Welcome Email", "type": "main", "index": 0 }],
        [{ "node": "Rate Limit Delay", "type": "main", "index": 0 }]
      ]
    },
    "Send Welcome Email": {
      "main": [[{ "node": "Update Notion (Project Started)", "type": "main", "index": 0 }]]
    },
    "Update Notion (Project Started)": {
      "main": [[
        { "node": "Find Notion Project", "type": "main", "index": 0 },
        { "node": "Has Subscription?", "type": "main", "index": 0 }
      ]]
    },
    "Find Notion Project": {
      "main": [[{ "node": "Update Project (Active)", "type": "main", "index": 0 }]]
    },
    "Update Project (Active)": {
      "main": [[{ "node": "Rate Limit Delay", "type": "main", "index": 0 }]]
    },
    "Has Subscription?": {
      "main": [[{ "node": "Stripe: Resume Subscription", "type": "main", "index": 0 }]]
    },
    "Stripe: Resume Subscription": {
      "main": [[{ "node": "Rate Limit Delay", "type": "main", "index": 0 }]]
    },
    "Rate Limit Delay": {
      "main": [[{ "node": "Loop Contacts", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "availableInMCP": true, "callerPolicy": "workflowsFromSameOwner" },
  "versionId": "wf7-v4-welcome-only",
  "meta": { "templateCredsSetupCompleted": false },
  "id": "",
  "tags": []
}
