WF_STEP2_Loom_Sent.json
{
  "name": "WF STEP2 - Loom Sent Tracking (Schedule \u2192 Sheet Poll \u2192 Notion)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "step2-node-1",
      "name": "Every 30 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ],
      "notes": "Polls the Loom Videos Google Sheet every 30 minutes for new Loom scripts that haven't been synced to Notion yet. Replaces the Prosp.ai webhook trigger for localhost compatibility."
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fe-WP2VK2JD_e6CZw34k5lc5m9T3lYuJEwbkqQz0yKw",
          "mode": "list",
          "cachedResultName": "Master Social Media Automation - Content & Posting -v1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fe-WP2VK2JD_e6CZw34k5lc5m9T3lYuJEwbkqQz0yKw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 126409621,
          "mode": "list",
          "cachedResultName": "Loom Videos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fe-WP2VK2JD_e6CZw34k5lc5m9T3lYuJEwbkqQz0yKw/edit#gid=126409621"
        },
        "options": {}
      },
      "id": "step2-node-2",
      "name": "Read Loom Videos Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.0,
      "position": [
        470,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wi6bAEK3LwBuXnNr",
          "name": "VV Google Sheets account"
        }
      },
      "notes": "Reads all rows from the Loom Videos sheet. Expects columns: Name, LI Profile, Done?, Notion Synced."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json['Done?'] || '' }}",
              "rightValue": "Done",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json['Notion Synced'] || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "leftValue": "={{ $json['LI Profile'] || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "step2-node-3",
      "name": "Filter: Done + Not Yet Synced",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        690,
        300
      ],
      "notes": "Only processes rows where: Done?='Done' (Loom script generated), Notion Synced is empty (not yet pushed to Notion), and LI Profile exists (needed for matching). Add a 'Notion Synced' column to your Loom Videos sheet."
    },
    {
      "parameters": {
        "options": {
          "reset": false
        },
        "batchSize": 1
      },
      "id": "step2-node-4",
      "name": "Loop (1 at a time)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        910,
        300
      ]
    },
    {
      "id": "step2-node-5",
      "name": "Find Notion Contact",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        1130,
        300
      ],
      "credentials": {
        "notionApi": {
          "id": "YOUR_NOTION_CRED_ID",
          "name": "Notion account"
        }
      },
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "YOUR_NOTION_CONTACTS_DB_ID",
          "mode": "id"
        },
        "returnAll": true,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "LinkedIn Profile|url",
              "condition": "string:equals",
              "urlValue": "={{ $json['LI Profile'] || '' }}"
            }
          ]
        },
        "options": {
          "simple": false
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.id || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "step2-node-6",
      "name": "Contact Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1350,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Check status priority \u2014 only advance to 'Loom Sent' if current status is lower\nconst STATUS_PRIORITY = {\n  'Connection Sent': 1, 'Connection Accepted': 2, 'Loom Sent': 3,\n  'Follow-Up Sequence': 4, 'Responded': 5, 'Pending Approval': 6,\n  'Meeting Booked': 7, 'Meeting Held': 8, 'Proposal Sent': 9,\n  'Contract Sent': 10, 'Project Started': 11, 'Declined': 0\n};\nconst contact = $('Find Notion Contact').first().json;\nconst currentStatus = contact?.properties?.Status?.select?.name || '';\nconst shouldUpdate = (STATUS_PRIORITY['Loom Sent'] || 3) > (STATUS_PRIORITY[currentStatus] || 0);\n\nreturn [{ json: {\n  notion_page_id: contact.id,\n  should_update_status: shouldUpdate,\n  current_status: currentStatus\n}}];"
      },
      "id": "step2-node-7",
      "name": "Status Priority Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1570,
        240
      ]
    },
    {
      "id": "step2-node-8",
      "name": "Update Notion (Loom Sent)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        1790,
        240
      ],
      "credentials": {
        "notionApi": {
          "id": "YOUR_NOTION_CRED_ID",
          "name": "Notion account"
        }
      },
      "notes": "Updates Notion contact: Loom Sent checkbox = true, Status = 'Loom Sent' (only if advancing), Last Contact Date = now.",
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": "={{ $json.notion_page_id }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Loom Sent|checkbox",
              "checkboxValue": true
            },
            {
              "key": "Status|select",
              "selectValue": "={{ $json.should_update_status ? 'Loom Sent' : $json.current_status }}"
            },
            {
              "key": "Last Contact Date|date",
              "dateValue": "={{ $now.toISO() }}",
              "includeTime": true
            }
          ]
        },
        "options": {}
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1fe-WP2VK2JD_e6CZw34k5lc5m9T3lYuJEwbkqQz0yKw",
          "mode": "list",
          "cachedResultName": "Master Social Media Automation - Content & Posting -v1"
        },
        "sheetName": {
          "__rl": true,
          "value": 126409621,
          "mode": "list",
          "cachedResultName": "Loom Videos"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "LI Profile": "={{ $('Loop (1 at a time)').item.json['LI Profile'] }}",
            "Notion Synced": "Yes"
          },
          "matchingColumns": [
            "LI Profile"
          ],
          "schema": [
            {
              "id": "LI Profile",
              "displayName": "LI Profile",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notion Synced",
              "displayName": "Notion Synced",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "step2-node-9",
      "name": "Mark Row as Synced",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.0,
      "position": [
        2010,
        240
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wi6bAEK3LwBuXnNr",
          "name": "VV Google Sheets account"
        }
      },
      "notes": "Marks the row as 'Notion Synced = Yes' so it won't be processed again on the next poll. Add a 'Notion Synced' column to your Loom Videos sheet header row."
    },
    {
      "parameters": {
        "amount": 0.4
      },
      "id": "step2-node-10",
      "name": "Rate Limit Delay",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2230,
        300
      ],
      "webhookId": "step2-rate-limit"
    }
  ],
  "pinData": {},
  "connections": {
    "Every 30 Minutes": {
      "main": [
        [
          {
            "node": "Read Loom Videos Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Loom Videos Sheet": {
      "main": [
        [
          {
            "node": "Filter: Done + Not Yet Synced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Done + Not Yet Synced": {
      "main": [
        [
          {
            "node": "Loop (1 at a time)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop (1 at a time)": {
      "main": [
        [],
        [
          {
            "node": "Find Notion Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Notion Contact": {
      "main": [
        [
          {
            "node": "Contact Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Found?": {
      "main": [
        [
          {
            "node": "Status Priority Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rate Limit Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Priority Check": {
      "main": [
        [
          {
            "node": "Update Notion (Loom Sent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Notion (Loom Sent)": {
      "main": [
        [
          {
            "node": "Mark Row as Synced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Row as Synced": {
      "main": [
        [
          {
            "node": "Rate Limit Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Delay": {
      "main": [
        [
          {
            "node": "Loop (1 at a time)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "step2-v2-localhost",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "",
  "tags": []
}