WF_STEP5_SOW_Contract.json
{
  "name": "Onboarding WF5 — SOW/Contract Creation + Invoicing + Welcome Email",
  "nodes": [
    {
      "parameters": {
        "formTitle": "New Client SOW / Contract Submission",
        "formDescription": "Fill out to generate Statement of Work, contract, invoicing, and welcome email for a new client.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Proposal_Google_Drive_URL",
              "requiredField": true,
              "placeholder": "https://drive.google.com/file/d/.../view"
            },
            {
              "fieldLabel": "First_Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Last_Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Full_Client_Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Client_Email",
              "requiredField": true
            },
            {
              "fieldLabel": "Client_Title",
              "requiredField": true
            },
            {
              "fieldLabel": "Company_Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Project_Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Project_Scope",
              "requiredField": true
            },
            {
              "fieldLabel": "Company_Address"
            },
            {
              "fieldLabel": "Company_City"
            },
            {
              "fieldLabel": "Company_State",
              "requiredField": true
            },
            {
              "fieldLabel": "Company_Zipcode"
            },
            {
              "fieldLabel": "Project_Start_Date",
              "requiredField": true
            },
            {
              "fieldLabel": "Project_End_Date",
              "requiredField": true
            },
            {
              "fieldLabel": "Total_Project_Cost",
              "requiredField": true
            },
            {
              "fieldLabel": "Initial_Payment",
              "requiredField": true
            },
            {
              "fieldLabel": "Final_Payment",
              "requiredField": true
            },
            {
              "fieldLabel": "Retainer_Cost",
              "placeholder": "$100/month",
              "requiredField": true
            },
            {
              "fieldLabel": "Has_Fixed_Cost",
              "placeholder": "Yes/No",
              "requiredField": true
            },
            {
              "fieldLabel": "Has_Retainer",
              "placeholder": "Yes/No",
              "requiredField": true
            },
            {
              "fieldLabel": "Retainer_Description"
            },
            {
              "fieldLabel": "Retainer_For_Invoice",
              "placeholder": "$200"
            },
            {
              "fieldLabel": "Compliance_Terms",
              "placeholder": "HIPAA, SOC2, etc."
            },
            {
              "fieldLabel": "Contract_Length",
              "placeholder": "6 months"
            },
            {
              "fieldLabel": "Notion_Contact_ID",
              "requiredField": true
            }
          ]
        },
        "options": {
          "buttonLabel": "Generate Contract"
        }
      },
      "id": "wf5-node-1",
      "name": "SOW Contract Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "sow-contract-form",
      "notes": "Form for Anthony to submit new client contract details. Includes Proposal_Google_Drive_URL for extracting proposal details, plus all project scope, financial terms, compliance requirements, and Notion contact ID."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "calc-retainer-cents",
              "name": "retainer_cents",
              "value": "={{ Math.round(Number(String($json.Retainer_Cost || '0').replace(/[^0-9.]/g, '')) * 100) }}",
              "type": "string"
            },
            {
              "id": "calc-fixed-cents",
              "name": "fixed_cents",
              "value": "={{ Math.round(Number(String($json.Initial_Payment || '0').replace(/[^0-9.]/g, '')) * 100) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "wf5-node-2",
      "name": "Calculate Amounts",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [470, 300]
    },
    {
      "parameters": {
        "jsCode": "const url = $('SOW Contract Form').first().json.Proposal_Google_Drive_URL || '';\nconst match = url.match(/\\/d\\/([a-zA-Z0-9_-]+)/);\nconst fileId = match ? match[1] : '';\nreturn [{ json: { proposal_file_id: fileId } }];"
      },
      "id": "wf5-node-3",
      "name": "Extract Proposal File ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300],
      "notes": "Parses the Google Drive URL to extract the file ID for downloading the proposal PDF."
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.proposal_file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "wf5-node-4",
      "name": "Download Proposal PDF",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [910, 300],
      "notes": "Downloads the proposal PDF from Google Drive using the extracted file ID."
    },
    {
      "parameters": {
        "jsCode": "// Extract text content from the downloaded PDF binary\nconst binaryData = $input.first().binary?.data;\nlet proposalText = '';\nif (binaryData) {\n  proposalText = Buffer.from(binaryData.data, 'base64').toString('utf-8').substring(0, 10000);\n}\n// The form fields already have the key details, so the proposal is supplementary\nreturn [{ json: { proposal_text: proposalText } }];"
      },
      "id": "wf5-node-5",
      "name": "Extract Proposal Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 300],
      "notes": "Extracts raw text from the proposal PDF binary data. This text is sent to Claude for structured extraction."
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a business analyst. Extract key details from this proposal text. Confirm or supplement the following form data:\n\nProject Name: {{ $('SOW Contract Form').first().json.Project_Name }}\nProject Scope: {{ $('SOW Contract Form').first().json.Project_Scope }}\nTimeline: {{ $('SOW Contract Form').first().json.Project_Start_Date }} to {{ $('SOW Contract Form').first().json.Project_End_Date }}\nTotal Cost: {{ $('SOW Contract Form').first().json.Total_Project_Cost }}\n\nProposal text:\n{{ $json.proposal_text }}\n\nReturn a JSON object with these fields:\n- confirmed_scope: the project scope (confirmed or enhanced from proposal)\n- deliverables: array of key deliverables found in the proposal\n- timeline_notes: any timeline details from the proposal\n- pricing_notes: any pricing details or payment terms from the proposal\n- additional_notes: anything else relevant not captured above\n\nReturn ONLY valid JSON, no markdown fences."
            }
          ]
        },
        "options": {
          "maxTokensToSample": 1024
        }
      },
      "id": "wf5-node-6",
      "name": "Claude: Extract Proposal Details",
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [1350, 300],
      "credentials": {
        "anthropicApi": {
          "id": "au1c518sMzUt89ul",
          "name": "VV Claude"
        }
      },
      "notes": "Sends the extracted proposal text to Claude to confirm/extract structured project details (scope, deliverables, timeline, pricing). Supplements form data."
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('SOW Contract Form').item.json.Company_Name }}-{{ $('SOW Contract Form').item.json.Full_Client_Name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "YOUR_CLIENTS_FOLDER_ID",
          "mode": "id"
        },
        "options": {}
      },
      "id": "wf5-node-7",
      "name": "Create/Find Client Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1570, 200],
      "notes": "Creates client folder in Google Drive (or uses existing one if already created in Step 4)."
    },
    {
      "parameters": {
        "operation": "Fill a PDF Form",
        "url": "https://drive.google.com/file/d/YOUR_SOW_TEMPLATE_FILE_ID/view?usp=sharing",
        "fields": {
          "metadataValues": [
            {
              "fieldName": "Full_Client_Name",
              "text": "={{ $('SOW Contract Form').item.json.Full_Client_Name }}",
              "size": "12",
              "fontBold": true,
              "fontName": "Times New Roman"
            },
            {
              "fieldName": "Client_Title",
              "text": "={{ $('SOW Contract Form').item.json.Client_Title }}",
              "size": "12",
              "fontBold": true,
              "fontName": "Times New Roman"
            },
            {
              "fieldName": "{Company_Name}",
              "text": "={{ $('SOW Contract Form').item.json.Company_Name }}",
              "size": "12",
              "fontBold": true,
              "fontName": "Times New Roman"
            },
            {
              "fieldName": "Project_Name",
              "text": "={{ $('SOW Contract Form').item.json.Project_Name }}",
              "size": "12",
              "fontBold": true,
              "fontName": "Times New Roman"
            },
            {
              "fieldName": "Company_Address",
              "text": "={{ $('SOW Contract Form').item.json.Company_Address }}",
              "size": "12",
              "fontName": "Times New Roman"
            },
            {
              "fieldName": "Company_State",
              "text": "={{ $('SOW Contract Form').item.json.Company_State }}",
              "size": "12",
              "fontName": "Times New Roman"
            },
            {
              "fieldName": "Project_Start_Date",
              "text": "={{ $('SOW Contract Form').item.json.Project_Start_Date }}",
              "size": "12",
              "fontBold": true,
              "fontName": "Times New Roman"
            },
            {
              "fieldName": "Project_End_Date",
              "text": "={{ $('SOW Contract Form').item.json.Project_End_Date }}",
              "size": "12",
              "fontBold": true,
              "fontName": "Times New Roman"
            },
            {
              "fieldName": "Total_Project_Cost",
              "text": "={{ $('SOW Contract Form').item.json.Total_Project_Cost }}",
              "size": "12",
              "fontBold": true,
              "fontName": "Times New Roman"
            },
            {
              "fieldName": "Initial_Payment",
              "text": "={{ $('SOW Contract Form').item.json.Initial_Payment }}",
              "size": "12",
              "fontBold": true,
              "fontName": "Times New Roman"
            },
            {
              "fieldName": "Final_Payment",
              "text": "={{ $('SOW Contract Form').item.json.Final_Payment }}",
              "size": "12",
              "fontBold": true,
              "fontName": "Times New Roman"
            },
            {
              "fieldName": "Retainer_Cost",
              "text": "={{ $('SOW Contract Form').item.json.Retainer_Cost }}",
              "size": "12",
              "fontBold": true,
              "fontName": "Times New Roman"
            },
            {
              "fieldName": "Project_Scope",
              "text": "={{ $('SOW Contract Form').item.json.Project_Scope }}",
              "size": "12",
              "fontBold": true,
              "fontName": "Times New Roman"
            },
            {
              "fieldName": "Compliance_Terms",
              "text": "={{ $('SOW Contract Form').item.json.Compliance_Terms || 'N/A' }}",
              "size": "12",
              "fontName": "Times New Roman"
            },
            {
              "fieldName": "Contract_Length",
              "text": "={{ $('SOW Contract Form').item.json.Contract_Length || 'As specified' }}",
              "size": "12",
              "fontName": "Times New Roman"
            }
          ]
        },
        "advancedOptions": {}
      },
      "id": "wf5-node-8",
      "name": "PDFco: Fill SOW Template",
      "type": "n8n-nodes-pdfco.PDFco Api",
      "typeVersion": 1,
      "position": [1570, 400],
      "notes": "Fills the SOW PDF template with all client and project details including compliance terms and contract length."
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "wf5-node-9",
      "name": "Download Filled PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1790, 400]
    },
    {
      "parameters": {
        "name": "=SoW-{{ $('SOW Contract Form').item.json.Project_Name }}-{{ $('SOW Contract Form').item.json.Company_Name }}-Unsigned",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create/Find Client Folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "wf5-node-10",
      "name": "Upload Contract to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [2010, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.signwell.com/api/v1/documents/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "YOUR_SIGNWELL_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"test_mode\": false,\n  \"draft\": true,\n  \"text_tags\": true,\n  \"name\": \"Veteran Vectors SoW - {{ $('SOW Contract Form').item.json.Project_Name }} - {{ $('SOW Contract Form').item.json.Company_Name }}\",\n  \"files\": [{\n    \"name\": \"SoW-{{ $('SOW Contract Form').item.json.Project_Name }}-{{ $('SOW Contract Form').item.json.Company_Name }}.pdf\",\n    \"file_url\": {{ JSON.stringify($('Download Filled PDF').item.json.url || '') }}\n  }],\n  \"recipients\": [\n    { \"id\": 1, \"email\": \"anthony@veteranvectors.io\", \"name\": \"Anthony Pinto\" },\n    { \"id\": 2, \"email\": {{ JSON.stringify($('SOW Contract Form').item.json.Client_Email) }}, \"name\": {{ JSON.stringify($('SOW Contract Form').item.json.Full_Client_Name) }} }\n  ]\n}",
        "options": {}
      },
      "id": "wf5-node-11",
      "name": "Create SignWell Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [2230, 400],
      "notes": "Creates a SignWell document for e-signatures. Uses JSON.stringify for proper escaping. SOW goes out solely from SignWell — no draft email."
    },
    {
      "parameters": {
        "amount": 15
      },
      "id": "wf5-node-12",
      "name": "Wait for SignWell Processing",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2450, 400],
      "webhookId": "wf5-signwell-wait"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.signwell.com/api/v1/documents/{{ $('Create SignWell Document').item.json.id }}/send/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "YOUR_SIGNWELL_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"test_mode\": false,\n  \"email_subject\": \"SoW - {{ $('SOW Contract Form').item.json.Project_Name }} - {{ $('SOW Contract Form').item.json.Company_Name }}\",\n  \"email_message\": \"Hi {{ $('SOW Contract Form').item.json.First_Name }},\\n\\nPlease review and sign this Statement of Work for \\\"{{ $('SOW Contract Form').item.json.Project_Name }}\\\".\\n\\nThanks,\\nAnthony\"\n}",
        "options": {}
      },
      "id": "wf5-node-13",
      "name": "Send Contract for Signing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [2670, 400],
      "notes": "Sends the SOW for signing via SignWell. This is the ONLY way the SOW reaches the client — no separate draft email."
    },
    {
      "parameters": {
        "resource": "customer",
        "operation": "create",
        "name": "={{ $('SOW Contract Form').item.json.Full_Client_Name }}",
        "additionalFields": {
          "email": "={{ $('SOW Contract Form').item.json.Client_Email }}",
          "description": "=Veteran Vectors - {{ $('SOW Contract Form').item.json.Project_Name }}",
          "metadata": {
            "metadataProperties": [
              {
                "key": "Company",
                "value": "={{ $('SOW Contract Form').item.json.Company_Name }}"
              }
            ]
          }
        }
      },
      "id": "wf5-node-14",
      "name": "Stripe: Create Customer",
      "type": "n8n-nodes-base.stripe",
      "typeVersion": 1,
      "position": [690, 700]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $('SOW Contract Form').item.json.Has_Fixed_Cost }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "wf5-node-15",
      "name": "Has Fixed Cost?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [910, 700]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.stripe.com/v1/invoiceitems",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "stripeApi",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "customer",
              "value": "={{ $('Stripe: Create Customer').item.json.id }}"
            },
            {
              "name": "amount",
              "value": "={{ $('Calculate Amounts').item.json.fixed_cents }}"
            },
            {
              "name": "currency",
              "value": "usd"
            },
            {
              "name": "description",
              "value": "={{ $('SOW Contract Form').item.json.Project_Name }} - Initial Payment"
            }
          ]
        },
        "options": {}
      },
      "id": "wf5-node-16",
      "name": "Stripe: Invoice Item",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1130, 650]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.stripe.com/v1/invoices",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "stripeApi",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "customer",
              "value": "={{ $json.customer }}"
            },
            {
              "name": "collection_method",
              "value": "send_invoice"
            },
            {
              "name": "days_until_due",
              "value": "7"
            },
            {
              "name": "auto_advance",
              "value": "false"
            },
            {
              "name": "pending_invoice_items_behavior",
              "value": "include"
            }
          ]
        },
        "options": {}
      },
      "id": "wf5-node-17",
      "name": "Stripe: Create Invoice (Draft)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1350, 650],
      "notes": "Creates invoice as DRAFT (auto_advance=false). Invoice is NOT sent until SOW is signed by all parties."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ Number($('Calculate Amounts').item.json.retainer_cents) }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "wf5-node-18",
      "name": "Has Retainer?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1570, 700]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.stripe.com/v1/prices",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "stripeApi",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "product",
              "value": "prod_YOUR_RETAINER_PRODUCT_ID"
            },
            {
              "name": "unit_amount",
              "value": "={{ $('Calculate Amounts').item.json.retainer_cents }}"
            },
            {
              "name": "currency",
              "value": "usd"
            },
            {
              "name": "recurring[interval]",
              "value": "month"
            }
          ]
        },
        "options": {}
      },
      "id": "wf5-node-19",
      "name": "Stripe: Create Retainer Price",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1790, 650]
    },
    {
      "parameters": {
        "jsCode": "const endDateStr = $('SOW Contract Form').first().json.Project_End_Date;\nconst endDate = new Date(endDateStr);\n// First of next full month after project end date\n// e.g., if project ends April 5th, retainer starts May 1st\nconst retainerStart = new Date(endDate.getFullYear(), endDate.getMonth() + 1, 1);\nconst billingAnchorTimestamp = Math.floor(retainerStart.getTime() / 1000);\nreturn [{ json: {\n  retainer_start_date: retainerStart.toISOString(),\n  billing_cycle_anchor: billingAnchorTimestamp,\n  price_id: $json.id\n}}];"
      },
      "id": "wf5-node-20",
      "name": "Calculate Retainer Start Date",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2010, 650],
      "notes": "Calculates the retainer start date as the 1st of the next full month after Project_End_Date. E.g., project ends April 5th → retainer starts May 1st."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.stripe.com/v1/subscriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "stripeApi",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "customer",
              "value": "={{ $('Stripe: Create Customer').item.json.id }}"
            },
            {
              "name": "items[0][price]",
              "value": "={{ $json.price_id }}"
            },
            {
              "name": "billing_cycle_anchor",
              "value": "={{ $json.billing_cycle_anchor }}"
            },
            {
              "name": "proration_behavior",
              "value": "none"
            },
            {
              "name": "collection_method",
              "value": "send_invoice"
            },
            {
              "name": "days_until_due",
              "value": "3"
            },
            {
              "name": "pause_collection[behavior]",
              "value": "void"
            }
          ]
        },
        "options": {}
      },
      "id": "wf5-node-21",
      "name": "Stripe: Create Subscription (Paused)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [2230, 650],
      "notes": "Creates the retainer subscription PAUSED with billing_cycle_anchor set to 1st of next full month after project end date. Will be resumed after invoice payment."
    },
    {
      "id": "wf5-node-22",
      "name": "Update Notion (Contract Sent)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [2890, 300],
      "credentials": {
        "notionApi": {
          "id": "YOUR_NOTION_CRED_ID",
          "name": "Notion account"
        }
      },
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": "={{ $('SOW Contract Form').item.json.Notion_Contact_ID }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Contract Sent"
            },
            {
              "key": "Last Contact Date|date",
              "dateValue": "={{ $now.toISO() }}",
              "includeTime": true
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "wf5-node-23",
      "name": "Create Notion Project",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [3110, 300],
      "credentials": {
        "notionApi": {
          "id": "YOUR_NOTION_CRED_ID",
          "name": "Notion account"
        }
      },
      "notes": "Creates a Notion Project record linked to the Client contact.",
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "value": "YOUR_NOTION_PROJECTS_DB_ID",
          "mode": "id"
        },
        "title": "={{ $('SOW Contract Form').item.json.Project_Name }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Client|relation",
              "relationValue": [
                "={{ $('SOW Contract Form').item.json.Notion_Contact_ID }}"
              ]
            },
            {
              "key": "Project Status|select",
              "selectValue": "Contract Sent"
            },
            {
              "key": "Project Cost|number",
              "numberValue": "={{ Number(String($('SOW Contract Form').item.json.Total_Project_Cost || '0').replace(/[^0-9.]/g, '')) || 0 }}"
            },
            {
              "key": "Start Date|date",
              "dateValue": "={{ $('SOW Contract Form').item.json.Project_Start_Date }}",
              "includeTime": false
            },
            {
              "key": "Retainer|number",
              "numberValue": "={{ Number(String($('SOW Contract Form').item.json.Retainer_Cost || '0').replace(/[^0-9.]/g, '')) || 0 }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "parameters": {
        "jsCode": "// Collect Stripe IDs from previous nodes — handles cases where subscription may not exist\nconst customerId = $('Stripe: Create Customer').first()?.json?.id || '';\nlet invoiceId = '';\nlet subscriptionId = '';\ntry { invoiceId = $('Stripe: Create Invoice (Draft)').first()?.json?.id || ''; } catch(e) {}\ntry { subscriptionId = $('Stripe: Create Subscription (Paused)').first()?.json?.id || ''; } catch(e) {}\nreturn [{ json: { stripe_customer_id: customerId, stripe_invoice_id: invoiceId, stripe_subscription_id: subscriptionId } }];"
      },
      "id": "wf5-node-24",
      "name": "Collect Stripe IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2450, 700],
      "notes": "Collects all Stripe IDs (customer, invoice, subscription) for persistence to Notion."
    },
    {
      "id": "wf5-node-25",
      "name": "Save Stripe IDs to Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [2670, 700],
      "credentials": {
        "notionApi": {
          "id": "YOUR_NOTION_CRED_ID",
          "name": "Notion account"
        }
      },
      "notes": "Persists Stripe customer, invoice, and subscription IDs to the Notion contact.",
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": "={{ $('SOW Contract Form').item.json.Notion_Contact_ID }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Stripe Customer ID|rich_text",
              "richTextValue": "={{ $json.stripe_customer_id || '' }}"
            },
            {
              "key": "Stripe Invoice ID|rich_text",
              "richTextValue": "={{ $json.stripe_invoice_id || '' }}"
            },
            {
              "key": "Stripe Subscription ID|rich_text",
              "richTextValue": "={{ $json.stripe_subscription_id || '' }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {
          "webhookSuffix": "signwell-sow-signed"
        }
      },
      "id": "wf5-node-26",
      "name": "Wait for SOW Signing",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [3330, 500],
      "webhookId": "wf5-wait-sow-signed",
      "notes": "Pauses the workflow and waits for SignWell's document.completed webhook callback. Resumes when all parties have signed the SOW."
    },
    {
      "parameters": {
        "jsCode": "// Parse the SignWell webhook payload to verify all parties signed\nconst webhookData = $json.body || $json;\nconst documentStatus = webhookData.status || webhookData.document?.status || '';\nconst recipients = webhookData.recipients || webhookData.document?.recipients || [];\n\nlet allSigned = true;\nfor (const recipient of recipients) {\n  if (recipient.status !== 'signed' && recipient.status !== 'completed') {\n    allSigned = false;\n    break;\n  }\n}\n\nconst isCompleted = documentStatus === 'completed' || documentStatus === 'signed';\n\nreturn [{ json: {\n  all_signatures_verified: allSigned && isCompleted,\n  document_status: documentStatus,\n  signer_count: recipients.length,\n  webhook_received_at: new Date().toISOString()\n}}];"
      },
      "id": "wf5-node-27",
      "name": "Verify All Signatures",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3550, 500],
      "notes": "Parses the SignWell webhook payload to confirm all parties have signed the document."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.stripe.com/v1/invoices/{{ $('Collect Stripe IDs').first().json.stripe_invoice_id }}/finalize",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "stripeApi",
        "options": {}
      },
      "id": "wf5-node-28",
      "name": "Stripe: Finalize Invoice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [3770, 500],
      "notes": "Finalizes the draft invoice after SOW is signed by all parties."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.stripe.com/v1/invoices/{{ $('Collect Stripe IDs').first().json.stripe_invoice_id }}/send",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "stripeApi",
        "options": {}
      },
      "id": "wf5-node-29",
      "name": "Stripe: Send Invoice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [3990, 500],
      "notes": "Sends the finalized invoice to the client. Only happens after SOW is fully signed."
    },
    {
      "id": "wf5-node-30",
      "name": "Update Notion (Contract Signed)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [4210, 500],
      "credentials": {
        "notionApi": {
          "id": "YOUR_NOTION_CRED_ID",
          "name": "Notion account"
        }
      },
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": "={{ $('SOW Contract Form').item.json.Notion_Contact_ID }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Contract Signed"
            },
            {
              "key": "Last Contact Date|date",
              "dateValue": "={{ $now.toISO() }}",
              "includeTime": true
            }
          ]
        },
        "options": {}
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {
          "webhookSuffix": "stripe-invoice-paid"
        }
      },
      "id": "wf5-node-31",
      "name": "Wait for Invoice Payment",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [4430, 500],
      "webhookId": "wf5-wait-invoice-paid",
      "notes": "Pauses the workflow and waits for Stripe's invoice.paid webhook callback. Resumes when the upfront invoice has been paid."
    },
    {
      "parameters": {
        "jsCode": "// Parse the Stripe webhook payload to confirm payment\nconst webhookData = $json.body || $json;\nconst eventType = webhookData.type || '';\nconst invoice = webhookData.data?.object || {};\nconst isPaid = invoice.status === 'paid' || eventType === 'invoice.paid';\nconst amountPaid = invoice.amount_paid || 0;\n\nreturn [{ json: {\n  payment_verified: isPaid,\n  invoice_id: invoice.id || '',\n  amount_paid_cents: amountPaid,\n  customer_id: invoice.customer || '',\n  payment_received_at: new Date().toISOString()\n}}];"
      },
      "id": "wf5-node-32",
      "name": "Verify Payment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4650, 500],
      "notes": "Parses the Stripe invoice.paid webhook payload to confirm payment was received."
    },
    {
      "parameters": {
        "sendTo": "={{ $('SOW Contract Form').item.json.Client_Email }}",
        "subject": "Welcome to Veteran Vectors — Let's Get Started!",
        "emailType": "html",
        "message": "=<h2>Welcome to Veteran Vectors!</h2>\n<p>Hi {{ $('SOW Contract Form').item.json.First_Name }},</p>\n<p>Thank you for your payment — we're officially ready to kick things off! Here's a quick summary of where we stand:</p>\n<hr>\n<p><strong>Project:</strong> {{ $('SOW Contract Form').item.json.Project_Name }}</p>\n<p><strong>Scope:</strong> {{ $('SOW Contract Form').item.json.Project_Scope }}</p>\n<p><strong>Timeline:</strong> {{ $('SOW Contract Form').item.json.Project_Start_Date }} – {{ $('SOW Contract Form').item.json.Project_End_Date }}</p>\n<p><strong>Investment:</strong> {{ $('SOW Contract Form').item.json.Total_Project_Cost }}</p>\n{{ $('SOW Contract Form').item.json.Has_Retainer === 'Yes' ? '<p><strong>Monthly Retainer:</strong> ' + $('SOW Contract Form').item.json.Retainer_Cost + ' (starts after project completion)</p>' : '' }}\n<hr>\n<h3>Next Steps</h3>\n<ol>\n<li><strong>Kickoff Call:</strong> Let's schedule our first working session. Please use <a href=\"https://calendly.com/veteranvectors/kickoff\">this link</a> to book a time that works for you.</li>\n<li><strong>Access &amp; Onboarding:</strong> We'll send over any access requests or onboarding materials within the next 24-48 hours.</li>\n<li><strong>Communication:</strong> You can reach us anytime by replying to this email or via our project channel.</li>\n</ol>\n<p>We're excited to build something great together. Welcome aboard!</p>\n<p>— Anthony, Veteran Vectors</p>",
        "options": {}
      },
      "id": "wf5-node-33",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [4870, 500],
      "credentials": {
        "gmailOAuth2": {
          "id": "r13jnGsjwNOqcBvt",
          "name": "VV Gmail account"
        }
      },
      "notes": "Sends the welcome email to the client ONLY after the upfront invoice has been paid. Includes project details, next steps, and kickoff scheduling link."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.stripe.com/v1/subscriptions/{{ $('Collect Stripe IDs').first().json.stripe_subscription_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "stripeApi",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "pause_collection",
              "value": ""
            }
          ]
        },
        "options": {}
      },
      "id": "wf5-node-34",
      "name": "Resume Retainer Subscription",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [5090, 500],
      "notes": "Resumes the paused retainer subscription after invoice payment is confirmed. Subscription will start billing on the 1st of next full month after project end date."
    },
    {
      "id": "wf5-node-35",
      "name": "Update Notion (Project Started)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [5310, 500],
      "credentials": {
        "notionApi": {
          "id": "YOUR_NOTION_CRED_ID",
          "name": "Notion account"
        }
      },
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": "={{ $('SOW Contract Form').item.json.Notion_Contact_ID }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Project Started"
            },
            {
              "key": "Last Contact Date|date",
              "dateValue": "={{ $now.toISO() }}",
              "includeTime": true
            }
          ]
        },
        "options": {}
      },
      "notes": "Final Notion status update marking the project as officially started after payment and welcome email."
    }
  ],
  "pinData": {},
  "connections": {
    "SOW Contract Form": {
      "main": [
        [
          {
            "node": "Calculate Amounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Amounts": {
      "main": [
        [
          {
            "node": "Extract Proposal File ID",
            "type": "main",
            "index": 0
          },
          {
            "node": "Stripe: Create Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Proposal File ID": {
      "main": [
        [
          {
            "node": "Download Proposal PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Proposal PDF": {
      "main": [
        [
          {
            "node": "Extract Proposal Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Proposal Text": {
      "main": [
        [
          {
            "node": "Claude: Extract Proposal Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude: Extract Proposal Details": {
      "main": [
        [
          {
            "node": "Create/Find Client Folder",
            "type": "main",
            "index": 0
          },
          {
            "node": "PDFco: Fill SOW Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create/Find Client Folder": {
      "main": [
        []
      ]
    },
    "PDFco: Fill SOW Template": {
      "main": [
        [
          {
            "node": "Download Filled PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Filled PDF": {
      "main": [
        [
          {
            "node": "Upload Contract to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Contract to Drive": {
      "main": [
        [
          {
            "node": "Create SignWell Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create SignWell Document": {
      "main": [
        [
          {
            "node": "Wait for SignWell Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for SignWell Processing": {
      "main": [
        [
          {
            "node": "Send Contract for Signing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Contract for Signing": {
      "main": [
        [
          {
            "node": "Update Notion (Contract Sent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Notion (Contract Sent)": {
      "main": [
        [
          {
            "node": "Create Notion Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Notion Project": {
      "main": [
        [
          {
            "node": "Wait for SOW Signing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stripe: Create Customer": {
      "main": [
        [
          {
            "node": "Has Fixed Cost?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Fixed Cost?": {
      "main": [
        [
          {
            "node": "Stripe: Invoice Item",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has Retainer?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stripe: Invoice Item": {
      "main": [
        [
          {
            "node": "Stripe: Create Invoice (Draft)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stripe: Create Invoice (Draft)": {
      "main": [
        [
          {
            "node": "Has Retainer?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Retainer?": {
      "main": [
        [
          {
            "node": "Stripe: Create Retainer Price",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Collect Stripe IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stripe: Create Retainer Price": {
      "main": [
        [
          {
            "node": "Calculate Retainer Start Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Retainer Start Date": {
      "main": [
        [
          {
            "node": "Stripe: Create Subscription (Paused)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stripe: Create Subscription (Paused)": {
      "main": [
        [
          {
            "node": "Collect Stripe IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Stripe IDs": {
      "main": [
        [
          {
            "node": "Save Stripe IDs to Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Stripe IDs to Notion": {
      "main": [
        []
      ]
    },
    "Wait for SOW Signing": {
      "main": [
        [
          {
            "node": "Verify All Signatures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify All Signatures": {
      "main": [
        [
          {
            "node": "Stripe: Finalize Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stripe: Finalize Invoice": {
      "main": [
        [
          {
            "node": "Stripe: Send Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stripe: Send Invoice": {
      "main": [
        [
          {
            "node": "Update Notion (Contract Signed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Notion (Contract Signed)": {
      "main": [
        [
          {
            "node": "Wait for Invoice Payment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Invoice Payment": {
      "main": [
        [
          {
            "node": "Verify Payment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Payment": {
      "main": [
        [
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Email": {
      "main": [
        [
          {
            "node": "Resume Retainer Subscription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume Retainer Subscription": {
      "main": [
        [
          {
            "node": "Update Notion (Project Started)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "step5-v5-sow-signing-payment-gates",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "",
  "tags": []
}